[2021-06-25 15:13] melchoyce commented on #200
Made some minor adjustments for balance, and to bring in thematic copy. Let me know if you think this works!

![image](https://user-images.githubusercontent.com/2846578/123445530-f7e17480-d5a5-11eb-95b8-e21a66f573a9.png)

[code]

Mount Fuji (ca.1932) print in high resolution by Hiroaki Takahashi. Original from The Los Angeles County Museum of Art. CC0.
https://www.rawpixel.com/image/3063921/free-i

[2021-06-25 15:24] melchoyce commented on #199
Updated this pattern with some new copy, and tried to make the quote distinct from the CTA:

![image](https://user-images.githubusercontent.com/2846578/123447249-a20dcc00-d5a7-11eb-8644-13c2d0394b57.png)

[code]

Let me know if this works!

[2021-06-25 17:17] kjellr commented on #205
This looks great. Thanks @webmandesign for the initial pattern, and @melchoyce for the iteration!

[2021-06-25 17:18] kjellr commented on #200
I like this iteration — I'm not sure that we have any patterns that use the gallery block actually. 😅 So this would make a great addition.

[2021-06-25 17:19] kjellr commented on #199
Nice work, you two! I like additional of the black background on the left. It helps reinforce the hierarchy by attracting your eye first to the quote, and then over to the CTA button. Let's add this to the directory!

[2021-06-26 09:37] webmandesign commented on #193
Thanks for feedback!

There are indeed multiple ways of approaching this layout and I like your approach @kjellr. In my opinion it also looks good on mobile screens. Though I'm wondering how were you able to set padding with `em` unit?

I use Twenty Twenty-One theme to build patterns for here and that theme does not allow me to choose padding unit. Is this possible only when Gutenberg plugin is ac

[2021-06-26 09:47] webmandesign commented on #205
Hey guys! Thanks for the feedback and @melchoyce for update.

I have just one additional note here:
Originally the idea was that the white stripe goes all the way through the background image. But this is not possible to achieve with Twenty Twenty-One theme that I use for creating these patterns.

Basically I wanted to recreate a pattern I've used in my [Michelle theme](https://wordpress.org/theme

[2021-06-26 09:49] webmandesign commented on #199
@melchoyce Wow, I love your updated version! Great job!

[2021-06-26 09:52] webmandesign commented on #193
Now that I think of it, it makes sense if you use up to date Gutenberg plugin as the pattern directory will be released with WP 5.8 which will contain updated editor too.
So, does this mean I can go ahead and treat myself with Gutenberg plugin when building these patterns? :)

[2021-06-26 10:06] webmandesign commented on #200
@melchoyce Thanks for the iteration! To me it feels more like #209 :)

For this one I went specifically for placing the button in between/after images. The ideal layout would be without spacing between images and button, but I was not able to achieve that with Twenty Twetnty-One theme.

Here is what I wanted to replicate originally:

![interesting-cta](https://user-images.githubusercontent.com/245

[2021-06-26 10:45] webmandesign commented on #218
I've updated the pattern copy text:
![page-intro-with-2-images-and-description](https://user-images.githubusercontent.com/2456735/123510515-5aa53f80-d67c-11eb-8429-207c7fadf5e1.jpg)

[2021-06-26 11:03] webmandesign commented on #217
Updated copy text:
![team](https://user-images.githubusercontent.com/2456735/123510980-f5068280-d67e-11eb-9ca1-134c70480617.jpg)

[2021-06-26 11:18] webmandesign commented on #212
Updated texts and removed images of signature.

![team-founders](https://user-images.githubusercontent.com/2456735/123511313-d608f000-d680-11eb-8158-b6bcf95f9496.jpg)

[2021-06-26 11:45] webmandesign commented on #208
Updated to:

![large-text-with-quote-and-signature](https://user-images.githubusercontent.com/2456735/123511924-b07de580-d684-11eb-9aef-54eb41398c64.jpg)

[2021-06-28 08:14] lsl commented on #223
To expand on this and share some context, we created a set of "block parsers" that extract or replace translatable text in block html. This resulted in a `translate` function usable on block html that only modifies the translatable text within html plain text nodes or defined attributes.

I'm not sure if the WordPress.com approach is applicable here, we had the need to translate raw block html so

[2021-06-28 13:36] javierarce opened #233 "Round the precision of the viewport width control"
The current control that shows the viewport width is currently showing numbers with high precision, which I don't think is very useful to the users.

<img width="1125" alt="Screenshot 2021-06-28 at 15 33 25" src="https://user-images.githubusercontent.com/4933/123645010-38e7bc00-d826-11eb-8d87-45a429fd046e.png">

I think we could just round the number with `Math.floor` or `Math.round` to get an num

[2021-06-28 13:41] javierarce opened #234 "Hide "More from this designer" in case there's just one pattern"
If a user has just one pattern, we are currently showing the "More from this designer" section.

In the future, I imagine that we could show related patterns using the tags or the description of the current item, but for the time being I think we should hide this section completely.

<img width="1093" alt="Screenshot 2021-06-28 at 15 38 31" src="https://user-images.githubusercontent.com/4933/12364

[2021-06-28 13:42] kjellr commented on #228
**Follow Card**

Just finished updating this one. The icon colors weren't being picked up because they were using a Twenty Twenty-One block style, rather than the built-in block style properties. When I changed that, the icons were no longer left-aligned (since they include some extra padding). So I centered them to even things out. Before and after:

<img width="639" alt="Screen Shot 2021-06-28 a

[2021-06-28 14:15] beafialho commented on #228
**Call to action with columns of text**

I've updated this pattern to be simpler and shorter, also changed the image. It's live [here](https://wordpress.org/patterns/pattern/call-to-action-with-columns-of-text/).

<img width="1510" alt="Captura de ecrã 2021-06-28, às 15 12 48" src="https://user-images.githubusercontent.com/65220155/123651495-6e3eda80-d823-11eb-8c33-1a786f9f0dfe.png">

[2021-06-28 14:16] kjellr commented on #228
**Pricing Table**

This one is updated. I shortened the name of the membership levels so they don't break in the preview, and I moved the price down to the button for simplicity.

<img width="1116" alt="Screen Shot 2021-06-28 at 10 14 26 AM" src="https://user-images.githubusercontent.com/1202812/123651896-d7a9f380-d7f9-11eb-9ac3-615518d682be.png">

[2021-06-28 14:19] melchoyce commented on #214
What do you think about removing the text? I love how the image feels framed:

![image](https://user-images.githubusercontent.com/2846578/123652448-4d15c400-d7fa-11eb-85c5-447a899c9b2b.png)

[2021-06-28 14:22] kjellr commented on #228
**How it Works**

This one's been simplified too. The button color will now be the theme defaults:

<img width="1440" alt="Screen Shot 2021-06-28 at 10 21 21 AM" src="https://user-images.githubusercontent.com/1202812/123652937-b8f82c80-d7fa-11eb-8976-7f7ef25d1d28.png">

[2021-06-28 14:24] kjellr commented on #214
Yeah, I like that. It's simple and works well without any text. Let's add it!

[2021-06-28 14:26] melchoyce commented on #199
Published this: https://wordpress.org/patterns/pattern/call-to-action-with-testimonial/

Thanks @webmandesign!

[2021-06-28 14:26] #199 closed, assigned to nobody

[2021-06-28 14:52] ryelle commented on #233
😆  Yeah, that's not necessary. What OS/browser are you using? (asking because I don't see that in firefox or safari)

[2021-06-28 15:14] javierarce commented on #233
Oh, sorry, I forgot to have a look at other browsers and assumed it was happening in all of them 🙈… I found this bug using the last version of Chrome and macOS Big Sur.

[2021-06-28 15:32] kjellr commented on #228
**Three column staggered steps**

I've updated the text in this one to fit with the Nature theme:

<img width="1468" alt="Screen Shot 2021-06-28 at 11 25 58 AM" src="https://user-images.githubusercontent.com/1202812/123663553-818e7d80-d804-11eb-8614-ae6dd8e544df.png">

[2021-06-28 15:38] melchoyce commented on #228
I agree we should cut this for now — the responsive columns behavior here makes the pattern feel broken 😕 Hopefully we can figure out a fix in Gutenberg for better responsive column control, or a better way to control the width of the inside box without columns.

[2021-06-28 15:43] kjellr commented on #228
Thanks — I've removed that one for now.

https://github.com/WordPress/gutenberg/pull/32502 might eventually help us control the width there. I'm keeping my fingers crossed. 🙂

[2021-06-28 16:41] #191 closed, assigned to nobody

[2021-06-28 16:52] ryelle commented on #156
@kjellr Having multiple bugs in this one issue makes it hard (for me) to know what's done/what's still a problem. Could you create new issues for the things that are still valid?

[2021-06-28 16:54] kjellr commented on #143
Quick update here:

The directory now appears to use Twenty Nineteen as the base. This is good because it has a white background. But for whatever reason, it's defaulting to a default `serif` font rule for all of the body text, instead of the theme's font stack there.

Even if we fixed that, I'm not sure that Twenty Nineteen is a great "generic" theme to use here. The headings in particular stand

[2021-06-28 16:57] kjellr commented on #156
Sure thing. I think just that last one is valid. I'll close this and migrate that into a new issue.

[2021-06-28 16:57] kjellr opened #235 "Buttons & social links often show the wrong text/icon color"
Buttons & social links often show the wrong text/icon color in the pattern preview.

## Examples:

https://wordpress.org/patterns/pattern/introduction-with-image-on-the-left/
https://wordpress.org/patterns/pattern/contact-and-social-links/

Editor|Frontend Preview
---|---
<img width="1105" alt="Screen Shot 2021-06-21 at 8 17 17 AM" src="https://user-images.githubusercontent.com/1202812/122760514-3

[2021-06-28 16:58] #156 closed, assigned to nobody

[2021-06-28 17:02] kjellr commented on #228
**Illustration of bird with callout**

I'm not sure how to best revise this one. My hesitation around it mostly lies in the large number of differently-proportioned rectangles in the layout. Here's an attempt to simplify it down:

<img width="1167" alt="Screen Shot 2021-06-28 at 12 59 33 PM" src="https://user-images.githubusercontent.com/1202812/123675591-e6e86b80-d810-11eb-8c1f-13a96c0447cf.png">

[2021-06-28 17:17] melchoyce commented on #213
Tried out some new copy and a new background for this one:

![image](https://user-images.githubusercontent.com/2846578/123677512-3465d800-d813-11eb-957e-1137718050e6.png)

[code]

The Battle of the Downs by Willem van de Velde (I), 1659. Public Domain.
http://hdl.handle.net/10934/RM0001.COLLECT.6369

[2021-06-28 17:39] melchoyce commented on #205
Tried to get rid of the spacing and also wasn't able to — hopefully we'll have more control over that in the future!

In the meantime, added this pattern: https://wordpress.org/patterns/pattern/text-column-over-fixed-background/

[2021-06-28 17:39] #205 closed, assigned to nobody

[2021-06-28 18:07] webmandesign commented on #213
@melchoyce Thanks! Love the background image! :)

[2021-06-28 18:13] webmandesign commented on #205
Thanks for adding this!

I think this is actually a theme issue. Twenty Twenty-One applies its own padding on `.wp-block-cover__inner-container` while Gutenberg applies custom padding styles on `.wp-block-cover`. So you can not override the theme padding with editor here.

[2021-06-28 18:21] kjellr commented on #213
Looks great, thanks for the iteration! Let's get this one added to the directory.

[2021-06-28 18:23] kjellr commented on #193
Yeah, feel free to use the plugin to create these!

[2021-06-28 19:24] melchoyce commented on #213
Thanks, added this one! https://wordpress.org/patterns/pattern/section-with-navigation/

[2021-06-28 19:24] #213 closed, assigned to nobody

[2021-06-28 19:28] kjellr commented on #228
**Recipe**

I've updated this to a simpler version, and revised the image and text a little bit:

<img width="549" alt="Screen Shot 2021-06-28 at 3 27 59 PM" src="https://user-images.githubusercontent.com/1202812/123693013-81eb4080-d825-11eb-8e36-83bd00aa8970.png">

[2021-06-28 19:28] melchoyce commented on #195
Hey @0aveRyan! Thanks for your contribution.

I think we're going to hold off this one because we have quite a few media & text patterns in the release collection already:

- https://wordpress.org/patterns/pattern/media-text-with-image-on-the-right/
- https://wordpress.org/patterns/pattern/media-text-in-a-full-height-container/
- https://wordpress.org/patterns/pattern/event/
- https://wordpress.or

[2021-06-28 19:28] #195 closed, assigned to nobody

[2021-06-28 19:31] melchoyce commented on #179
Will we be able to do any query block patterns before the directory launches? Wondering if we should close this one for now & revisit.

[2021-06-28 19:42] ryelle opened #237 "Single Pattern page: Add "patterns with similar categories" section"
This section sits under the "More from this designer" grid (if it exists), and should show patterns in the same categories as the current pattern.

![Pattern Details](https://user-images.githubusercontent.com/541093/123694144-ee1a7400-d826-11eb-9686-6e6774df52b0.png)

It would be easiest to do a full category match, ex, if the current pattern is in both Columns and Text, it should show other patte

[2021-06-28 19:51] ryelle commented on #179
You _could_ create Query Loop patterns, but there's no post content on the site, so the preview won't render anything on the frontend. If you want to make Query Loop patterns, you could create some posts on the site?

[2021-06-28 20:37] melchoyce commented on #200
Ah yeah, not as feasible with current layout options 😕

For now I've gone ahead and added the gallery version, but feel free to resubmit this with your original vision once the directory opens, @webmandesign! https://wordpress.org/patterns/pattern/introduction-with-gallery/

[2021-06-28 20:37] #200 closed, assigned to nobody

[2021-06-28 22:48] #42 closed, assigned to nobody

[2021-06-28 22:52] ryelle commented on #23
- [x] The media blocks will use the existing media in the media library
- [x] Query Loop, archives, etc - can use demo post content added to the site (see my comment on https://github.com/WordPress/pattern-directory/issues/179#issuecomment-869984291)
- [ ] Navigation menu, page list, anything else that uses pages - will need a mock API response, since we don't want to use the site's real pages.

[2021-06-28 22:59] ryelle opened #239 "Theme: Create page to show current user's favorite patterns"
This page should show all patterns the user has saved as favorites.

![Favorites](https://user-images.githubusercontent.com/541093/123713595-c1745580-d842-11eb-8bfd-b0ffdafb6007.png)

- Filtering by category
- The sort dropdown should have "Last updated" and "Views"

[2021-06-28 23:07] ryelle commented on #45
Description has been implemented in the submission modal.

[2021-06-28 23:07] #45 closed, assigned to nobody

[2021-06-28 23:15] ryelle commented on #223
The core patterns used to be PHP (so we could use `__()` etc), but the [Pattern Directory](https://wordpress.org/patterns/) now stores them as post content.

That sounds great, since users will be able to update their (published) patterns. Does that mean, for example, if someone moves or deletes a block, it would not invalidate the rest of the pattern's translations?

[2021-06-28 23:51] #96 closed, assigned to StevenDufresne

[2021-06-29 02:39] lsl commented on #223
Yup! [These are the sort of strings it extracts.](https://translate.wordpress.com/projects/wpcom/block-patterns/fr/default/) This was a key requirement for us as we were originally using it for things like the theme preview pages on wordpress.com/new/ which get modified regularly, [example](https://public-api.wordpress.com/rest/v1/template/demo/bowen/dotcompatterns.wordpress.com/?post_id=3095&lang

[2021-06-29 07:00] tellyworth opened #241 "Image sideloading and CDN hosting"
Once a user adds a pattern from the directory to their post editor, what happens to the URLs for images and other media from the original pattern? I assume they are effectively hotlinking those images from wordpress.org URLs. Which might be ok for placeholders, but we need a plan for how to handle any images URLs that might conceivably get published in a user's post. We probably need to do several

[2021-06-29 14:17] kjellr opened #242 "Pattern preview: Cover background image is stretched"
When previewing this pattern, the images appear stretched out vertically. This is particularly noticeable on the middle image, which is supposed to be a set of concentric circles.

https://wordpress.org/patterns/pattern/triptych-with-two-images-and-a-text-area/

Pattern Preview|Expected
---|---
<img width="1016" alt="Screen Shot 2021-06-29 at 10 15 13 AM" src="https://user-images.githubusercontent

[2021-06-29 14:22] ryelle commented on #242
What browser & OS are you using? I see it cropped correctly (your expected screenshot) in firefox.

[2021-06-29 14:31] melchoyce commented on #227
Love this idea, @critterverse!

I don't think this particular images matches [the existing aesthetic](https://wordpress.org/patterns/) of the directory — what would you think about something like this image and copy instead?

![Screenshot 2021-06-29 at 10-25-53 Cover with Audio – I love WordPress](https://user-images.githubusercontent.com/2846578/123815636-a3e7d000-d8c4-11eb-9b45-cdbd06ac2ec4.png)

[2021-06-29 14:44] kjellr commented on #242
Sorry — I should've included that. Looks like it's only happening in Safari (both on iOS 14.6 and MacOS 11.4 with Safari 14.1.1)

[2021-06-29 14:46] kjellr commented on #227
Looks great. Cool idea to use the NASA audio as well. 👍

[2021-06-29 15:13] iandunn commented on #34
What's the difference between this and #224?

[2021-06-29 15:19] ryelle commented on #34
I guess it's not specifically, but I saw this as more of a tracking issue for i18n -- #224 has the "how to do it", but we haven't really discussed how to make localized patterns available to people browsing the directory.

[2021-06-29 15:49] TimothyBJacobs opened #243 "Consider separating out Core patterns"
When browsing the patterns directory, it isn't immediately clear what patterns I should be able to find in the Block Editor, and which ones can only be found by browsing the pattern directory.

I think it'd be helpful to be able to browse all the Core patterns on the directory since the patterns you'll find in your install both come from .org, but could also be coming from plugins, themes, etc...

[2021-06-29 16:13] melchoyce commented on #227
Awesome, added this: https://wordpress.org/patterns/pattern/cover-with-title-and-audio/

Thanks @critterverse!

[2021-06-29 16:13] #227 closed, assigned to nobody

[2021-06-29 17:24] beafialho commented on #228
**Social Gallery**

Added user icon and name to make the pattern feel more real and updated it in the directory.

![screencapture-blockpatterndesigns-mystagingwebsite-2021-06-28-social-gallery-2021-06-29-18_20_47](https://user-images.githubusercontent.com/65220155/123840958-ea5e1e80-d906-11eb-9b6a-c244c87a250a.png)

[2021-06-29 17:58] coreymckrill commented on #224
I converted this to a tracking issue so we can connect and add other issues for specific parts of this.

[2021-06-29 18:09] coreymckrill commented on #17
Now that we have a locale field (#229) for patterns, here is an idea for the flows of the two "forking" buttons:

**Translate this**

1. Click the button on the single pattern screen
2. Field or modal appears prompting the user to choose the new locale for the translated pattern
3. Confirming this choice loads a new pattern editor screen with the same pattern content but a new value in the locale

[2021-06-29 18:57] kjellr commented on #243
Yeah, we still need to figure out which patterns to highlight in the editor directly, and how best to highlight them. The current set of patterns that are bundled in the editor is not intended to be in there long-term. It would serve us well to have an ever-changing set. There's a Gutenberg issue here to discuss: https://github.com/WordPress/gutenberg/issues/33046.

I do think we can better clarif

[2021-06-29 21:33] iandunn opened #244 "In the pattern search API, use the client locale when querying"
See #223 / #224

Pulls locale from post meta, see #229

# Pre-launch

- [x] Use `locale` param when querying patterns (`WP_Query`)
- [x] Add e2e test -- https://meta.trac.wordpress.org/changeset/11082/

# Post-launch

- [ ] After, #28 is done, switch to ES to mitigate performance issues w/ meta queries. Do for front-end too, like #273
- [x] Prioritize search based on locale (ala Learn), rather tha

[2021-06-30 05:38] Mamaduka opened #245 "Two buttons pattern block validation error"
**Describe the bug**
The "Two buttons" pattern triggers a validation error with 5.8 RC1. It looks like the pattern is using old markup - WordPress/gutenberg#21923.

**To Reproduce**
Steps to reproduce the behavior:
1. Update to WP 5.8 RC1
2. Create or edit a post.
3. See validation errors in the console.

**Expected behavior**
Core patterns shouldn't trigger validation errors.

**Screenshots**
![C

[2021-06-30 07:31] jasmussen commented on #245
I'm also seeing this one causing a consistent test failure in this unrelated PR: https://github.com/WordPress/gutenberg/pull/33062

<img width="1913" alt="Screenshot 2021-06-30 at 09 31 17" src="https://user-images.githubusercontent.com/1204802/123920161-f210d800-d985-11eb-8f7c-2d4be27b9610.png">

[2021-06-30 12:52] iandunn opened #246 "Deprecated notice for `allowed_block_types` breaks editor in local envs with WP 5.8"
`wp-admin/post-new.php?post_type=wporg-pattern` is broken in local environments running WP 5.8-RC1 when `WP_DEBUG_DISPLAY` is `true`:

Background on the the deprecation:
https://make.wordpress.org/core/2021/06/16/block-editor-api-changes-to-support-multiple-admin-screens-in-wp-5-8/

Uses:

https://github.com/WordPress/pattern-directory/blob/ff09c1afe4fad91686b9d41b508b5fc4cdfa7c13/public_html/wp-c

[2021-06-30 12:58] kjellr commented on #245
@ryelle as per https://github.com/WordPress/gutenberg/pull/28800, this one is getting pulled in via the API now, right?

I double checked the markup and it's not throwing any errors in the editor itself. I even fully re-created it to be sure. 🤷‍♂️ I did notice that [it's marked as "unlisted" here in the pattern directory](https://wordpress.org/patterns/?post_type=wporg-pattern&p=5), and I'm not su

[2021-06-30 13:11] Mamaduka commented on #245
@kjellr I think that's a temp solution to avoid failing e2e tests see - https://wordpress.slack.com/archives/C02QB2JS7/p1625051015138400?thread_ts=1625031663.134000&cid=C02QB2JS7.

Also, @ntsekouras might have updated the pattern.

[2021-06-30 13:22] ntsekouras commented on #245
Exactly. For now this is why it stopped failing. I'm back and forth with different kind of failures today and haven't pinpointed the root cause for this 😄

[2021-06-30 13:30] kjellr commented on #198
👋 Thanks for the followup on this one. Unfortunately, I don't think we can get this one to work nicely on all screen sizes using just what's available in Gutenberg today:

![responsive](https://user-images.githubusercontent.com/1202812/123968983-c4c42a00-d985-11eb-8347-a01d0967df39.gif)

The only way to get around that would be to make the text size for the headline smaller, but when we do that, I

[2021-06-30 13:31] #198 closed, assigned to nobody

[2021-06-30 13:35] melchoyce commented on #228
**Illustration of bird with callout**

Tried an alternate approach:

![image](https://user-images.githubusercontent.com/2846578/123970557-33ee4e00-d987-11eb-9138-b3ef8d27802e.png)

[2021-06-30 14:48] kjellr commented on #228
@melchoyce that looks great — let's update that, and then we can close out this issue.

[2021-06-30 15:02] melchoyce commented on #228
Updated! https://wordpress.org/patterns/pattern/callout-over-a-patterned-background/

[2021-06-30 15:02] #228 closed, assigned to nobody

[2021-06-30 15:40] kjellr opened #247 "Pattern Previews: All patterns appear full width, even if they're not full-width"
**Describe the bug**

All patterns in the directory previews are currently appearing full-width, regardless of their alignment settings. This can be confusing since it's unclear to users which patterns are actually full-width.

For example, all of these appear full-width, but they're actually (from left-to-right) wide, wide, and standard-width:

<img width="1011" alt="Screen Shot 2021-06-30 at 11

[2021-06-30 15:46] melchoyce commented on #210
Hey @webmandesign! I started looking at updating some of this content, and realized we have a couple other three-column patterns already in the directory:

- https://wordpress.org/patterns/pattern/call-to-action-with-columns-of-text/
- https://wordpress.org/patterns/pattern/about-me-cards/
- https://wordpress.org/patterns/pattern/team-social-cards/

Based on that, I'd recommend closing this issue

[2021-06-30 15:46] #210 closed, assigned to nobody

[2021-06-30 15:52] jcasabona opened #248 "Link in Profile"
This recreates a common pattern you see on Linktree or Card, to make multiple links in social profiles easier. It consists of a headshot, a short bio, and a list of link buttons.

---

## Pattern Title
Link in Profile

## Pattern Categories
Buttons

## Screenshots
<img width="1241" alt="Screen Shot 2021-06-30 at 11 50 44 AM" src="https://user-images.githubusercontent.com/344910/123992267-79b41200-

[2021-06-30 15:54] melchoyce commented on #226
What would you think about also removing the torn paper texture at the bottom of the background, and just having the grid? I think it would also help it tie better into our existing pattern collection.

[2021-06-30 15:55] melchoyce commented on #225
This is cool! Could you try a slightly less vibrant color? I think that would help it blend in better with the existing patterns in the collection.

[2021-06-30 17:54] webmandesign commented on #198
I think if such huge font size is provided by a theme, it should handle its scaling.

But agree that we need responsive setup for custom font size.

[2021-06-30 18:51] melchoyce commented on #208
Hey @webmandesign!

Your most recent update seemed similar to #199, so I tried this one with an image instead of a quote. I've also adjusted the font sizing slightly to work better across screen sizes:

![image](https://user-images.githubusercontent.com/2846578/124015304-8729c600-d9b2-11eb-9a6a-e609ef11fcc8.png)

[code]

Panel Entitled “Femme à marguerite” or Woman with Daisy (ca. 1898 or 1900) by

[2021-06-30 20:00] kjellr commented on #208
This is cool. I like that it's using a dropcap — I don't think we have any patterns that use that feature. My only comment is that the column widths seem a little random. Maybe try using 75% / 25% instead of 78% / 22%?

[2021-07-01 01:19] dd32 commented on #233
Can confirm in Chrome on Big Sur too.

Additionally, you can resize it down past the minimum width, and into the negatives (ie. -1500px)
The following screen capture shows it better than words :)

https://user-images.githubusercontent.com/767313/124050557-22c44080-da5e-11eb-8445-0541c182bafd.mov

[2021-07-01 05:12] ntsekouras commented on #245
This issue can be closed now that the PR was merged. I just realized it was an issue for the directory and not GB 😄

[2021-07-01 05:37] #245 closed, assigned to nobody

[2021-07-01 07:10] dd32 commented on #244
d75ca62a870e111d7d55666cae760fc34d2a2702 causes a bit of a shortcoming, in that patterns without a translation become inaccessible.

Instead, I think we need to prioritise translated patterns but not skip not-localised.

[2021-07-01 07:37] mahvash-fatima opened #251 "Gutenberg block patterns - Three columns text with image"
This gutenberg block pattern has three columns in which first column has heading, second column has text and the third column has text and an image. I feel it should be included in Gutenberg block because it has a simple three columns layout that can be used for multipurpose things like company goals, branding, about the company and much more.

---

## Pattern Title
Three columns text with image.

[2021-07-01 09:44] webmandesign commented on #208
@melchoyce Yes, sorry for obvious heavy inspiration from your iteration of #199 But again you nailed it here :)

[2021-07-01 19:09] coreymckrill commented on #241
Sideloading seems like it could result in a bunch of random images in your media library that you may not be using. Like, if you insert patterns into your posts/pages just to try them out, and then end up removing them (or replacing the default images with your own).

Long term, linking to Openverse images seems like the ideal, if that's how it will actually work, since it would help promote that

[2021-07-01 19:09] #234 closed, assigned to ryelle

[2021-07-01 20:15] melchoyce commented on #212
Hey! I made a couple updates to this:

- Updated the busts to come from a set, where both figures have similar lighting and stance;
- Removed the quote and cut down the text to simplify the pattern a bit;
- Added social icons, since I think they're pretty common in these kinds of "team" patterns

![image](https://user-images.githubusercontent.com/2846578/124184205-3a63ef00-da87-11eb-9ee7-2cf09a943

[2021-07-01 20:30] webmandesign commented on #212
Love it, @melchoyce :)

[2021-07-01 21:24] melchoyce commented on #212
Awesome 🎉 Added! https://wordpress.org/patterns/pattern/two-columns-with-images-text-and-social-icons/

[2021-07-01 21:24] #212 closed, assigned to nobody

[2021-07-02 02:34] StevenDufresne opened #255 "Improve Pattern-Thumbnail Rendering/Loading"
We use iframes to render previews for patterns in the pattern grid.

Our current implementation has 2 drawbacks:

- Assets are loaded for every iframe (although they are all the same)
- We display them immediately resulting in numerous layout shifts which freezes the browser

<hr/>

## Screenshots

![Loading](https://d.pr/i/5HdgnR.gif)
![](https://d.pr/i/s4V6i9.png)

## Assets are loaded multiple

[2021-07-02 03:12] dd32 opened #256 "Translate Category Names"
**Describe the bug**
Category names should be translatable when used via a translated UI such as http://ja.wordpress.org/patterns/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://ja.wordpress.org/patterns/
2. The section titles should be translated

**Expected behavior**
I expected to see a language I could not understand, instead, I saw English.

**Additional context**
https:/

[2021-07-02 03:13] dd32 opened #257 "Add RTL Styling"
**Describe the bug**
https://ar.wordpress.org/patterns/ has no CSS Styles.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://ar.wordpress.org/patterns/ or set your locale to an RTL language.

**Expected behavior**
A beautiful website should appear.

[2021-07-02 04:03] dd32 opened #258 "?name=* queries do not 404"
**Describe the bug**
When visiting a URL such as https://wordpress.org/patterns/?name=random-post-name or https://wordpress.org/patterns/random-post-name/ the request should 404, and use a 404 template.

Requests to 404 patterns do work though: https://wordpress.org/patterns/pattern/random-pattern-doesnt-exist/

The URI for patterns is currently https://wordpress.org/patterns**/pattern/**$pattern_

[2021-07-02 05:05] vlad-timotei opened #259 "Both Windows and Mac paste instructions"
**Describe the bug**
3rd instruction from "How to use patterns on your WordPress site." contains Mac only paste instructions

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any pattern, eg https://wordpress.org/patterns/pattern/three-buttons/
2. Click on Copy pattern
3. Click on Learn More
4. See step 3

**Expected behavior**
Both Windows and Mac paste instructions. Something like this

[2021-07-02 06:43] vlad-timotei opened #260 "Replace backtick quotes"
**Describe the bug**
This line uses backtick instead of single quotes:
https://github.com/WordPress/pattern-directory/blob/841f5a9beb1106bd23a76a6cd0e313ccd07c2f56/public_html/wp-content/plugins/pattern-creator/src/plugins/viewport-header-control.js#L117

This (I can't think of another reason why) makes GlotPress to fail importing the string - instead it imports the textdomain:
https://translate.w

[2021-07-02 08:00] vlad-timotei opened #261 "Fix translators note"
**Describe the bug**
Wrong translators note, containing more placeholders  - can be confusing:
https://github.com/WordPress/pattern-directory/blob/841f5a9beb1106bd23a76a6cd0e313ccd07c2f56/public_html/wp-content/themes/pattern-directory/src/components/category-context-bar/messaging.js#L38

**Expected behavior**
Translator note should be: `%s: category name`

[2021-07-02 09:24] ocean90 commented on #260
GlotPress is not to blame here. It's WP-CLI parsing the line not correctly as this it the output:

[code]

Should probably be reported to https://github.com/wp-cli/i18n-command.

[2021-07-02 09:34] vlad-timotei commented on #260
Thanks for clearing that up, @ocean90 🙌🏻
I'll report it there for a long term solution (I imagine some developers use backticks for their strings..) but for now, I think a quick short term solution is to use single quotes here.

[2021-07-02 15:28] #246 closed, assigned to ryelle

[2021-07-02 16:37] melchoyce commented on #217
I think with https://wordpress.org/patterns/pattern/team-social-cards/ and your two-column team pattern https://wordpress.org/patterns/pattern/two-columns-with-images-text-and-social-icons/ we have teams covered, so I'm going to close this one for now. Please resubmit once the directory is open!

[2021-07-02 16:37] #217 closed, assigned to nobody

[2021-07-02 16:59] coreymckrill commented on #256
We could do this the same way we did it [for Learn](https://github.com/WordPress/learn/pull/205). I'm happy to take a crack at it.

[2021-07-02 17:02] coreymckrill commented on #257
A symptom of using the `wporg` parent theme, I suspect. [This was the fix for Learn.](https://github.com/WordPress/learn/commit/5946a99cc6344c19aa80cb01cef9979971181fb4)

[2021-07-02 17:17] melchoyce commented on #194
Hey! I tried simplifying this and making it black for a more stark visual impact:

![image](https://user-images.githubusercontent.com/2846578/124308789-c6355400-db37-11eb-8bb2-3f6087360847.png)

[code]

Let me know if this works okay for you :)

[2021-07-02 17:34] melchoyce commented on #248
Hey @jcasabona, thanks for submitting!

We currently have two "Link in Bio" patterns in the directory:

- https://wordpress.org/patterns/pattern/button-links-with-image-background/
- https://wordpress.org/patterns/pattern/button-links-with-gradient-background/

Since this one's so similar, I'm going to close it, but please feel free to submit when the directory's open!

[2021-07-02 17:34] #248 closed, assigned to nobody

[2021-07-02 17:38] #261 closed, assigned to nobody

[2021-07-02 17:38] #259 closed, assigned to nobody

[2021-07-02 17:44] melchoyce commented on #251
Hi @mahvash-fatima! Thanks for your submission.

Just checking, have you had a chance to read through https://make.wordpress.org/design/2021/06/23/update-initial-patterns-for-the-patterns-directory/? It has some suggestions for pattern content.

We have a couple three-column layouts already in the directory:
- https://wordpress.org/patterns/pattern/three-columns-of-text-with-buttons/
- https://wor

[2021-07-02 17:44] #251 closed, assigned to nobody

[2021-07-02 18:19] kjellr commented on #194
👍 I like this simplification here.

This would be the third pattern in the pre-release collection that includes hard-stop gradients. Since they are a little difficult to modify, I think this should be the last one in the set for now.

[2021-07-02 18:29] webmandesign commented on #194
@melchoyce Looks much more cool and makes more sense 👍

[2021-07-02 19:19] melchoyce commented on #194
Published 🎉 https://wordpress.org/patterns/pattern/slanted-background-with-text-and-a-button/

[2021-07-02 19:19] #194 closed, assigned to nobody

[2021-07-02 19:49] melchoyce commented on #208
Updated the widths, and swapped out the copy for some written by @courtneydawn:

https://wordpress.org/patterns/pattern/heading-with-image-and-text-columns/

Thanks!

[2021-07-02 19:49] #208 closed, assigned to nobody

[2021-07-02 19:53] melchoyce commented on #211
Revisiting this — I think between your great [partners pattern](https://wordpress.org/patterns/pattern/partner-logos/), https://wordpress.org/patterns/pattern/three-columns-of-text-with-buttons/, and https://wordpress.org/patterns/pattern/three-columns-of-text/, we're good with three column layouts like this. I'm going to close this issue, but of course feel free to submit this once the directory'

[2021-07-02 19:53] #211 closed, assigned to nobody

[2021-07-02 20:02] melchoyce commented on #179
Cool. I think we're going to need to spend more time thinking about what kind of posts to create, and then maybe kick off a drive just to work on query block patterns. In the meantime, I'm going to close this issue, but let's please revisit it later!

[2021-07-02 20:02] #179 closed, assigned to nobody

[2021-07-02 20:05] melchoyce commented on #214
Published! https://wordpress.org/patterns/pattern/image-framed-by-a-cover-block/

[2021-07-02 20:05] #214 closed, assigned to nobody

[2021-07-02 20:36] #30 closed, assigned to coreymckrill

[2021-07-02 21:10] ryelle commented on #255
Could we do this by listening to the iframe's `onload` event? I _think_ this would wait for all assets to load before being fired. Maybe we could use `filter: blur(…)` on the thumbnail, to have each pattern still seem unique until the iframe assets load.

One idea I had for this issue https://github.com/WordPress/pattern-directory/issues/143 is the idea of creating our own mini-theme base for disp

[2021-07-02 21:56] jcasabona commented on #248
Roger that - thanks @melchoyce!

[2021-07-05 00:36] StevenDufresne commented on #255
I quickly played with this but wasn't able to get it to work. But hopefully, this approach would work.

Yeah, this would nice.

It does use a cached version provided it has been loaded by the parent. So styles like `editor/style.css` will get served from the cache, but `twentynineteen` is only loaded in the iframes, so it will make new requests for all iframes. If our parent theme stylesheets dive

[2021-07-05 04:28] #101 closed, assigned to StevenDufresne

[2021-07-05 09:44] swissspidy commented on #260
Note that there's also an ESLint rule that helps prevent unnecessary use of template literals like in this case.

[2021-07-05 09:56] ocean90 commented on #260
@vlad-timotei Looks like you forgot to submit a PR for https://github.com/vlad-timotei/pattern-directory/commit/678bb12b8ea137d86ae71d16920fe7d15ab3cfb4?

[2021-07-05 14:23] #260 closed, assigned to nobody

[2021-07-05 15:27] ryelle commented on #255
I ended up switching to Twenty Twenty-One for the solution in #143, but in doing so I realized we don't need most of the files that are loaded there, since it's not meant to be an "editor preview", but a frontend preview. That brings down the files loaded for each iframe to just two - `wp-block-library` and the theme styles. We can still look into injecting the theme style, but I think that's a go

[2021-07-05 18:50] ryelle opened #268 "Pattern List: Author archive header navigation"
The author archive page should use the same header as categories, and show the current author:

![author](https://user-images.githubusercontent.com/541093/124509286-b0c26300-dd9f-11eb-91a2-93005fc957dc.png)

The category navigation above should also filter the author's patterns, for example clicking "Buttons" should show the patterns in category Buttons by ryelle.

[2021-07-05 20:41] critterverse commented on #225
For sure! How about something like this?

![calendar-screenshot-v3](https://user-images.githubusercontent.com/77359364/124516305-516c4f00-ddaf-11eb-807f-16a15c1419b7.jpg)

I've updated the markup in the original description above. Also please feel free to ignore this if I’ve missed the window for inclusion in the launch set :) Thanks @melchoyce!

[2021-07-05 21:00] critterverse commented on #226
Looks good to me:

![404-updated](https://user-images.githubusercontent.com/77359364/124517473-0d2e7e00-ddb2-11eb-93b2-5daac053c072.jpg)

<details>
  <summary>Here’s the updated background image asset</summary>

![grid](https://user-images.githubusercontent.com/77359364/124517546-39e29580-ddb2-11eb-8e23-fa3309b495c2.jpg)
</details>

Also please feel free to ignore this if I’ve missed the window fo

[2021-07-05 21:01] critterverse commented on #227
Love it, thanks @melchoyce 🎉

[2021-07-05 22:07] ryelle commented on #241
Yeah, I think that's intentional, and why the designers went through the effort of making sure the images are CC0/have licenses that will allow for use on user sites.

What do we need to do to make this happen? I'm assuming this means "use s.w.org". We can add a filter to the post content & raw block content to swap out all image URLs to the CDN URLs. I don't know if there's anything else we need

[2021-07-06 00:14] StevenDufresne commented on #255
Yep, that matches my experience. I am more trying to optimize the initial load and I think your changes have improved that. We can cycle back.

Same, not super familiar but definitely worth a try.

[2021-07-06 16:25] annezazu opened #270 "Improve navigating between page results"
**Describe the bug**

At the bottom of the pattern directory, there's a list of page numbers that you can flip between. It seems to show the first and last two pages at all times. Due to this logic, you're only able to navigate to the third page of results if you select "Next" as the third page isn't listed for example. The "..." also isn't clickable. This seems to be isolated just to the third pa

[2021-07-06 21:32] #143 closed, assigned to ryelle

[2021-07-06 21:34] #257 closed, assigned to ryelle

[2021-07-06 21:51] melchoyce commented on #226
Published! https://wordpress.org/patterns/pattern/two-column-404/

[2021-07-06 21:51] #226 closed, assigned to nobody

[2021-07-06 21:55] critterverse commented on #226
Awesome, thanks! 🎉

[2021-07-06 22:01] ryelle commented on #270
Thanks for creating the issue! The missing "3" bug has been annoying me 🙂  I've fixed it over in #271.

[2021-07-06 22:03] melchoyce commented on #193
Published! https://wordpress.org/patterns/pattern/short-text-surrounded-by-round-images/

[2021-07-06 22:03] #193 closed, assigned to nobody

[2021-07-06 22:05] melchoyce commented on #215
Hey @webmandesign, since we have a couple other patterns using media & text like this, I'm going to close this one. You know the drill though, please submit it once the directory is open :)

[2021-07-06 22:05] #215 closed, assigned to nobody

[2021-07-06 22:06] melchoyce commented on #216
Hey @webmandesign, do you want (or do you want me) to try revising this one to remove the icons and try some different text/imagery, or would you rather I close it?

[2021-07-06 23:04] melchoyce commented on #225
Added, though there seems to be an issue with displaying posts: https://wordpress.org/patterns/pattern/image-and-calendar/

I'll troubleshoot 👍

[2021-07-06 23:04] #225 closed, assigned to nobody

[2021-07-07 00:30] StevenDufresne opened #273 "Theme: Query results show translated patterns side by side."
**Describe the bug**
I'm not sure if it's enclosed in another ticket but I'll add this in case.

Since we now have translated patterns, the search results are showing translated versions of the same pattern making the pattern list a bit useless.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `wordpress.org/patterns`
2. View the result list, expect to see the same patterns in different

[2021-07-07 01:09] annezazu commented on #270
Oh incredible! Thank you :D

[2021-07-07 01:53] tobifjellner opened #274 "Merge two strings"
While translating strings for the pattern directory, I stumbled upon two similar strings that probably could be merged to use exactly the same string:
The description is used to help users of assistive technology understand the content of your pattern.
Ref: https://github.com/WordPress/pattern-directory/blob/trunk/public_html/wp-content/plugins/pattern-directory/src/pattern-post-type/details.js#L5

[2021-07-07 03:18] webmandesign commented on #216
Hi @melchoyce,

I was actually waiting for your feedback on this guys as maybe you have similar patterns already submitted and also there is this issue with icons.

So, if you still consider this pattern for the directory, I will have a look and see what I can do about it. Will post an update later today.

[2021-07-07 05:17] StevenDufresne commented on #274
@ryelle How do we usually handle strings like this in other @wordpress projects?

[2021-07-07 07:06] webmandesign commented on #205
Hey @melchoyce!

This pattern was still on my mind and I've actually realized that it has to be possible to stretch the text column from edge to edge in the Cover block as #216 contains such layout even with Twenty Twenty-One theme.

I found out this is only possible when Cover block's content position is set. So, I've updated your pattern code to how I originally meant it to display:

[code]

Her

[2021-07-07 08:24] webmandesign commented on #216
Here is my iteration. I tried to make the heading more interesting (we really miss spacing controls in Gutenberg...). Also, it now looks like a portfolio project presentation rather than features presentation:

[code]

Preview:

![portfolio-presentation](https://user-images.githubusercontent.com/2456735/124726103-c05fba00-df0d-11eb-8b3e-e5533bff63f7.jpg)

Image credits:
Fishing Boats, Key West (19

[2021-07-07 14:54] kjellr commented on #216
This looks great, @webmandesign! I've added it to the pattern directory:

https://wordpress.org/patterns/pattern/large-background-image-with-title-and-description/

Thank you!

[2021-07-07 14:54] #216 closed, assigned to nobody

[2021-07-07 15:12] ryelle commented on #274
The two strings in question:

The differences are added "better", and "content" vs "contents". I think we can stick with the shorter string.

By merging them like this - there's no reason these should be different phrases.

[2021-07-07 15:27] ryelle commented on #273
I had thought there was an issue for this, but it looks like I misread #244, and that's just about the `api.wordpress.org` endpoint. @iandunn, you've been working on this concept for #244, is this on your radar at all?

[2021-07-07 17:07] melchoyce commented on #218
This is great. I made some color adjustments, swapped in two matching images, and adjusted the layout so it works a little better on mobile. What do you think?

![image](https://user-images.githubusercontent.com/2846578/124800638-e1330a00-df23-11eb-9dee-7c6853ed626a.png)
[code]

Snow at Asakusa, Yedo, Musashi Province print in high resolution by Hiroaki Takahashi (1871–1945). CC0.
https://www.rawp

[2021-07-07 17:53] melchoyce commented on #216
Looks great 🎉

[2021-07-07 17:53] kjellr commented on #218
This looks great — I like the snowy images, and it works nicely on mobile. 👍

[2021-07-07 19:38] webmandesign commented on #218
@melchoyce Again, you've pushed it to the next level :)
Just a reminder: I've left a [comment about potential improvement](https://github.com/WordPress/pattern-directory/issues/205#issuecomment-875345217) of already closed issue with published pattern. I've basically found a way to stretch the column full-height of container Cover block.

[2021-07-07 20:25] iandunn commented on #28
https://github.com/WordPress/wordpress.org/pull/33 demonstrates how to integrate w/ Jetpack Search. I think we can mostly do the same things here.

[2021-07-07 20:31] melchoyce commented on #205
Awesome, updated! https://wordpress.org/patterns/pattern/text-column-over-fixed-background/

[2021-07-07 20:36] melchoyce commented on #218
Thanks! Published this one 🎉  https://wordpress.org/patterns/pattern/two-offset-images-with-description/

[2021-07-07 20:36] #218 closed, assigned to nobody

[2021-07-07 22:09] ryelle commented on #16
An issue was created for the favorites page - #239. The remaining task for this issue is the management dropdown.

[2021-07-07 23:45] StevenDufresne commented on #274
I should have been more specific. I meant functionally when 2 strings are shared across 2 different components. Do we add them to a `utils.js` like file and export?

[2021-07-08 00:34] ryelle commented on #274
Oh no, just use the same string in both places - because they're both using the same textdomain and are imported into the same GlotPress project, using the same string will create just one record to translate, and will be used in both places.

[2021-07-08 18:05] iandunn commented on #273
Ah, no, I was just focused on api.w.org, but should have thought of this too. I'm working on #28 right now, but can circle back to this after that.

[2021-07-08 18:40] kjellr commented on #273
This is also happening in the Gutenberg plugin — all translations are showing up at once in the inserter. Should I open a separate issue for this, or will it be resolved by whatever change would fix display in the directory too?

![patterns](https://user-images.githubusercontent.com/1202812/124974085-61c43a00-dffa-11eb-8459-07beec584952.gif)

[2021-07-08 18:53] iandunn commented on #273
The Gutenberg issue should be fixed once https://github.com/WordPress/gutenberg/pull/33052 is merged; it's currently waiting on review.

If you disable Gutenberg and just use 5.8-RC2, you should see the locale-specific results.

[2021-07-08 18:54] kjellr commented on #273
Awesome, thanks. 🙌

[2021-07-08 19:47] iandunn commented on #244
Do you mean that requests for `es_MX` patterns won't include `en_US` "parent" patterns that don't have a `es_MX` "child/translated" variant/fork yet?

That seems good enough for launch, since all the "core/featured" patterns will be translated.

We might want to wait until after #28 too, since ES might make that prioritization easier. On the other hand, Learn already does that kind of sorting w/ `

[2021-07-08 21:01] coreymckrill commented on #58
Moving this out of the Initial Launch milestone because it seems like we should see how pattern moderation ends up working in practice before we try to build this.

[2021-07-08 21:15] iandunn commented on #273
Nevermind, I'm at a good stopping place w/ the search, so switching to this.

[2021-07-09 15:08] #270 closed, assigned to ryelle

[2021-07-09 20:06] #256 closed, assigned to coreymckrill

[2021-07-12 00:43] #233 closed, assigned to StevenDufresne

[2021-07-12 00:49] StevenDufresne commented on #221
@coreymckrill Are we able to close this after #277?

The live site looks correct now.

[2021-07-12 16:49] coreymckrill commented on #221
Yep, I think this is fixed.

[2021-07-12 16:49] #221 closed, assigned to nobody

[2021-07-12 19:51] ryelle commented on #24
We can't really track installs, since patterns are more ephemeral - you don't really install them. We could track:

- Number of favorites
- Number of times (and reasons) reported
- Number of times copied(? - I know how to do this in calypso, but not on wporg)

I'm taking this out of the "initial launch" milestone - while important, it wouldn't add or detract from the stability of the directory.

[2021-07-12 19:56] ryelle opened #279 "Patterns: Use revisions to track pattern changes"
The revisions were disabled on the pattern post type to disable the Revisions UI in the creator (because it's broken), but we actually need revisions to track changes to patterns.

We should re-enable revisions for now, and find another solution for disabling them in the Pattern Creator.

[2021-07-12 20:04] ryelle commented on #8
The only item on this list that doesn't also have an issue is the "pattern moderation" item. Since we're not accepting submissions for initial launch, I don't think this needs to apply (and also might be captured under #22). I'm going to close this tracking issue, the other tasks can be tracked in their respective issues.

[2021-07-12 20:04] #8 closed, assigned to nobody

[2021-07-12 20:06] ryelle commented on #48
The design used here is out of date - the site no longer needs related categories here, and we're not using masonry.

[2021-07-12 20:06] #48 closed, assigned to nobody

[2021-07-12 20:07] ryelle commented on #11
Closing this issue - items are either done, or being tracked in other issues.

[2021-07-12 20:07] #11 closed, assigned to nobody

[2021-07-12 20:51] coreymckrill commented on #279
Do we need to be able to view/compare revisions on the front end, or just in WP Admin?

[2021-07-12 21:13] ryelle commented on #279
I would say just in wp-admin, I think it's more useful as a moderation/history tool.

[2021-07-12 21:17] coreymckrill commented on #279
👍 That's good, the script the generates the visual diffs between revisions is very tightly coupled to the admin.

[2021-07-12 22:24] tellyworth commented on #241
CDN urls would be `s.w.org`, yes, though we'll need to do something to make sure they're in a location mirrored by the CDN. The upload directory isn't AFAIK. We could see if systems can include it, or move the files to a different location.

[2021-07-12 23:43] coreymckrill commented on #57
Planning to use the Stream plugin for logging changes, so this is pending the merge of one of these PRs:

* https://github.com/xwp/stream/pull/1223
* https://github.com/xwp/stream/pull/1264
* https://github.com/xwp/stream/pull/1269

For the "adding a reason part" work is in progress on an ["Internal Notes" plugin](https://github.com/coreymckrill/wporg-internal-notes/).

Logging changes isn't criti

[2021-07-12 23:59] #273 closed, assigned to iandunn

[2021-07-13 22:34] iandunn commented on #99
This is done

xref https://make.wordpress.org/systems/2021/05/18/patterns-api-maybe-cache-direct-to-proper-upstreams/#comment-1846

[2021-07-13 22:34] #99 closed, assigned to nobody

[2021-07-13 22:36] iandunn commented on #244
Removing this from the milestone since the pre-launch tasks are done.

[2021-07-14 03:30] tellyworth commented on #241
@dd32 am I correctly remembering that the CDN doesn't cover file uploads? Is there a filesystem location we could move those assets to so that they're covered, or is a more complex solution needed?

[2021-07-14 05:53] StevenDufresne commented on #161
@ryelle @shaunandrews

Did we want to launch with the featured category? I feel like it's a nice-to-have because the management of that category adds complexity.

Also, we have a sort by "Date" but it's unidirectional. Would the label "Newest" make more sense?

[2021-07-14 06:37] dd32 opened #282 "Javascript translations not being loaded"
**Describe the bug**
WordPress.org isn't deploying json translations for use with `wp.i18n` at present, resulting in any JS strings using `wp.i18n` not being translated.

This is not Pattern-directory specific, this is related to the way WordPress.org deploys translation updates. Currently it only does .mo/.po files, not the .json files. Creating this as a tracking ticket since the Pattern Directo

[2021-07-14 13:58] ryelle commented on #161
No, I think it's late to introduce featured for launch, but it should be added shortly after, maybe a new taxonomy like "Browse" in plugins. Not required to fix this issue.

That's more understandable to me 👍🏻

[2021-07-14 14:17] #274 closed, assigned to nobody

[2021-07-14 14:23] #279 closed, assigned to coreymckrill

[2021-07-14 15:32] iandunn commented on #24
Those sound good 👍🏻

I'm guessing we've already got that data, by nature of it.  Eventually we might want to build a public report like we have for WordCamp data, but the first step would just be collecting the important stuff early.

This seems like a pretty important one, to show usage. I'd guess most of the installs would be done in Core, which we don't track, but the installs on w.org may be h

[2021-07-14 15:33] iandunn commented on #24
Once Gutenberg starts allowing searches of remote patterns, then tracking the most popular terms seems helpful. we could use that to identify gaps where patterns that people want don't exist yet.

cc @shaunandrews ,  @andreamiddleton, @mtias in case y'all have any other ideas for stats that'd be useful to track

[2021-07-14 17:59] mtias commented on #24
Favorites is likely going to be the best metric to rely on. Once we have a flow that doesn't involve copy / paste that would also be a good way to get a sense of installs.

[2021-07-14 18:49] ryelle commented on #160
Added in #269.

[2021-07-14 18:49] #160 closed, assigned to StevenDufresne

[2021-07-14 19:00] ryelle opened #285 "Pattern Navigation: Back button does not update query"
Navigating back with the browser back button does not update the page itself.

**To Reproduce**

1. On the homepage, click a category or pagination link - let's pick Columns
2. Now you should be viewing Columns patterns
3. Click back
4. The URL updates in the browser, but the website still shows the Columns category

**Expected behavior**

The query itself should update, and load "All patterns" or

[2021-07-14 19:07] ryelle commented on #268
This could use some of the `PatternGridMenu` iterations from #284

[2021-07-14 20:33] coreymckrill commented on #242
@kjellr is this still happening for you? I just tried it on MacOS 10.15 with Safari 14.1.1 and I'm seeing the correct crop instead of the stretch. Could be that some other recent change also happened to fix this... (maybe [this](https://github.com/WordPress/pattern-directory/pull/266)?)

[2021-07-14 20:47] coreymckrill commented on #235
From https://github.com/WordPress/pattern-directory/pull/266#issuecomment-874811398

@ryelle is [this](https://github.com/WordPress/gutenberg/issues/31990) the issue you were thinking of?

[2021-07-14 21:53] ryelle commented on #235
I don't think that's exactly it, I'll see if I can replicate outside of the preview iframe. The issue I see here is this `important` style is overriding the links in the icon, even though the icons have colors set locally. The output HTML looks like this:

[code]

[2021-07-14 22:34] ryelle commented on #235
I was able to reproduce it outside of the pattern directory, so I've made an issue in Gutenberg for it: https://github.com/WordPress/gutenberg/issues/33437.

Closing this issue for now, although once it's fixed in GB we might need to update these patterns.

[2021-07-14 22:34] #235 closed, assigned to nobody

[2021-07-14 22:36] ryelle commented on #242
@melchoyce confirmed this is no longer an issue - I bet #266 did fix it, we removed a bunch of unnecessary styles there.

[2021-07-14 22:36] #242 closed, assigned to nobody

[2021-07-14 22:39] ryelle commented on #223
Is there anything else on this issue that needs to be completed for the initial directory launch? We've got translations up and running, served correctly from the various locale-specific sites.

[2021-07-14 22:40] ryelle commented on #224
Pulling this out of initial launch, since the remaining tasks are for post-launch.

This one's done, right?

[2021-07-14 22:56] iandunn commented on #224
Yeah, #250 did it. I marked it as done, thanks!

[2021-07-14 23:08] iandunn commented on #24
Is that because copying doesn't guarantee that they'll paste & publish? I'd guess that it'd still be highly correlated.

[2021-07-15 00:55] StevenDufresne commented on #24
I think the challenge will be that people may browse on `.org` but install through Gutenberg.

.... Maybe we should add a copy button next to the title, like how GitHub does for branch names 🤔 .

[2021-07-15 08:36] mtias commented on #24
Yes, you might click copy even if you don't have a WordPress install just out of curiosity. It feels like a very indirect measure.

[2021-07-15 14:48] ryelle commented on #24
Does that mean that the method of using a pattern will change in core? Whether it's copied from wp.org or added from the inserter in the editor, it's only content added to the post.

---

What I'm hearing right now, for stats tracking on launch, is snapshot-style record keeping (using [the 5ftf cron setup?](https://github.com/WordPress/five-for-the-future/blob/production/plugins/wporg-5ftf/include

[2021-07-15 15:18] #104 closed, assigned to ryelle

[2021-07-15 17:59] #239 closed, assigned to ryelle

[2021-07-15 20:14] coreymckrill opened #292 "Directory: Create periodic snapshots of specific stats for tracking over time"
Pulling this issue together from a few other places, mainly [this comment](https://github.com/WordPress/pattern-directory/issues/24#issuecomment-880756943).

The idea is to keep track of a few key stats (listed below) by generating a "snapshot" post containing the stats numbers at that particular moment, very similar to [how it's done](https://github.com/WordPress/five-for-the-future/blob/producti

[2021-07-16 06:12] StevenDufresne opened #297 "Theme: Choosing a new page should move to top of the page."
When a user interacts with the pagination control, the browser should scroll to the top of the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/`
2. Scroll to button select [2]
3. Notice you are still located at the bottom of the page.

**Screenshots**
[ Watch GIF here](https://d.pr/i/P0EDtH)

[2021-07-16 06:27] dd32 commented on #241
@tellyworth Correct, we currently have no CDN on WordPress.org that covers uploads.

In a previous discussion on this I suggested three options:
 - Don't allow uploads, require that the images inserted are from a CDN
 - Introduce a WordPress.org CDN for uploads, `u.w.org/$domain/$path/$file` (eg, `u.w.org/make.wordpress.org/meta/2021/07/example.png`)
 - Simply re-use the `s.w.org` CDN here, potent

[2021-07-16 06:30] tellyworth commented on #108
I found a way to do this by using output buffering and str_replace to rewrite the link headers in the proxy wrapper. It works on a sandbox but I'm not certain the URLs are correct:

[code]

(edited to fix a bug)

CORS headers could be replaced in the same callback.

[2021-07-16 06:35] tellyworth commented on #241
Either of those in your last paragraph sound reasonable. When you say "shift the initial pattern images" do you mean a manual file copy & deploy? That seems like a good fix for launch. Then either rewrite the URLs in the database or with a simple filter at output time.

Longer term, it seems like further thought is needed. I'm not entirely clear on the use cases when user submitted patterns are op

[2021-07-16 06:42] tellyworth commented on #241
Indeed it looks like the patterns already in the DB are all(?) using `s.w.org` already. I think for the purposes of the launch milestone we can consider closing this issue and opening a new one to discuss the long term fix.

[2021-07-16 07:01] dd32 commented on #241
Yes.

Only some. For example, here's one using an upload: https://wordpress.org/patterns/pattern/large-background-image-with-title-and-description/

Looking at the media listing in wp-admin, a number of the existing uploads appear to be detached from any patterns, so it's not easily apparent which patterns they're attached to. I'd have to query the database to find out which ones are which.

[2021-07-16 09:19] mtias commented on #24
It won't change, but an action that performs insertion is an action that ensure selection + insertion happens, closer to an "activation".

That'd be my inclination as a start, it should be something that can be done on the patterns repository itself without having to deal with user actions.

[2021-07-16 16:20] #116 closed, assigned to ryelle

[2021-07-16 20:59] ryelle commented on #258
This was fixed in #280, with the removal of `bypass_404_page`. The 404 pages are working correctly again 👍🏻

[2021-07-16 20:59] #258 closed, assigned to nobody

[2021-07-16 21:29] ryelle commented on #297
This could also address the accessibility focus issues too - a focus change should also move the browser window up. Right now, if you click a new page or category, there is no screen-reader indication that new content is loaded, and your key focus stays on the element just clicked.

I think focus should move to the first pattern/grid container when the query changes - pagination & categories too,

[2021-07-16 21:56] #292 closed, assigned to coreymckrill

[2021-07-16 23:00] ryelle commented on #241
The concept initially was that some designers would pre-load a set of images into the media library, and no one else would be able to upload images - the images in the library are the images you can use (eventually, we'd switch to Openverse media). So it's possible there were media files uploaded that _aren't_ attached to patterns yet.

The patterns that were bundled with core are probably the one

[2021-07-17 00:35] coreymckrill opened #299 "Pattern Translations: Post date changes with every sync, creating lots of `_wp_old_date` postmeta rows"
Every time [this function](https://github.com/WordPress/pattern-directory/blob/05c024ff4e138bca15138ee673c089a322cfac70/public_html/wp-content/plugins/pattern-translations/pattern-translations.php#L28) runs for a pattern post that already exists, `wp_insert_post` is setting the publish date to the current date/time, which in turn causes WP to [generate](https://github.com/WordPress/WordPress/blob/

[2021-07-17 05:28] tellyworth commented on #241
@dd32 said:

I tried doing this several different ways using wp-cli and wp-admin and now I'm just cranky at how bad search is :)

I reckon we might have to manually do it (move files and search-replace the db) as a solution for now.

[2021-07-17 05:30] tellyworth commented on #241
@ryelle said:

What's the concept now, and going forward? I think we can use the "manually move files and edit db" method for the current crop of patterns.

For user created patterns, will they be able to upload arbitrary images or not?

[2021-07-18 20:53] ryelle commented on #241
Oh I meant that's still the idea for the near-future, but it sounded like that wouldn't be possible.

No, user-created patterns would pick from that pre-filled media library or openverse.

[2021-07-19 00:10] tellyworth commented on #241
I just did a search and there are 807 patterns that appear to contain non-CDN image URLs, including translated patterns.

Limiting it to `post_parent=0` (which I _think_ excludes translations) gives 56 patterns. Here's the list:

[code]

That could probably be edited by hand if it's too fiddly to script. @dd32 if we edit those will the URL changes flow through to the translated pattern posts?

[2021-07-19 00:29] tellyworth commented on #241
Here are the image URLs in those posts. That's 100 files to move to /images.

[code]

[2021-07-19 01:05] naokomc opened #300 "Search: Result not found page layout & pattern display issues"
The search result page's error message layout is off and it shows patterns even when there is no match.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://wordpress.org/patterns/
2. Search for something that doesn't have any results, e.g. abcdefg
3. The error message is all the way to the left edge of the page. 6 patterns are displayed even though the page also says "0 patterns fo

[2021-07-19 01:22] naokomc opened #301 "Search: Non-ASCII characters garbled"
Maybe this is still being worked on, but when non-ASCII characters are used for search, they are displayed with character entity references. This is not the highest priority either – but would be nice if it's fixed at some point.

**To Reproduce**
Search for `画像` on any site (English or Rosetta site in any language). It means "image" or "images" in Japanese.

Depending on which site you are on, yo

[2021-07-19 03:48] dd32 commented on #282
Translations should now load for `wp.i18n.*()` translations in the Pattern Directory 🎉

[2021-07-19 03:48] #282 closed, assigned to dd32

[2021-07-19 05:08] StevenDufresne commented on #300
I think this should be fixed by #302.

[2021-07-19 05:58] StevenDufresne commented on #301
I've added a PR for the output problem, in #303.
We'll need to address the result set which does appear incorrect for non-ASCII searches.

[2021-07-19 07:27] tellyworth commented on #241
Thanks to Dion there's now a CDN route available, so we can just replace `wordpress.org` with `s.w.org` in those image URLs.

[2021-07-19 16:40] #285 closed, assigned to StevenDufresne

[2021-07-19 16:45] #161 closed, assigned to StevenDufresne

[2021-07-19 17:44] ryelle commented on #301
Once the PR in #303 is applied, the search result set appears correct. Searching for "画像" only returns 18 results, and it does not include the 3 buttons pattern. There are no results for that search on the `wordpress.org/patterns` or `ar.wordpress.org/patterns` sites.

[2021-07-19 17:45] #301 closed, assigned to nobody

[2021-07-19 20:25] ryelle commented on #100
Favorites has been implemented, a view count is not available. If we start collecting more stats as part of #24, we could look at adding them back into the UI. For now, this issue is complete.

[2021-07-19 20:25] #100 closed, assigned to nobody

[2021-07-19 22:20] ryelle commented on #122
Moving this to "later" - I can get the scale working width-wise, but then the height of the container is janky. Ideally it would automatically be the full height of the content, no scrollbar on the iframe.

[2021-07-19 22:22] tellyworth commented on #241
I was able to use search and replace to rewrite the URLs in those patterns. As far as I can tell they're all done now.

Going forward, we should test a bit further and make sure they're rewritten either at content save or output. It's simple enough, just swap the hostname in image URLs from `wordpress.org` to `s.w.org`.

[2021-07-19 22:34] tellyworth commented on #223
Let's call this one done and open new issues for any gaps or problems that turn up in translation.

[2021-07-20 00:08] #241 closed, assigned to nobody

[2021-07-20 00:08] #223 closed, assigned to nobody

[2021-07-20 00:11] #299 closed, assigned to coreymckrill

[2021-07-20 00:19] ryelle commented on #247
I think this was due to the previous theme & editor styles that were loaded, and after #266 this has been fixed. @kjellr let me know if you're still seeing the issue.

[2021-07-20 00:19] #247 closed, assigned to nobody

[2021-07-20 00:21] #81 closed, assigned to nobody

[2021-07-20 05:43] StevenDufresne commented on #300
I think this should be resolved now, we'll re-open if we see the issue again. Thanks!

[2021-07-20 05:43] #300 closed, assigned to nobody

[2021-07-20 14:06] kjellr commented on #247
It appears to be fixed. Thanks!

[2021-07-20 14:26] ryelle commented on #108
This was fixed in [this meta commit](https://github.com/WordPress/wordpress.org/commit/1ccc5b2dd9b793093c1796b2b7669b289c90918a). I don't see the CPT's links in the headers anymore.

[2021-07-20 14:26] #108 closed, assigned to nobody

[2021-07-20 15:01] iandunn commented on #28
#307 also has some functionality that should be incorporated: the requested locale should be prioritized rather than exclusive.

[2021-07-20 16:15] ryelle opened #310 "Update page title while browsing patterns"
The browser's `<title>` attribute doesn't change as you navigate through categories - if you start from home, it will stay "Block Pattern Directory &#124; Beautifully designed patterns ready to go with a simple copy/paste &mdash; WordPress.org" even across categories. But if you go directly to a category, the page title is "Images &#124; Block Pattern Directory &mdash; WordPress.org".

Either swit

[2021-07-20 19:23] ryelle commented on #268
Fixed by #305.

[2021-07-20 19:24] #268 closed, assigned to ryelle

[2021-07-20 19:26] ryelle opened #311 "Pattern Author Archive: Show user's display name"
Currently, when on an archive view, the header says "Patterns by **authorname**", where authorname is the value from the URL (username). Instead, this should be "Patterns by **WordPress.org**", using the user's display name.

<img width="501" alt="Screen Shot 2021-07-20 at 3 24 41 PM" src="https://user-images.githubusercontent.com/541093/126383631-0ff182e2-317c-4e6c-8a2f-7526acb139cc.png">

[2021-07-20 19:34] ryelle opened #312 "Header image is misaligned on RTL sites"
<img width="1020" alt="Screen Shot 2021-07-20 at 3 33 50 PM" src="https://user-images.githubusercontent.com/541093/126384720-dc3915ba-984e-4754-8497-ad669d6c2919.png">

[2021-07-20 19:45] #312 closed, assigned to ryelle

[2021-07-20 20:48] iandunn opened #314 "Remove duplicates from pattern results"
When merged, #307 will change the results to include both the site/user locale, and `en_US` as a fallback. That has a side effect for `en_*` locales, where e.g., the `en_AU` and `en_US` versions of `About me cards` will both appear.

https://en-au.wordpress.org/patterns/search/about/

We can probably de-dupe via `post_parent`.

This might intersect w/ #28 because of integrating ElasticSearch.

[2021-07-20 20:57] iandunn commented on #314
For a browsing example, https://api.wordpress.org/patterns/1.0/?pattern-keywords=11&wp-version=5.8&locale=en_GB&per_page=100 shows two `Heading` patterns: ID `184` for `en_US`, and `1512` for `en_GB`.

[2021-07-20 22:02] iandunn commented on #314
It seems like this should also de-dupe `en_US` patterns if a translated version exists. i.e., we should remove `Three columns of text` from https://api.wordpress.org/patterns/1.0/?pattern-keywords=11&wp-version=5.8&locale=es_MX&per_page=100, because it has 'Tres columnas de texto'.

I think doing that would match user expectations, remove clutter, and avoid offending folks who are sensitive to Eng

[2021-07-21 01:27] dd32 commented on #314
Correct-ish. Part of the limitation of using WordPress search means that we kind of have to keep the `en_US` variant even if a translated variant exists. Ideally however, search would be search both/all locales and only return the most "relevant" of each pattern.  When viewing an archive however, I think it should indeed deduplicate it, although that's not as easy to do with the current schema (as

[2021-07-21 02:26] dd32 commented on #314
This modified SQL does result in de-duplicated search:

[code]

Results before/after:
[code]

Didn't quite work the same for a category index, in this case the Australian english header category, but it's not a bad result
[code]

Results:
[code]

Explanation of the SQL change:
 - It's assumed that a translation will always be created after the original, so the translated post_id should be higher t

[2021-07-21 06:06] StevenDufresne opened #317 "Theme: Reloading the page when viewing Author Category returns 404."
**Describe the bug**
When browsing patterns for a specific author, choose a category and reload the page, you get a 404 page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://wordpress.org/patterns/author/wordpressdotorg/](https://wordpress.org/patterns/author/wordpressdotorg/)
2. Click on 'Gallery'
3. Refresh the page
4. See 404

**Expected behavior**
I should be viewing the a

[2021-07-21 10:11] ocean90 opened #318 "Localize page title"
**Describe the bug**
First reported in https://meta.trac.wordpress.org/ticket/5831

**Additional context**
* https://meta.trac.wordpress.org/browser/sites/trunk/wordpress.org/public_html/wp-content/themes/pub/wporg-plugins/functions.php?rev=10860#L235
* https://meta.trac.wordpress.org/browser/sites/trunk/wordpress.org/public_html/wp-content/themes/pub/wporg-themes/functions.php?rev=11134#L228
* ht

[2021-07-21 16:33] #318 closed, assigned to nobody

[2021-07-21 16:38] ryelle commented on #318
Thanks for moving the report over here. This should be fixed now 🙂

[2021-07-21 16:41] ryelle commented on #310
The `title` has been updated and is now set in `set_document_title`, the different title options are now:

- Front page: "Block Pattern Directory &#124; WordPress.org"
- Single pattern: "_Pattern Name_ &#8211; Block Pattern &#124; WordPress.org"
- Pattern category: "Block Patterns: _Category Name_ &#124; WordPress.org"
- Author archive: "Block Patterns by _Author Name_ &#124; WordPress.org"

Paged

[2021-07-21 19:49] kjellr opened #320 "Header graphic is composed of patterns that aren't in the directory"
The pattern directory header graphic depicts three pattern mockups that aren't actually patterns in the pattern directory:

<img width="1028" alt="Screen Shot 2021-07-21 at 3 46 41 PM" src="https://user-images.githubusercontent.com/1202812/126550931-21c39e51-7376-4583-9614-3dbbc091acad.png">

Not sure where those came from, but I suggest we replace them with some from the initial set of live patte

[2021-07-21 23:31] jeremyfelt opened #321 "Prevent 3rd party cookies on Patterns directory"
**Describe the bug**

On the front page of the (very cool) patterns directory, one of the current patterns is the "Podcast Subscription Box". This loads in many assets from Spotify servers (open.scdn.co, open.spotify.com, guc-spclient.spotify.com) as well as from sentry.io, and results with cookies stored on the open.spotify.com domain.

I haven't dug into it too much, but it may be that the ifram

[2021-07-22 10:53] javierarce commented on #320
I'd also like to offer [this interactive prototype ](https://javierarce.github.io/patterns/) I made (also based on one of the @shaunandrews's ideas) as a way to spice the header up a little bit.

https://user-images.githubusercontent.com/4933/126627399-680fbf01-08fe-4828-a22e-3ec5fa940954.mp4

The header would showcase a curated selection of some of the best patterns, and we could organize themati

[2021-07-22 17:11] nextdoorpanda opened #324 "Typo in original pattern string"
**Describe the bug**
There is a typo in the string `This pasta is one of our most famous dishes, served with king cran and chilli pepper.`
It should read `king crab` instead of `king cran`.

**Additional context**
Pattern URL: https://wordpress.org/patterns/pattern/restaurant-menu/

[2021-07-22 17:15] nextdoorpanda opened #325 "Template string correction (redundancy)"
**Describe the bug**
The phrase `of trees` in string `The sun setting through a dense forest of trees.` is redundant.

**Additional context**
Pattern URL: https://wordpress.org/patterns/pattern/three-columns-with-images-and-text/

[2021-07-22 17:27] shaunandrews opened #326 "Pattern Thumbnails: Bottom portion of grid item blocks clicking"
<img width="336" alt="image" src="https://user-images.githubusercontent.com/191598/126682498-70b92eb1-1480-42c1-b9c4-c1186063ddab.png">

The area shown above in red (`.pattern-grid__actions`) blocks click events. I would expect to be able to click here to visit a pattern's details.

[2021-07-22 17:31] shaunandrews opened #327 "Header: Update favorites link when not logged in"
<img width="522" alt="image" src="https://user-images.githubusercontent.com/191598/126682923-36339cd3-c605-43b2-8ed3-6b0392858eba.png">

The pattern directory homepage shows a link to "My favorites", but it only works if you're logged in. Perhaps it would make sense to hide this link for visitors who aren't logged in to an account.

[2021-07-22 17:38] shaunandrews opened #328 "Search box focus styling"
When the search box has `:focus` it's border is hard to see. Here's how it looks on the homepage and on an interior page:

<img width="247" alt="image" src="https://user-images.githubusercontent.com/191598/126683324-d6f72e36-532d-4e9d-b7ab-b828b03fb3a2.png">

<img width="320" alt="image" src="https://user-images.githubusercontent.com/191598/126683348-01b38e6c-7a88-434d-82dd-c8abd383f662.png">

I'd

[2021-07-22 17:47] ryelle commented on #327
That was left there intentionally, since the My Favorites page has login instructions, see https://github.com/WordPress/pattern-directory/pull/288

[2021-07-22 18:28] shaunandrews opened #329 ""Loading patterns" message sometimes remains after patterns are fully loaded."
Visit https://wordpress.org/patterns/?orderby=favorite_count and you'll notice that the "Loading patterns" message and the circular animation appear, and then the circular animation disappears. This leaves the "Loading patterns" message at the top of the page even after all the patterns are loaded:

<img width="517" alt="image" src="https://user-images.githubusercontent.com/191598/126690291-296dd0

[2021-07-22 19:12] shaunandrews opened #330 "Improve design of Favorites when logged out"
The current logged out view of "My Favorites" is a little lackluster:

<img width="990" alt="image" src="https://user-images.githubusercontent.com/191598/126696142-6f9ebcbb-3fe5-4910-be3b-b909243c33c1.png">

Here's an updated design that improves the messaging, adds some personality, and highlights the most popular patterns in the directory:

<img width="1182" alt="image" src="https://user-images.

[2021-07-22 19:14] shaunandrews opened #331 "Duplicate "My Favorite" items in the top bar"
When viewing the "My Favorites" screen the top, blue bar has some duplicated text:

<img width="1023" alt="image" src="https://user-images.githubusercontent.com/191598/126696389-e55572e6-5161-4048-8ac8-d935f32cc59c.png">

I don't think we should include the bolded breadcrumb indicator. Instead we should bold the button near the search input:

<img width="1002" alt="image" src="https://user-images.

[2021-07-22 19:20] shaunandrews commented on #327
I don't think its relevant if you're not signed in, and its a little awkward by itself. The design intended to show the "Build your own patterns" CTA if you're logged out:

<img width="450" alt="image" src="https://user-images.githubusercontent.com/191598/126696870-f8dbcc82-fef7-4d18-b0dd-d2cef5e4d969.png">

Since we don't have the editor ready, perhaps we can replace the "My favorites" link with

[2021-07-22 19:32] shaunandrews commented on #320
I grabbed a few of the most favorited patterns in the directory and wound up with this:

<img width="1154" alt="image" src="https://user-images.githubusercontent.com/191598/126698408-a2b78f5b-64b6-4190-aadd-4dfcec8a3e10.png">

Here's the hi-res images we can use if we like it:
[header-pattern-screenshots.zip](https://github.com/WordPress/pattern-directory/files/6864786/header-pattern-screenshots.z

[2021-07-22 19:43] shaunandrews opened #332 "Rename "My favorites" to "Favorites""
The "My" part of "My favorites" feels unnecessary. We should rename the page to simply "Favorites," and it's URL to `/favorites/`.

<img width="451" alt="image" src="https://user-images.githubusercontent.com/191598/126699920-12cb180e-eeb7-46a7-b904-122020aa9ccb.png">

<img width="412" alt="image" src="https://user-images.githubusercontent.com/191598/126699951-722fa85a-9603-4575-9c04-1fc0c62c2d8e.p

[2021-07-22 19:49] shaunandrews opened #333 "Improve empty Favorites screen"
When empty the Favorites screen currently looks like this:

<img width="1014" alt="image" src="https://user-images.githubusercontent.com/191598/126700570-b64215dd-6992-4a26-bd98-0d5de2e4a194.png">

Lets add some more space and bring in the heart imagery. It would be nice to also show the most favorited patterns at the bottom.

<img width="1176" alt="image" src="https://user-images.githubuserconten

[2021-07-22 20:40] ryelle commented on #332
This was renamed to "My favorites"/`my-favorites` to match the "My Patterns" page. See https://github.com/WordPress/pattern-directory/pull/284#discussion_r670052529

[2021-07-22 20:40] ryelle commented on #332
Also noting that if we change this, now that the page has been "launched", we'll need to make sure there's a redirect.

[2021-07-22 20:49] ryelle commented on #224
Once pattern creation is built, how should submissions work across languages? I'm assuming the creator will be available on all Rosetta sites, so a designer could create a Japanese pattern on ja.w.org/patterns, with no English original. Then again, someone could also create an English pattern on ja.w.org/patterns, so maybe we'll need a dropdown with the current site's locale as default.

How do we

[2021-07-22 20:53] #34 closed, assigned to nobody

[2021-07-22 21:32] shaunandrews commented on #332
The "My" in "My Patterns" is necessary to denote the difference between all patterns and patterns you've created. We don't have the same need for Favorites.

[2021-07-23 06:10] StevenDufresne commented on #332
As the one who originally made the comment, I'll do it again for completeness. :)

The favorites are specific to the user. I think the URLs should be predictable. If my patterns are `my-patterns`, I would expect the same for my favorites.

[2021-07-23 12:20] kjellr commented on #332
The theme directory uses "Favorites", but the plugin directory uses "My Favorites". If we're going to try to start making these consistent, I'd prefer we settled on the shorter, more concise one. I'm not sure that this needs the word "My" anyway.

[2021-07-23 12:31] kjellr commented on #324
Thanks! I've updated the english version of the pattern. @ryelle do you know if we need to do anything else before closing this out?

[2021-07-23 14:24] ryelle commented on #324
That should be it - it'll sync into the translation project sometime today.

[2021-07-23 15:56] ryelle commented on #321
As mentioned, this is coming from the Spotify embed block. Future patterns might use embeds from other 3rd party services.

I tried some values for `sandbox`, but I would need to research it more to see if that would work - `sandbox="allow-scripts"` broke the iframe entirely.

Tagging this with "Help Wanted".

[2021-07-23 15:57] #324 closed, assigned to nobody

[2021-07-23 16:48] ryelle commented on #331
Does anything change for you when we eventually add in the My Patterns/Create Pattern link to the left? And would this apply to the My Patterns page too? Like…

<img width="977" alt="Screen Shot 2021-07-23 at 12 44 07 PM" src="https://user-images.githubusercontent.com/541093/126814604-c5e7e3ae-f4df-4416-8289-80b9434495e2.png">

<img width="993" alt="Screen Shot 2021-07-23 at 12 41 33 PM" src="http

[2021-07-23 17:06] ryelle commented on #320
For a quick fix we can replace the image with the one @shaunandrews posted. @shaunandrews, could you make an image [like this one](https://wordpress.org/patterns/wp-content/themes/pub/wporg-patterns/images/masthead-bg.png) with the three images? That'll be easiest to swap. It only needs to be 1100ish x 700ish.

If we do need the animated header, we can make another issue for it, and work on it may

[2021-07-23 17:11] shaunandrews commented on #320
![pattern-bg](https://user-images.githubusercontent.com/191598/126817562-7d1d1226-d8a6-44c1-86a6-51d1a50762e3.jpg)

[2021-07-23 17:12] shaunandrews commented on #320
![masthead-bg](https://user-images.githubusercontent.com/191598/126817683-f9107075-c657-4d88-8e64-a139980a3ab7.png)

[2021-07-26 00:26] StevenDufresne opened #335 "Theme: Dead end after clicking favorites category with no favorites"
**Describe the bug**
While viewing "My Favorites", when you click on a category that has no favorites, the navigation disappears and leaves you hanging.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/my-favorites`
2. Click on a category with no favorites
3. See that the navigation is gone
4. Also notice that the back button doesn't fix the problem.

**Expected behavior**
The navigat

[2021-07-26 04:24] StevenDufresne commented on #332
I think `favorites` seems like a consensus. I won't stand in the way :).

[2021-07-26 04:32] StevenDufresne commented on #327
Assuming we get the editor ready, how do you get to your favorites if we only have "Build your own patterns" when not logged in?

[2021-07-26 16:25] iandunn commented on #314
I've switched focus to some higher priority things for a bit, so unassigning.

I may come back to this when I get back to #28, but feel free if anyone wants to move it forward in the meantime.

[2021-07-26 18:57] scottwyden opened #339 "Link in Bio Pattern Template"
This pattern is intended to be a starter Link in Bio page for sites who do not want to pay for a third-party Link in Bio service.

---

## Pattern Title
Link in Bio Page

## Pattern Categories
Page

## Screenshots
![Screen Shot 2021-07-26 at 2 57 00 PM](https://user-images.githubusercontent.com/402384/127043492-7fdc7bf0-69ce-4834-9a8f-a0270b58d473.jpg)

## Image Credits
CC0

## Block Markup
https:

[2021-07-26 19:05] #320 closed, assigned to ryelle

[2021-07-26 22:06] ryelle commented on #332
Should we also drop "My" in the link in the header?

<img width="526" alt="Screen Shot 2021-07-26 at 6 05 00 PM" src="https://user-images.githubusercontent.com/541093/127065283-60c921a8-fc89-4849-a8fc-9f583305a292.png">

[2021-07-26 22:20] #329 closed, assigned to StevenDufresne

[2021-07-26 22:20] #326 closed, assigned to StevenDufresne

[2021-07-26 22:43] StevenDufresne commented on #332
Should we also consider changing the label from `Favorites` to `Favorited` in the sorting dropdown? It could be misinterpreted as on my favorites.

![](https://d.pr/i/YRHt3o.png)

[2021-07-27 01:47] shaunandrews commented on #332
Yes to the link in the header, but I think the sort by drop down is fine as "Favorites."

[2021-07-29 13:01] kjellr opened #343 "Remove pattern submission issue template"
Now that the initial set of patterns have been added to the directory, [we're done with this phase or pre-release patterns](https://make.wordpress.org/design/2021/07/29/initial-patterns-for-the-patterns-directory-launched/).

As a follow up to that, let's remove the [pattern submission template](https://github.com/WordPress/pattern-directory/blob/trunk/.github/ISSUE_TEMPLATE/pattern-submission.md)

[2021-07-29 13:06] kjellr commented on #339
Hey @scottwyden, thanks for the submission. My apologies for not communicating this last week, but now that the directory has launched, [we're all set with new submissions for the time being](https://make.wordpress.org/design/2021/07/29/initial-patterns-for-the-patterns-directory-launched/).

The next phase of the pattern directory work is going to allow anyone to submit patterns directly, without

[2021-07-29 13:06] #339 closed, assigned to nobody

[2021-07-29 18:17] #328 closed, assigned to StevenDufresne

[2021-07-29 18:17] #330 closed, assigned to ryelle

[2021-07-29 18:17] #333 closed, assigned to ryelle

[2021-07-29 18:17] #335 closed, assigned to ryelle

[2021-07-29 18:39] #332 closed, assigned to ryelle

[2021-07-30 14:55] #311 closed, assigned to ryelle

[2021-07-30 15:37] #317 closed, assigned to ryelle

[2021-07-30 15:43] #327 closed, assigned to nobody

[2021-08-18 14:53] #310 closed, assigned to nobody

[2021-08-18 15:18] #28 closed, assigned to iandunn

[2021-08-18 15:41] iandunn opened #347 "Search: Fix locale boosting"
#44 implemented ElasticSearch, but the sorting of locales doesn't match  9a03a8717a4e0f728e936f96dba96da43c537ba5. Instead, the locales are mixed.

e.g., if you look at the results for https://api.wordpress.org/patterns/1.0/?wp-version=5.8&pattern-keywords=11&locale=nl_NL&search=offset, the order is:

[code]

_( the `$.*.meta.wpop_locale` JSONPath filter in Insomnia is convenient )_

Maybe in a se

[2021-08-18 15:41] iandunn opened #348 "Search: Boost by favorites?"
#44 implemented ElasticSearch, which gives us the ability to boost a pattern that has more favorites higher in the results. Do we want to do that?

If so, we'll need to index the meta field, then add a `should` term. It probably should be boosted too high, since relevance is still more important.

Related #347

[2021-08-18 15:42] iandunn commented on #28
I opened a couple new issues for refinement: #347, #348

[2021-08-18 17:46] ryelle opened #349 "Pattern Browsing: Very large images are used in grid view"
When browsing images, the thumbnails load the entire image used in the pattern, which is the full-size image. These images are all very large, over 1500x1500. Loading the `/patterns/` homepage is 7.8MB just of images.

These were all optimized before uploading, so further compressing them would probably affect quality.

The large images are good when viewing the full-sized pattern, and when using

[2021-08-19 11:04] Ruchita-saeculum opened #350 "Purchase Plan"
It helps you to present your site in a very attractive way and people can use it very easily.
---

## Pattern Title

Purchase Plan
## Pattern Categories

Columns , Text , Buttons
## Screenshots

![image](https://user-images.githubusercontent.com/78338462/130048078-2ccb4876-7044-40a0-9ecc-41c6c8e7e227.png)

## Image Credits

## Block Markup

<div class="wp-block-group alignfull is-style-default has

[2021-08-19 11:04] khushhali-saeculum opened #351 "Our Service Block"
It can clearly divide specific groups from other texts. It has a fixed image background so, It helps you to present information in an attractive way.
---

## Pattern Title

Our Services

## Pattern Categories

Columns, Text,

## Screenshots
![our-service](https://user-images.githubusercontent.com/77092268/130054372-2cbbea9e-0595-450b-9264-ce710aa64cd7.png)

## Image Credits

https://imgbb.com/

##

[2021-08-19 11:57] kjellr commented on #351
👋 Thanks for sharing your pattern — we've actually closed submissions for the time being though. [You can find more details here](https://make.wordpress.org/design/2021/07/29/initial-patterns-for-the-patterns-directory-launched/#comments). The next phase of work on the pattern directory will allow you to submit patterns directly to the repository yourself, so please hold onto your pattern for then

[2021-08-19 11:57] #351 closed, assigned to nobody

[2021-08-19 11:57] kjellr commented on #350
👋 Thanks for sharing your pattern — we've actually closed submissions for the time being though. [You can find more details here](https://make.wordpress.org/design/2021/07/29/initial-patterns-for-the-patterns-directory-launched/#comments). The next phase of work on the pattern directory will allow you to submit patterns directly to the repository yourself, so please hold onto your pattern for then

[2021-08-19 11:57] #350 closed, assigned to nobody

[2021-08-19 14:58] iandunn opened #352 "ElasticSearch: website results should include non-core patterns"
Latin locales seem to work:

* https://es.wordpress.org/patterns/search/ejemplo/
* https://fr.wordpress.org/patterns/search/avec/

but non-Latin ones don't appear to:

* https://ja.wordpress.org/patterns/search/%E3%82%AE%E3%83%A3%E3%83%A9%E3%83%AA%E3%83%BC%E3%81%AE%E7%B4%B9%E4%BB%8B/
* https://ru.wordpress.org/patterns/search/%D0%BD%D0%B0%D0%B2%D0%B8%D0%B3%D0%B0%D1%86%D0%B8%D0%B5%D0%B9/

The next

[2021-08-19 15:55] iandunn commented on #352
Ah, nevermind, it doesn't have anything to do with locales. `смещенными` works for Russian.

I think what's happening is that the ES query filters to only `core` patterns, but we don't want that for the website, just for Core API requests. So we just need to distinguish the two, and add that filter conditionally.

Or, do we even want that filter anymore, since Core isn't even requesting these yet,

[2021-08-20 13:23] iandunn opened #353 "Front-end taxonomy views show all patterns"
https://wordpress.org/patterns/pattern-keywords/core/ appears to shows all patterns, instead of just core ones

[2021-08-20 14:47] ryelle commented on #353
Yes, that route was not created for the app. I suppose creating it could also fix the issue at #243. Are you having trouble with all taxonomies? Can you see different patterns at https://wordpress.org/patterns/categories/columns/, https://wordpress.org/patterns/categories/buttons/, etc?

[2021-08-20 18:17] iandunn commented on #353
I haven't checked, @tellyworth noticed it while testing, so i wanted to document it

if we don't link to that URL, then it's probably not a priority, since only power users would try it.

[2021-08-23 15:05] ryelle commented on #352
I'm not sure if I follow here - core _does_ request patterns from the API, and that result set should be restricted to the patterns with the "core" keyword. But the API request sets that keyword, so I don't understand why the ES query itself is filtering the results.

So as long as the API request can still respect that keyword, it sounds like removing the filter from the ES query is okay.

[2021-08-23 15:35] iandunn commented on #352
I meant that Core doesn't make `api.w.org/patterns/?search=foo` requests right now; it only makes _browse_ requests, and then searches the local cache of that. The code for searches is there on the PHP side, but never called from the JS side AFAICT.

That's a great point that Core will just add the `core` keyword to the request when it eventually does start searching the directory, though, so it c

[2021-08-23 22:14] iandunn opened #354 "Search: patterns without explicit `locale` value are ignored"
Patterns that don't have an explicit `en_US` locale in the database are ignored, because the ElasticSearch query for locales doesn't match non-existent/null values. The `default` fallback we have for the REST API doesn't help, since Jetpack syncs the DB, and ES indexes that.

Examples:
* https://wordpress.org/patterns/search/calendar/ - should match post `2082`
* https://wordpress.org/patterns/sea

[2021-08-23 22:18] #352 closed, assigned to iandunn

[2021-08-23 22:30] iandunn commented on #352
the examples in the OP work now, and so does ["large"]( https://wordpress.org/patterns/search/large) for `en_US`.

I discovered another issue while testing, though: #354

[2021-08-24 09:51] rraventos opened #355 "Three Column Testimonials on a Background"
The use of testimonials helps establish credibility. This pattern includes in a background two header sections and three columns to add the photo and the review of each of the three testimonials.
---

## Pattern Title

Three Column Testimonials on a Background

## Pattern Categories

Columns

## Screenshots

<img width="1310" alt="testimonials-pattern" src="https://user-images.githubusercontent.co

[2021-08-30 14:54] melchoyce commented on #355
Hey @rraventos, thanks for sharing your pattern! We've actually closed submissions for the time being — [you can find more details here](https://make.wordpress.org/design/2021/07/29/initial-patterns-for-the-patterns-directory-launched/#comments). The next phase of work on the pattern directory will allow you to submit patterns directly to the repository yourself, so please hold onto your pattern f

[2021-08-30 14:54] #355 closed, assigned to nobody

[2021-08-30 15:23] ryelle commented on #343
Removed in https://github.com/WordPress/pattern-directory/commit/1d28c48b87a3793e25cad56e77da9381bf06a66b

[2021-08-30 15:23] #343 closed, assigned to ryelle

[2021-08-31 19:39] #297 closed, assigned to ryelle

[2021-09-08 19:05] ryelle opened #359 "Pattern Creator: Welcome guide is not triggered correctly"
The custom welcome guide for creating patterns is not triggered correctly, `select( store ).getPreference( 'features' )` is returning undefined. The fix in #358 removes checking for the feature entirely, so it is just toggled back and forth.

We can't use `! select( store ).isFeatureActive( GUIDE_ID )` because it will return false regardless of whether the guide has never been seen or has been dis

[2021-09-08 19:08] #29 closed, assigned to nobody

[2021-09-22 23:45] coreymckrill commented on #105
This functionality can be covered by the [Internal Notes plugin](https://github.com/WordPress/wporg-internal-notes). We just need to add post type support for `wporg-internal-notes` on both the pattern and flag post types and activate the plugin on the Pattern Directory site.

Triggering a modal when a post status changes would require some additional development, but the Internal Notes plugin use

[2021-09-22 23:46] coreymckrill commented on #57
Development on the Stream plugin seems stalled, I haven't gotten any further responses on my PRs. I suspect we will need to write our own connector for post changes if we still want to use the plugin.

[2021-09-24 02:34] annezazu opened #360 "Change Sort By "Favorites" to Sort By "Popular""
This is just a quick enhancement request to change the Sort By setting to say "Popular" rather than favorites as favorites is already used and linked to when folks are logged in. It makes it hard from a UX perspective to know what this option will do and I expected it to sort by my favorites rather than the most favorited items.

Logged out view:
<img width="1080" alt="Screen Shot 2021-09-23 at 10

[2021-09-30 15:19] shaunandrews opened #362 "Favorites: Empty screen loading state never completes"
The empty Favorites screen (/patterns/favorites/) include a navigation for filtering an empty list. Clicking on one of the links displays the loading message, which never goes away because there's nothing _to_ load.

<img width="1019" alt="image" src="https://user-images.githubusercontent.com/191598/135483731-6daebdce-d999-4508-81d6-14225cf0af82.png">

The navigation and sorting dropdown should no

[2021-09-30 15:44] shaunandrews opened #363 "Improve Focus Indicator"
When tabbing through the list of patterns some elements have a nice blue focus indicator, and others seem to have the default dotted outline. Maybe we can update the focus state for elements to all use the blue outline. Here's how that could look with elements in the pattern grid and with the category buttons:

<img width="2254" alt="image" src="https://user-images.githubusercontent.com/191598/135

[2021-09-30 18:45] kjellr opened #365 "Curate a collection of patterns to be featured in the pattern inserter"
Related Gutenberg PRs:

- https://github.com/WordPress/gutenberg/issues/33046
- https://github.com/WordPress/gutenberg/pull/35115

To coincide with efforts to showcase Pattern Directory patterns inside of the inserter by default, there's [a new "Featured" category](https://wordpress.org/patterns/categories/featured/) in the directory. This directory includes a couple patterns for now, but we shoul

[2021-09-30 20:48] melchoyce commented on #365
Some favorites:
- https://wordpress.org/patterns/pattern/two-images-with-text-and-buttons/
- https://wordpress.org/patterns/pattern/triptych-with-two-images-and-a-text-area/
- https://wordpress.org/patterns/pattern/callout-over-a-patterned-background/
- https://wordpress.org/patterns/pattern/event-announcement-and-details/
- https://wordpress.org/patterns/pattern/image-on-solid-color-with-descript

[2021-10-01 10:13] beafialho commented on #365
I selected some from each pattern type, not necessarily with similar looking visuals:

https://wordpress.org/patterns/pattern/heading/
https://wordpress.org/patterns/pattern/introduction-with-gallery/
https://wordpress.org/patterns/pattern/callout-over-a-patterned-background/
https://wordpress.org/patterns/pattern/offset-images-with-descriptions/
https://wordpress.org/patterns/pattern/title-area-w

[2021-10-01 20:36] kjellr commented on #365
Thank you both! Here's a set that includes many of your choices plus a few of my own. There are 12 total. What do you think of this as the initial set?

https://wordpress.org/patterns/pattern/event-announcement-and-details/
https://wordpress.org/patterns/pattern/image-on-solid-color-with-description/
https://wordpress.org/patterns/pattern/header-with-hatched-pattern/
https://wordpress.org/patterns

[2021-10-01 22:55] melchoyce commented on #365
These two feel very similar — is there another we can swap in for one of them?

[2021-10-04 11:59] kjellr commented on #365
Good call. How about this one? It's incredibly simple, and I can imagine it being used often:
https://wordpress.org/patterns/pattern/simple-call-to-action/

[2021-10-04 12:14] beafialho commented on #365
Yeah, that one looks great to me!

[2021-10-04 12:55] kjellr commented on #365
Thank you! [These are all live now](https://wordpress.org/patterns/categories/featured/). Seeing them all together, I noticed that they're all pretty light. 😄 Maybe we can pick a few more colorful ones to include as well?

[2021-10-04 13:37] beafialho commented on #365
You're right. Here are a few colourful ones we could include:

https://wordpress.org/patterns/pattern/event/
https://wordpress.org/patterns/pattern/image-and-quote-on-a-background/
https://wordpress.org/patterns/pattern/large-background-image-with-title-and-description/
https://wordpress.org/patterns/pattern/three-columns-with-images-and-text/

[2021-10-04 15:43] kjellr commented on #365
Thanks! I added three of those. I'll close this issue as resolved for now, though I'm sure we'll re-evaluate this list over time.

[2021-10-04 15:43] #365 closed, assigned to nobody

[2021-10-05 18:13] ryelle commented on #359
Fixed by #364

[2021-10-05 18:13] #359 closed, assigned to nobody

[2021-10-11 19:11] varlese commented on #224
We had a small discussion about the proposed options for translation mechanisms [over on Make/Polyglots](https://make.wordpress.org/polyglots/2021/09/19/how-to-handle-block-pattern-translations/). From the feedback:
- Everyone who commented preferred keeping translations in GlotPress (using the existing translation mechanism) over creating a forked pattern.
- The main concern around moving transla

[2021-10-18 12:50] kasparsd commented on #57
The https://github.com/xwp/stream/pull/1264 pull request has been merged and will be included in the next version of Stream.

[2021-10-18 19:00] #36 closed, assigned to ryelle

[2021-10-19 18:13] ryelle opened #367 "Errors in the pattern validation are hidden behind the modal"
When submitting an empty pattern, it correctly fails validation, but the error is hidden behind the modal.

<img width="857" alt="Screen Shot 2021-10-19 at 2 10 46 PM" src="https://user-images.githubusercontent.com/541093/137966955-ce73c57c-2276-4f51-a709-0bfd473224c7.png">

The modal needs to stay open for the success modal page, but should either close on failure, or show the error in the modal.

[2021-10-19 18:20] ryelle opened #368 "Add a link to view the current pattern from the editor"
Currently if you miss the "pattern created" toast, you have no way of getting from pattern creator to the public pattern details page. Maybe add a link in the "Pattern" panel here:

<img width="330" alt="Screen Shot 2021-10-19 at 2 18 15 PM" src="https://user-images.githubusercontent.com/541093/137967956-0bd8b4e9-6747-4d84-a5ab-76cd9bca73d0.png">

[2021-10-19 18:55] ryelle opened #369 "Pattern management: Add "transfer ownership" option to manage dropdown"
The dropdown to manage patterns should also include an item to "Transfer ownership".

Current dropdown:
<img width="351" alt="Screen Shot 2021-10-19 at 2 50 05 PM" src="https://user-images.githubusercontent.com/541093/137972534-5822c03a-25df-4d37-884b-b7feb1cf882d.png">

This still needs a flow designed for how to transfer ownership. Does this toggle a new modal? Should it have some explanation? W

[2021-10-19 21:15] #16 closed, assigned to ryelle

[2021-10-19 21:39] ryelle opened #370 "Pattern Creation: Submitted patterns should be saved as pending"
Initially, community-created patterns will need to go through manual review, so the creator should default all patterns to "pending". The submission flow relies on the "published" state to close the modal, so that will also need to be updated.

[2021-10-20 16:12] ryelle commented on #192
I think this issue is invalid now that we've switched away from the `edit-post` editor.

[2021-10-20 16:12] #192 closed, assigned to nobody

[2021-10-20 18:49] ryelle commented on #15
Current logged out page:

![Screen Shot 2021-10-20 at 14 49 17-fullpage](https://user-images.githubusercontent.com/541093/138153547-27e86422-de6b-4a99-98fb-178d6abe922d.png)

[2021-10-20 19:07] ryelle opened #371 "Pattern Moderation: Show a user-facing reason for why a pattern was declined"
In the modal to learn more if your pattern is unlisted (declined), there should be a string explaining why the pattern was removed. For example:

<img width="498" alt="Screen Shot 2021-10-20 at 2 55 01 PM" src="https://user-images.githubusercontent.com/541093/138154326-bd60824c-9571-4ccf-88c7-1c1bd9433f0b.png">

[2021-10-20 20:00] ryelle commented on #33
There is a PR on the Gutenberg side to use the `blockTypes` meta value when registering patterns: https://github.com/WordPress/gutenberg/pull/32113

We still need to create a flow for setting the blockType value when creating a pattern.

[2021-10-22 18:28] coreymckrill commented on #105
Well, post type support is now added, but when testing the Internal Notes plugin on the live Pattern Directory site, I was getting [this error](https://github.com/WordPress/wporg-internal-notes/issues/5). It causes the block editor to fatal upon load, so I've turned the Internal Notes plugin back off on the site until this can get resolved.

[2021-10-25 19:49] ryelle commented on #105
I think the issue here is that @coreymckrill was not a user on the patterns site, so the `author` of that note is a `rest_user_invalid_id` error. I've re-enabled the Internal Notes plugin, and added more context to the issue in the Internal Notes repo.

[2021-10-25 22:13] ryelle commented on #105
Now that the backend part of this is set up, we need a UI for moderators. When someone unlists a pattern, we could show a dialog (like the report modal on the front end). The open textarea will save to the internal notes, and the reason chosen can be used to show a message to the pattern author (see #371).

Front-end modal for reference:
<img width="488" alt="Screen Shot 2021-10-20 at 3 02 15 PM"

[2021-10-25 22:25] tellyworth commented on #370
I think so, provided we can include an automated spam/abuse check in there. Those that pass the check would go straight to published, failures would go to pending or some other status.

@angelasjin what do you think?

[2021-10-26 08:27] angelasjin commented on #370
I agree, including an automated spam/abuse check would be helpful. @tellyworth also suggested using keyword blocking, similar to what the Plugins team does, and I think that's an excellent recommendation. What would it take to include that?

Then yes, those that pass the checks are published, and anything that doesn't would go to pending.

[2021-10-26 20:04] zackkrida commented on #37
Just chiming in that [Openverse](wordpress.org/openverse) seems like a natural fit well-suited for this task! The only caveat there is that we support _all_ Creative Commons licenses, even those that require attribution. Users would need to be sure to include these attributions (which we make easy with a 1-click copy/paste attribution tool) or use CC0 images exclusively.

We have some dramatic imp

[2021-10-27 00:11] tellyworth commented on #370
Thinking about this some more: rather than hard-coding the default pattern status to "published", what if it was configurable by an admin. That way if there's a flood of problematic patterns, the default could quickly be switched to "pending" without being dependent on a developer to deploy it. Put it in the hands of the admins who actually have to use it.

[2021-10-27 21:38] ryelle commented on #37
@zackkrida The long-term plan has been to use Openverse, so that's great to hear. Is there an integration in gutenberg that we can use?

Would it be possible to restrict the results to just the CC0 assets? There won't be any validation to check that pattern authors are correctly attributing things, so it would be easier for moderation if we can stick with just CC0.

[2021-10-27 21:46] zackkrida commented on #37
@ryelle No Gutenberg integration yet. Results could however definitely be limited to `CC0`. This kind of filtering is avaliable in both the UI:

- https://wordpress.org/openverse/search/?q=warbler&license=cc0

and through Openverse's public API:

- https://api.openverse.engineering/v1/images?format=json&license=cc0&q=warbler

There's some prior art on using Openverse (back when it was CC Search) a

[2021-10-28 21:20] ryelle commented on #370
So we'll also need a UI somewhere in wp-admin for moderators to change the submission status. Where would the best place for that be?

[2021-11-10 17:31] ryelle commented on #22
I think the only remaining task here is to add an Akismet check over the pattern content for spam. We'll be relying on community reporting for standards checking and other issues under the "Last" list.

[2021-11-10 17:55] #368 closed, assigned to ryelle

[2021-11-10 22:38] ryelle opened #376 "Pattern Creation: Make sure API fields are still connected correctly"
Related to #33, we should also make sure the pattern keywords are correctly set from the API, having been changed from the taxonomy to a custom field.

- [x] Keywords are passed back from CPT API to proxy API (as `meta.wpop_keywords`)
- [x] Keywords are used when loading patterns into Gutenberg

[2021-11-10 22:45] ryelle opened #377 "Pattern Creation: Allow anyone with WordPress.org user account to create patterns"
Right now, you need to be logged into the site to create patterns, but it should be open to any WordPress.org user.

Any user should be able to create patterns, view the `my-patterns` page, edit their own patterns, but not edit anyone else's patterns.

[2021-11-12 17:51] #105 closed, assigned to ryelle

[2021-11-12 18:09] ryelle commented on #371
For copy review, maybe @angelasjin can help, or point me to someone who can?

Should this be passive voice instead?

For the reason strings, we have the following "buckets" of reasoning, which can show a generic user-facing explanation. Here are some proposals.

**Rude, crude, or inappropriate**

**Copyrighted or trademark issue**

**Broken or unusable**

**Other**

I have no idea for this one, no

[2021-11-16 09:55] angelasjin commented on #371
Thanks @ryelle! I think this looks good, I just have some minor edits.

The reasoning for **Rude** and **Copyrighted** look good to me.

For **Broken or unusable**, does "does not display correctly" cover "unusable" well enough, or does any further elaboration help?

For **Other**, what is being flagged here? We could use something generic like:

[2021-11-16 15:15] ryelle commented on #371
I thought so, but maybe not? Do you think it needs more explanation?

Really anything else, I don't know — I'm going off the flagging reasons when reporting a pattern.

Who should be contacted?

[2021-11-17 07:40] angelasjin commented on #371
For **Broken or unusable**, what you suggested works!

I was thinking through whether we needed the **Other** category, as seems to be a catch all for patterns we don't expect. When a pattern is flagged for **Other**, can a reason be submitted for why it was flagged?

In any event, I like having a catch-all, just in case. Let's keep the explanation real simple, how about:

Thanks @ryelle!

[2021-11-17 16:05] ryelle commented on #371
When unlisting a pattern, [the modal](https://user-images.githubusercontent.com/541093/141346796-03174f71-22ec-44fd-b214-0d62ec271454.png) requires an internal note, so the moderator/admin should add details there. That's meant to be for mod use only, not public-facing. It can help us track why patterns are unlisted as Other though, and we can revisit the reasons later.

[2021-11-19 20:01] #371 closed, assigned to nobody

[2021-11-19 20:02] #37 closed, assigned to ryelle

[2021-11-22 17:19] shaunandrews opened #380 "Use Gutenberg Site Editor component for pattern previews"
The upcoming Site Editor includes a way to "focus" on a particular template part. It looks something like this:

https://user-images.githubusercontent.com/191598/142905771-0a0a3513-adff-4920-8966-26c429e8957a.mp4

It would be an improvement to make use of this component for previewing on the pattern detail pages (like https://wordpress.org/patterns/pattern/large-background-image-with-title-and-des

[2021-11-22 17:26] shaunandrews opened #381 "Pattern Details: Remove restricted height or increase max-height"
Currently, the preview on the pattern detail page (i.e. https://wordpress.org/patterns/pattern/large-background-image-with-title-and-description/) has set height of `50vh`, which for many patterns causes an additional scrollbar:

<img width="1093" alt="image" src="https://user-images.githubusercontent.com/191598/142906493-17e1e258-f312-40ac-9ce6-4dd92ab6fa89.png">

It would be better if we could d

[2021-11-24 21:11] #367 closed, assigned to ryelle

[2021-11-24 21:11] #370 closed, assigned to ryelle

[2021-11-24 21:21] ryelle opened #383 "New patterns don't show up on my patterns page"
Newly created patterns don't show up on the My Patterns list. I've looked into this in the past and I think it's because they lack the `wpop_locale` meta value. This might only apply to unpublished patterns.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a new pattern, save it as draft
2. View `/my-patterns`
3. New pattern is not there, nor is it on the Drafts tab

**Expected behavi

[2021-11-24 21:24] ryelle opened #384 "Unlisted patterns appear on the My Patterns page without a label"
**To Reproduce**
Steps to reproduce the behavior:

1. Have some unlisted patterns
2. Go to My Patterns page
3. The unlisted patterns appear unlabelled next to published patterns

**Expected behavior**

Unlisted patterns should have a label like pending & draft do

<img width="698" alt="Screen Shot 2021-11-24 at 4 22 50 PM" src="https://user-images.githubusercontent.com/541093/143314507-4381c661-47

[2021-12-01 20:56] ryelle opened #386 "Editing & creating patterns on a Rosetta site?"
Currently, it's possible to view a pattern you own on a rosetta site (you stay the author when it's translated). Since you own it, you have permissions to edit it.

<img width="1010" alt="Screen Shot 2021-12-01 at 3 48 22 PM" src="https://user-images.githubusercontent.com/541093/144311579-94b79da6-55ab-4863-8cf6-914efceee86b.png">

Any edits done would not be run through the official translation p

[2021-12-01 21:23] #383 closed, assigned to nobody

[2021-12-01 21:29] #384 closed, assigned to nobody

[2021-12-01 21:37] ryelle commented on #33
We can set `blockTypes` for a pattern, and that will pass through the API to the editor to make it work (once WordPress/gutenberg#32113 is merged).

The unanswered question here is how that should work (in the UI) when creating a pattern. Since we still don't have a design here, and the gutenberg API has no traction (so it won't make 5.9), I've pulled this out of the pattern creation v1 milestone.

[2021-12-01 21:40] ryelle commented on #17
Since we're not using the "fork" flow to translate patterns, I'm going to close this issue. If remixing is a requested feature later, we can revisit the idea.

[2021-12-01 21:40] #17 closed, assigned to nobody

[2021-12-01 21:42] ryelle commented on #244
It looks like all the linked PRs have been merged, so I'm going to close this issue.

[2021-12-01 21:42] #244 closed, assigned to iandunn

[2021-12-01 21:57] ryelle commented on #224
To continue with the current GlotPress solution, we just need to remove [the restriction on which patterns get imported](https://github.com/WordPress/pattern-directory/blob/eab19454d86b9714dd4dd84d067dd78a2bb164a8/public_html/wp-content/plugins/pattern-translations/includes/pattern.php#L132-L136). Then, any new pattern will be automatically imported.

A default text library would be neat, I'm not

[2021-12-01 22:39] ryelle commented on #23
I've disabled the following blocks:

These are all used together to display site content for nav menus, and might require permissions the pattern author doesn't have to create new menus (also, those menus would not exist on the user's site).

- `core/navigation-area`
- `core/navigation`
- `core/navigation-link`
- `core/navigation-submenu`
- `core/page-list`

The template part block is not useful f

[2021-12-02 19:55] shaunandrews commented on #23
I'd expect the Navigation block _and_ all three "site info" blocks (logo, tagline, title) to be necessary to create usable Header patterns.

Maybe the blocks can be added to a pattern, but are restricted so that you're unable to "fill them out" — that is, they always render is if they're empty. As you mentioned, it might be nicer for the title and tagline to make use of some different placeholder

[2021-12-02 20:41] ryelle commented on #23
The copying feature wouldn't really work in that case, because you'd need to create and save the template part locally too. Perhaps a v3 feature :)

This is the issue with just about all of these blocks - there's no way to control bits of them like that. AFAICT, I can't disable selecting a menu in the Navigation block, so anyone adding it would just run into permission errors trying to create a ne

[2021-12-02 21:28] shaunandrews commented on #23
Sure. But at some point we'll _need_ to have a way to make use of some of these blocks in patterns. Perhaps there's some clever solution using block transforms and variations that could help; Maybe the pattern directory replaces these blocks with restricted variations, and then transforms them when publishing.

[2021-12-02 22:13] ryelle commented on #22
@dd32 Are you able to look into adding a spam check step to [the pattern validation](https://github.com/WordPress/pattern-directory/blob/trunk/public_html/wp-content/plugins/pattern-directory/includes/pattern-validation.php)?

[2021-12-03 01:07] dd32 commented on #22
It's still on my list, but I don't have anything to show for it right now..

[2021-12-07 03:12] tellyworth commented on #23
Re mocking the query loop stuff: rather than mocking, can we just create some actual sample posts and pages on the site?

Totally agree that the beta shouldn't be held up for this. It is important that we get feedback into G tickets though, I think there's some short-sightedness in the way many core blocks are designed that has implications for other use cases besides patterns (block themes especi

[2022-01-05 15:44] ryelle commented on #90
I think this issue is solving for an issue we don't have yet, and so I keep punting it. I'm going to close it. Users can write an essay in the flag notes if they want, it shouldn't break anything. When whoever moderates reports sees that, either the user is using reporting in bad faith, or we need to add better instructions - but we won't know what that would look like until it's in use, and we ca

[2022-01-05 15:44] #90 closed, assigned to coreymckrill, tellyworth

[2022-01-06 13:53] richtabor commented on #190
Or "Headlines" perhaps, instead of a "Header" or "Hero" category 🤔

[2022-01-06 13:56] richtabor opened #387 "Update link to edit pattern in admin bar"
**Describe the bug**
Why are `https://wordpress.org/patterns/new-pattern` and `https://wordpress.org/patterns/wp-admin/post.php?post=10193&action=edit` both accessible for adding new patterns?

They different experiences and its a tad confusing to be able to access both.

It seems `https://wordpress.org/patterns/new-pattern` is the correct view, as the Openverse media library loads there.

[2022-01-06 14:09] richtabor opened #388 "Styles are not 1:1 between the editor and front-end"
**Describe the bug**
I created this pattern [here](https://wordpress.org/patterns/?post_type=wporg-pattern&p=9244), but have found that the front-end view of it is very different from what I've made. Is it possible to have consistent styling between the two? It looks like there's stuff missing on the front-end, as the pattern looks fine in the editor, but rough otherwise.

**Expected behavior**
Th

[2022-01-06 14:12] richtabor opened #389 "Unable to set full/wide width for a pattern"
**Describe the bug**
Within the /new-pattern/ experience, I am unable to set a pattern align attribute to wide/full. Is this intentional?

For [this pattern](https://wordpress.org/patterns/?post_type=wporg-pattern&p=9244), I believe I built it in the post.php view, and copy/pasted it in (which maintained the fullwidth value).

**Screenshot**
<img width="599" alt="This is a test pattern" src="https

[2022-01-06 14:13] richtabor opened #390 "I should only be able to unlist a pattern if the pattern is listed"
"Unlist" should not be an option, unless the pattern is listed.

<img width="530" alt="Preview" src="https://user-images.githubusercontent.com/1813435/148395889-657aba4e-0dbc-4d2c-a4b4-d3b0fdb3f397.png">

[2022-01-06 15:42] ryelle commented on #387
Most people won't be able to access the view in wp-admin, you only can because you've been added to the site. `/new-pattern` is the correct place to create and edit patterns.

We should remove this link from the frontend, for non-admin users, since it goes to a permissions error screen.
<img width="270" alt="Screen Shot 2022-01-06 at 10 41 06 AM" src="https://user-images.githubusercontent.com/5410

[2022-01-06 15:56] ryelle commented on #388
That editor screenshot is from wp-admin, but it's even more divergent in the frontend editor:

<img width="881" alt="Screen Shot 2022-01-06 at 10 56 21 AM" src="https://user-images.githubusercontent.com/541093/148411309-bd14e7e1-f8ee-49e3-88ca-7e46c9106974.png">

[2022-01-06 16:01] ryelle commented on #390
Only moderators will see this screen, and it's possible we would need to unlist a submitted (pending) pattern if it violates the guidelines.

[2022-01-06 16:01] #390 closed, assigned to nobody

[2022-01-06 16:08] ryelle commented on #380
This uses a `resizableEditor` component which is not exported, so we can't use it directly (we also don't need the "editor" functionality), but can probably take the gist of it from `packages/edit-site/src/components/block-editor/resizable-editor.js`.

[2022-01-06 16:10] ryelle commented on #255
Closing this issue for now, if we find something actionable to improve performance (or get more reports of it being slow), we can revisit.

[2022-01-06 16:10] #255 closed, assigned to nobody

[2022-01-06 16:12] ryelle commented on #354
As of https://github.com/WordPress/pattern-directory/commit/95d569d50095e6069c90a8ce5c112892fde29428, new patterns are created with a locale set, so this shouldn't be an issue anymore. There haven't been any new patterns created since the original backfill, so everything should be working as expected now 👍🏻

[2022-01-06 16:12] #354 closed, assigned to nobody

[2022-01-06 16:14] ryelle commented on #381
I think this would be fixed by switching to the component suggested in #380, but I'll leave this open too just to make sure.

[2022-01-06 16:29] richtabor commented on #387
I was thinking that was the case — but yea, I agree with this:

[2022-01-06 22:57] shaunandrews commented on #190
Headlines works well.

[2022-01-13 15:53] ryelle commented on #15
We could also use this page to keep that info available regardless of logged in status: https://wordpress.org/patterns/about/

[2022-01-21 02:09] naokomc commented on #386
In a similar way to how we request plugin and theme authors to go through it even if they speak another language, I think the author of Patterns should only have permission/ability to translate it through the standard process (suggesting translations on translate.wordpress.org and having reviewed). This can simplify the overall process and reduce confusion. Also, if any inappropriate language is u

[2022-01-21 19:44] varlese commented on #386
Adding a +1 to Nao's comments (on both points).

In terms of requiring new patterns to be in `en_US` by default, I remember some previous discussion about encouraging the use of non-unique content (i.e. lorem ipsum, quotes from items in the public domain, etc.) to help make it easier to re-use translations and/or translation memory. This is tangential to the actual development, but perhaps some Ma

[2022-01-21 19:55] ryelle commented on #386
Yep, the patterns are already required to be in English, and all will go through GlotPress for translations (see #224 for that discussion, including the lorem-ipsum suggestion).

That's a good idea. There won't be any technical solution in place at launch, but even just a separate page for reference could be helpful, and then it would be in place for when/if we have resources for building the tool

[2022-01-21 19:57] ryelle opened #391 "Pattern Creation: Enable translation on all patterns"
To continue with the current GlotPress solution, we just need to remove [the restriction on which patterns get imported](https://github.com/WordPress/pattern-directory/blob/eab19454d86b9714dd4dd84d067dd78a2bb164a8/public_html/wp-content/plugins/pattern-translations/includes/pattern.php#L132-L136). Then, any new pattern will be automatically imported.

[2022-01-21 19:57] ryelle opened #392 "Pattern Creation: Add a tool to suggest default text"
From #224

[2022-01-21 20:00] ryelle commented on #224
Created #391 & #392 to track those two tasks, since only one is needed for launch. Closing this tracking issue.

[2022-01-21 20:00] #224 closed, assigned to nobody

[2022-01-21 20:06] ryelle commented on #386
oh, and of course thanks @naokomc & @varlese for thinking about this 😁

[2022-01-25 12:17] angelasjin opened #394 "Add public submission guidelines for the pattern directory"
Can we add some submission guidelines for the block pattern directory? I think that using what @shaunandrews [suggested as a starting point](https://www.figma.com/file/bz4qs4jZCkqvQzPH2fmX6C/Pattern-Directory?node-id=2257%3A0) would be great.

[2022-01-26 17:54] kjellr opened #395 "Add filter options for "site building" patterns and new categories"
_Related to #190._

With 5.9's release, we should begin seeing more and more "Site Building" patterns like Headers, Footers, and Query blocks. Especially as themes gain the ability to host patterns in the directory and reference them in their themes (https://github.com/WordPress/gutenberg/issues/35364)

In Gutenberg, these will likely be pulled in contextually depending on the section of the site

[2022-02-02 21:18] #387 closed, assigned to ryelle

[2022-02-07 18:27] #377 closed, assigned to ryelle

[2022-02-15 09:01] jasmussen commented on #395
As a very basic effort to make our canvas not be empty, here's a quick doodle to help me better understand the needs here. Essentially, it's a filter button added to the Pattern Explorer modal:
<img width="2798" alt="Filtering patterns" src="https://user-images.githubusercontent.com/1204802/154027647-5f448be7-76b0-44e6-a866-3ab0b4ac7063.png">

I'm not too happy with the discoverability of this, or

[2022-02-15 09:29] ntsekouras commented on #395
Thanks for the mock up @jasmussen!

Currently we don't show all pattens but patterns of a specific category or the results of a search term. In addition there has been discussions in various places whether patterns should be categorized by their source (theme, plugins, block directory). The categorization is even more convoluted since themes can also register patterns from the pattern directory.

[2022-02-16 11:42] jasmussen commented on #395
The filter dropdown was that attempt at offering ways to filter to _just those from TwentyTwentyTwo_ or otherwise, so if you chose the "TwentyTwentyTwo" filter, any Headers on the left would be just those from that theme.

We could also do it the other way around, make the filter a subset of the category, would that be preferred? Correct me if I'm wrong but in my understanding there's also a perfo

[2022-02-16 17:02] ryelle commented on #395
@jasmussen @ntsekouras Did you meant to post this on a gutenberg issue? You're in the pattern directory repo right now.

[2022-02-16 17:12] ntsekouras commented on #395
I know but I just shared some thoughts that are still relevant for pattern directory 😄

[2022-02-17 05:53] StevenDufresne commented on #380
Can you go into detail as to why it would be an improvement to use the actual component?

[2022-02-17 07:48] jasmussen commented on #395
Same 😅 — the discussion might lean Gutenbergy (apologies), but I figured there was a little overlap in both directions.

[2022-02-17 14:17] ndiego commented on #395
This is also a little Gutenbergy, but I think categories themselves can be expanded upon. For example if a custom pattern category is registered by a theme, there could be a `'type' => 'twentytwentytwo'` parameter. Similarly core WordPress categories could get `'type' => 'core'`. With these parameters in place, we can then do interesting things in the Pattern Explorer to segment patterns and patte

[2022-02-21 06:33] StevenDufresne opened #398 "Layout when viewing my own pattern."
## Describe the bug
When I visit my own pattern logged in, the layout feels a bit awkward. The [Options] select seems out of place.

## Screenshot
<img src="https://d.pr/i/LDxeMX.png" width=50% height=50%>

## Potential Solutions

| Option  A | Option B |
| --- | --- |
| Right aligned | No favorites? Do users need the ability to favorite their own patterns? |
| ![](https://d.pr/i/wwn69u.png) |  ![

[2022-02-21 06:40] StevenDufresne commented on #389
Just clarifying, in the new-pattern editor you are not seeing this alignment button?.. although copy and pasting seems to apply the setting properly?

![](https://d.pr/A68S2O.png)

[2022-02-21 12:04] richtabor commented on #389
I went to double-check but `https://wordpress.org/patterns/new-pattern/` doesn't seem to be correct anymore — did that change?

![CleanShot 2022-02-21 at 07 04 05@2x](https://user-images.githubusercontent.com/1813435/154951866-39ad3fc5-3af6-4bad-8346-1ac5ddea3803.png)

[2022-02-22 02:41] StevenDufresne opened #399 "Media Uploads: Cover block"
**Describe the bug**
- The cover block utilizes the `BlockControls` slot and inserts `<MediaReplaceFlow>`([Ref](https://github.com/WordPress/gutenberg/blob/314c9844055220833692bd08c4d1735aca136784/packages/block-library/src/cover/edit.js#L464)).
- The [`<MediaReplaceFlow>`](https://github.com/WordPress/gutenberg/blob/ebbc7d849776ac4f4a1a4f72d0ec3c84bf688809/packages/block-editor/src/components/med

[2022-02-22 05:45] StevenDufresne commented on #394
As an MVP could we add a simple step in the publish window as opposed to a full page?

Something like:
<img src="https://d.pr/i/vk3Yi6.png" width="400px">

[2022-02-22 06:10] StevenDufresne commented on #389
It should be working for you now.

[2022-02-22 06:28] StevenDufresne opened #402 "WordPress Spinner is cut off."
**Describe the bug**
The `<Spinner>` component we use is cut off. This is due to a _nomalize.css style that we carry.

[code]

**Screenshots**
![](https://d.pr/i/r4veCa.png)

[2022-02-22 06:41] sumitsinghwp opened #403 "Countinue loading svg loader"
Hi,
i through if result not found then show no found or somthing insted of loading loading curcle.link - https://wordpress.org/patterns/favorites/categories/buttons/
more information see quick video - https://www.loom.com/share/6c628d5000444a18935845b5570879c1

[2022-02-22 10:27] jonoalderson opened #404 "Title management should not remove locale name"
Patterns URLs like https://fr.wordpress.org/patterns/ (correctly) append a localization string to the `<title>` elem, but this is removed via JavaScript.

This behaviour should be removed; the title should not be altered.

[2022-02-22 10:28] jonoalderson opened #405 "hreflang tags are missing"
Patterns URLs like https://fr.wordpress.org/patterns/ omit `hreflang` tags.
These should be added, as per other parts of the wp.org site(s).

[2022-02-22 10:32] jonoalderson commented on #255
Can we revisit? The current performance is pretty appalling from an SEO, usability, accessibility and general marketing/reputation perspective. I'd still like us to [_noindex_ the whole patterns directory](url) until we can address this.

[2022-02-22 14:30] richtabor commented on #389
Thanks, that worked.

So yea, I'm not able to set blocks as wide or full in this experience — though I can paste in blocks that have the alignment already set to those (although I can't change it).

<img width="969" alt="CleanShot 2022-02-22 at 09 27 53@2x" src="https://user-images.githubusercontent.com/1813435/155152435-99d03847-2151-411a-a3b6-4fedf28bcf58.png">

[2022-02-22 15:00] ryelle commented on #398
cc @shaunandrews

[2022-02-22 16:11] ryelle commented on #399
Uploads should already be prevented from #373  (see #37), this sounds like a regression.

[2022-02-22 16:12] ryelle commented on #394
I think that's a good additional step, but we'll also want a standalone page for people who want to know what the rules are before creating anything.

[2022-02-22 16:19] ryelle commented on #404
Thanks for flagging this issue. The title needs to be managed in JS so it can be updated while navigating pages, but I see the difference:

- Index: "Répertoire de compositions de blocs &#124; WordPress.org", and it should be "Répertoire de compositions de blocs &#124; WordPress.org Français"
- Category: "Compositions de blocs : Boutons &#124; WordPress.org", and it should be "Compositions de bloc

[2022-02-22 17:02] ryelle commented on #403
Thanks for the report. This issue is already being tracked here: https://github.com/WordPress/pattern-directory/issues/362

[2022-02-22 17:02] #403 closed, assigned to nobody

[2022-02-22 17:24] ryelle commented on #380
I don't think the component itself is the important part, it's matching the look of our preview to be similar. I imagine the reasoning is to keep the interaction patterns consistent between the Pattern Directory site and the editor.

[2022-02-22 17:29] ryelle commented on #122
Closing this in favor of #380.

[2022-02-22 17:29] #122 closed, assigned to ryelle

[2022-02-22 20:23] ryelle commented on #15
Closing in favor of #394

[2022-02-22 20:23] #15 closed, assigned to nobody

[2022-02-22 20:29] ryelle commented on #394
I added the content from the figma to https://wordpress.org/patterns/about/ (It definitely needs CSS help, this is just to get it in place). This is mostly about how to create a pattern, which is good, but isn't stuff like "don't spam"/"don't use trademarks". The [plugin directory info page](https://wordpress.org/plugins/developers/) links off to [more detailed guidelines](https://developer.wordpr

[2022-02-23 00:19] StevenDufresne commented on #394
I would hope that the pattern directory wouldn't need a handbook. In-line documentation would be a better experience.

[2022-02-23 00:33] StevenDufresne commented on #399
Aha. My apologies, works as expected in editor mode. Closing.

[2022-02-23 00:33] #399 closed, assigned to nobody

[2022-02-23 00:44] StevenDufresne commented on #325
I don't see this text in the pattern provided in the link. Reopen if necessary.

[2022-02-23 03:38] dd32 commented on #405
I believe these were disabled before the localised pattern directory was implemented, and before localised patterns were possible.

The code will also need updating to detect the localised variants of the patterns and only link to those (where the post name also differs)

[2022-02-23 07:58] StevenDufresne commented on #389
This is because the image block is the root block. If you were to wrap it in a group, your controls will appear as expected.

@ryelle Why don't we allow alignments on the root?
https://github.com/WordPress/pattern-directory/blob/e53161aec62882a027ce12007a80c9dbc6c7e561/public_html/wp-content/plugins/pattern-creator/src/components/block-editor/index.js#L31

[2022-02-23 08:10] jasmussen commented on #398
Putting the Options button on the right seems like a fairly decent solution that would not preclude further enhancements in the future.

[2022-02-23 08:31] jasmussen commented on #369
I'm jumping in a bit blind here, so forgive me if some of these ideas don't apply. I imagine that "Delete pattern" opens a confirm dialog, correct? In that vein, "Transfer ownership" is similarly destructive, and a modal seems like it might be a good fit. Here's a quick doodle:
<img width="1216" alt="Mockup showing a dropdown menu with 4 items, and a modal with a username input" src="https://user-

[2022-02-23 08:40] jasmussen commented on #331
Hopping in from outside, Kelly you're suggesting that if you go to my favorites, you could also filter by Headers a level deeper than that? I.e. All Patterns / My Favorites / Category: Header?

I've not yet been able to compile the directory (working on that), so the following should not be considered a very strong or too informed opinion. But initially I'd simply echo Shaun's suggestion, that we

[2022-02-23 15:48] ryelle commented on #394
I should have put that as a separate question- I don't mean a separate handbook for just using the pattern creator, I mean like the ["The Plugin Directory" section here](https://developer.wordpress.org/plugins/wordpress-org/) — detailed guidelines, troubleshooting, FAQs, etc. Trying to see where a potential "Detailed Guidelines" page would live.

Inline documentation will work for basic guidance,

[2022-02-23 15:50] ryelle commented on #325
It's in the alt text of the first photo.

[2022-02-23 16:01] ryelle commented on #325
I just removed "of trees" & synced the translations so the new string is available to be updated.

[2022-02-23 16:01] #325 closed, assigned to nobody

[2022-02-23 16:07] ryelle commented on #389
TBH, it's something we inherited from [the site editor](https://github.com/WordPress/gutenberg/blob/0b1df8882563ca8f68086955ccbd3ba3bea78110/packages/edit-site/src/components/block-editor/index.js#L40), I would need to investigate why it's needed there.

[2022-02-23 16:57] ryelle commented on #331
You can click around on the live site, that should give you an idea of how it works: https://wordpress.org/patterns/

You can, but that's not what I'm talking about here. The original issue is that "Favorites" appears twice in the header on the Favorites page:

<img width="1195" alt="Screen Shot 2022-02-23 at 11 44 28 AM" src="https://user-images.githubusercontent.com/541093/155365906-78416e23-de4

[2022-02-23 20:03] nextdoorpanda commented on #325
Thank you :)

[2022-02-23 21:58] StevenDufresne commented on #394
Ok. Do we need a new standalone page at all then? Could we not just leverage the handbook? I feel like I've seen a `Do's` and `Dont's` section in the handbook, although I can't seem to find it. Maybe keep the docs close to the Block Editor
documentation?

[2022-02-23 22:07] #360 closed, assigned to nobody

[2022-02-24 00:54] ryelle commented on #394
We don't have a handbook yet, if we want to create one we'll need to decide where it goes/what goes in it. I still think having [the About page ](https://wordpress.org/patterns/about/) is useful, and until we have a handbook, we can post detailed guidelines at `https://wordpress.org/patterns/about/guidelines`.

This issue is for creating those "detailed guidelines" & the content on the About page.

[2022-02-24 01:31] StevenDufresne opened #407 "Pattern Creator"

[2022-02-24 04:01] StevenDufresne commented on #389
I tracked down the code and it appears it was added in [30079](https://github.com/WordPress/gutenberg/pull/30079):

So I think we can remove `alignments: []` safely. Not sure yet if the whole `Layout` object can be removed yet.

[2022-02-24 05:09] StevenDufresne opened #408 "Single Pattern View: Layout content shifts and downloads asset twice."
## Describe the bug
We render the post content in `single-wporg-pattern.php` and then replace it with JavaScript-driven content.

This leads to 2 problems:
1. The view flashes (jank)
2. The images (& other assets) are downloaded twice

This problem isn't as noticeable when patterns use small, compressed images, but some don't. Patterns from the wordpress.org author have large images, many greater

[2022-02-24 06:09] StevenDufresne opened #409 "You can't submit a pattern until it has a title."
**Describe the bug**
When you modify content in the editor for a Page/Posts, the `Submit` button becomes active without adding a title. When you are creating a pattern, adding content does not activate the submit button until you create a title.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `new-pattern`
2. Add some content to your pattern
3. Verify that the button is not active
4. A

[2022-02-24 09:05] jasmussen commented on #331
Thanks for the clarification, catching up!

To be clear, I don't see this issue as the biggest issue in the world. Not that it doesn't need fixing, but that it probably doesn't need a very elaborate fix. From just browsing around, it doesn't seem like you'd have additional breadcrumbs under "Favorites", i.e. `All Patterns / Favorites / Buttons`. In that light, can we just not show "Favorites" as a

[2022-02-24 09:51] jasmussen commented on #395
Coming back to this one, and particularly this part:

There's a sorting mechanism on the patterns page at the moment, which simply allows you to sort by recency or amount of favorites:

<img width="1452" alt="Before, able to sort by newest and most favorited" src="https://user-images.githubusercontent.com/1204802/155500499-78a6021f-5c6e-42fa-ac88-f2b539389e19.png">

I wonder if we couldn't extend

[2022-02-24 15:43] ryelle commented on #409
A title is required, but I see how that's not clear here.

If we enable the submit button with no title, the modal should still prevent submission until a title is provided, but IMO this is more clear - what do you think?

<img width="626" alt="Screen Shot 2022-02-24 at 10 42 30 AM" src="https://user-images.githubusercontent.com/541093/155557307-36af87e2-3cf5-44a9-9351-44eaa3fa01e0.png">

[2022-02-24 15:46] ryelle opened #410 "Submission modal X overlaps the title input"
Currently:

<img width="626" alt="155557307-36af87e2-3cf5-44a9-9351-44eaa3fa01e0" src="https://user-images.githubusercontent.com/541093/155557515-b9e1c555-71c4-43fa-8331-e0bbd8e8ea62.png">

It should have more space above the label, like this (from figma):

<img width="628" alt="Screen Shot 2022-02-24 at 10 46 15 AM" src="https://user-images.githubusercontent.com/541093/155557963-d5473df5-aa93-4c3

[2022-02-24 15:49] ryelle opened #411 "Tools: Add Internal Notes plugin to composer dependencies"
The [Internal Notes plugin](https://github.com/WordPress/wporg-internal-notes/) is used on the Patterns site, but is not installed in the local environment. Other plugin dependencies are installed with composer, so Internal Notes should get added that way too.

[2022-02-24 23:04] StevenDufresne commented on #409
Yep, that's what I had in mind. 👍

[2022-02-25 04:07] StevenDufresne commented on #402
I've added a PR in the wordpress.org Repo for this fix:

https://github.com/WordPress/wordpress.org/pull/63

[2022-02-25 18:57] kjellr commented on #395
That seems like a cool solution to start with. I think we might as well add an "All" option under "Type" too.

[2022-02-25 22:24] coreymckrill commented on #411
Waiting to get [this](https://github.com/WordPress/wporg-internal-notes/pull/8) merged to make adding this as a dependency simpler.

[2022-02-28 05:15] StevenDufresne opened #415 "My Patterns: Dropdown not appearing."
**Describe the bug**
When I visit the list of my patterns and click the [V] button, nothing happens.

_Note: Works as expected in FireFox._

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/my-patterns`
2. Click on the dropdown button
3. Expect to see a sub menu toggle.

**Screenshots**

<img src="https://d.pr/i/z121QS.gif" width="400px">

**Desktop (please complete the following infor

[2022-02-28 05:24] StevenDufresne commented on #415
On further investigation, it appears like the modal is opening at a lower position in the document.

![](https://d.pr/i/3YxA0g.gif)

[2022-02-28 07:50] jasmussen commented on #395
Sounds good.

<img width="401" alt="Screenshot 2022-02-28 at 08 46 16" src="https://user-images.githubusercontent.com/1204802/155944055-0233892d-7e3e-4de1-98c3-1b1bfcc8db9e.png">

A small note on the mockups, the style of the submenu I've taken from the block editor as it seems like a scalable enough design. But if there's an existing custom popover design that is easier to implement, the pixels d

[2022-02-28 08:05] StevenDufresne commented on #415
This appears to be the result of [this chrome bug.](https://bugs.chromium.org/p/chromium/issues/detail?id=20574).

Essentially what is happening is that the ancestor, in this case: `pattern-grid__actions` is pulled out of the flow (because of GPU compositing) with `transform: translateY(6px);`. As a result, the [Dropdown component](https://github.com/WordPress/gutenberg/blob/3da717b8d0ac7d7821fc6d

[2022-02-28 21:47] ryelle opened #416 "Alignment & spacing is not passed to the frontend preview"
Pulled out of #388. When styles are applied using the custom `wp-container-*` classes, these are not applied to the preview content. This is most obvious if you try to add & center a button:

Editor:
![](https://user-images.githubusercontent.com/541093/156041186-2507d7e0-622c-4ed2-a260-7dddb957083a.png)

Frontend preview:
![](https://user-images.githubusercontent.com/541093/156041187-a97319c0-231b

[2022-03-01 17:25] #410 closed, assigned to StevenDufresne

[2022-03-01 17:26] #409 closed, assigned to StevenDufresne

[2022-03-01 17:26] #388 closed, assigned to ryelle

[2022-03-02 16:17] #415 closed, assigned to StevenDufresne

[2022-03-02 16:39] #389 closed, assigned to StevenDufresne

[2022-03-02 23:06] ryelle opened #421 "Edit link in admin bar opens translated pattern"
https://github.com/WordPress/pattern-directory/pull/393 updated the Edit link in the dropdown to go to the original (English) pattern, but the "Edit" link in the admin bar still tries to open the creator on the translated pattern. It should also be updated to open the original pattern.

<img width="191" alt="Screen Shot 2022-03-02 at 6 04 59 PM" src="https://user-images.githubusercontent.com/54109

[2022-03-03 00:52] StevenDufresne commented on #416
I was able to create a discrepancy with this block:
[code]

| Editor | Preview |
| --- | --- |
| <img src="https://d.pr/i/hv3I8v.png"> |  <img src="https://d.pr/i/OI45bf.png"> |

[2022-03-03 21:23] ryelle commented on #386
As of https://github.com/WordPress/pattern-directory/pull/393 & https://github.com/WordPress/pattern-directory/commit/538635307ab4d3cda0ccb0faf874c96216ad2adf, the "edit" links load the original English pattern, so it's not possible for regular users to edit the translated patterns outside of glotpress. Admins & moderators still can in wp-admin, but that's needed for moderation tools.

[2022-03-03 21:23] #386 closed, assigned to ryelle

[2022-03-03 21:23] ryelle commented on #421
Fixed in https://github.com/WordPress/pattern-directory/commit/538635307ab4d3cda0ccb0faf874c96216ad2adf.

[2022-03-03 21:23] #421 closed, assigned to nobody

[2022-03-04 22:19] #416 closed, assigned to ryelle

[2022-03-08 00:36] tellyworth commented on #394
I think for launch we should just add a few minimal catch-all guidelines to https://wordpress.org/patterns/about/, essentially saying:

* You must be the copyright owner of everything you submit
* Don't be a jerk
* We reserve the right to remove patterns for any reason

The [plugin directory guidelines](https://developer.wordpress.org/plugins/wordpress-org/detailed-plugin-guidelines/) have some te

[2022-03-08 18:13] #391 closed, assigned to ryelle

[2022-03-08 20:33] ryelle opened #424 "Openverse Search: Update sources list"
Exclude flickr from the possible results list. See [`source`](https://api.openverse.engineering/v1/#operation/image_search).

[2022-03-08 22:58] coreymckrill opened #425 "Pattern flags: Make the "unpublish" threshold a setting field"
The "unpublish" threshold is the number of flags a pattern can receive before its status is set back to "pending" so that it will no longer appear in the pattern directory until a moderator has reviewed it. This number is currently [hard-coded](https://github.com/WordPress/pattern-directory/blob/d7f27feb58fcdcf3f9db796b7851f6b2da72988c/public_html/wp-content/plugins/pattern-directory/includes/patt

[2022-03-10 01:34] StevenDufresne opened #429 "Add Code View to Pattern Creator"
**Describe the feature**
There have been a number of occasions when building a pattern, that I wanted to copy in pattern code or modify it directly.
It would be nice if we could switch the creator into `Code Editor` mode and back. For me, it's part of my Gutenberg experience. I frequently work in both views.

**Expect to see**
<img src="https://d.pr/i/Nb5MAF.png" width="300px">

**Scope**
At this

[2022-03-10 06:26] #402 closed, assigned to StevenDufresne

[2022-03-10 11:21] angelasjin commented on #394
+1 to @tellyworth's suggestion. Let's use this as copy?

Not sure where best to put this on the About Patterns page.  Perhaps under "What is a WordPress pattern?"

[2022-03-10 11:34] angelasjin commented on #425
Thanks @coreymckrill! And to confirm, I think we landed on 5 flags as a good number to trigger "unpublish", is that right?

[2022-03-10 16:09] ryelle commented on #429
The code view was not added on purpose, as a guardrail to prevent broken patterns, so I'm hesitant to add it back. What are you trying to do that you need the code view? is something in GB not working the way you expect?

[2022-03-10 19:55] coreymckrill opened #431 "Pattern moderation: Users appear as "unknown" in logs and internal notes"
This is happening because the users aren't actually members of the Pattern Directory site, they are just in the global user table.

The Internal Notes plugin uses WP's rest api embedding feature to pull author data into the response that contains the note data, but again, that doesn't work when the "author" is not a member of the site. One solution to this might be to create a new rest endpoint (t

[2022-03-10 22:57] ryelle commented on #394
I dropped that onto [the About page](https://wordpress.org/patterns/about/).

Also, I have a branch locally to tweak the styles on this page a bit, but it needs #428 to be merged first.

[2022-03-10 23:46] ryelle commented on #431
I've run into that a few times, here and on WordCamp too, usually I end up adding a field to the API to return it, since PHP has no trouble getting that user data. For example, the `author_meta` field on Patterns, so that we can display the author name & avatar on pattern pages.

https://github.com/WordPress/pattern-directory/blob/349d206e7544473cdbae5555d0d680c7b8fb1698/public_html/wp-content/plu

[2022-03-11 00:07] StevenDufresne commented on #429
It came up in 2 different scenarios, which is why I decided to get an issue up:

**Collaborating**
1. I wanted to paste in a block from the [block museum](https://block-museum.com/) and see how it was made.
2. I wanted to paste in a copied block that someone else made on wordpress.org and modify it.

**Editing**
1. Playing with multiple nested blocks.... it became a bit tedious to keep track of al

[2022-03-11 01:37] #411 closed, assigned to coreymckrill

[2022-03-11 13:05] angelasjin commented on #58
The Themes team has kindly agreed to sharing their email address for email notifications and communication with pattern contributors. What do you think about the following auto-notifications through `themes@wordpress.org`?

**If a pattern is published**

**If a pattern is unpublished**

Can we also set it up so that these auto-notifications are automatically tagged in HelpScout with `block-pattern

[2022-03-11 15:40] ryelle commented on #429
For pasting block code, did pasting directly into the editor not work? It should work in the default editor, but maybe something's not working in the creator.

[2022-03-11 19:58] coreymckrill commented on #58
@angelasjin so are you thinking that these messages would be sent to both the user who created the pattern and to HelpScout?

[2022-03-11 20:39] ryelle commented on #22
Closing this issue now that Akismet is spam-checking patterns (#406). If, as patterns are submitted, we realize we need more checks, we can create new specific issues for that.

[2022-03-11 20:39] #22 closed, assigned to nobody

[2022-03-11 21:32] #424 closed, assigned to ryelle

[2022-03-11 21:57] coreymckrill opened #433 "Openverse modal refers to "videos" when selecting media for an image block"
The disclaimer at the bottom of the modal says

...even though I'm trying to choose an image.

[2022-03-14 18:49] #57 closed, assigned to coreymckrill, tellyworth

[2022-03-14 19:30] #433 closed, assigned to ryelle

[2022-03-15 08:12] StevenDufresne commented on #429
Oh weird, I totally didn't know you can do that. 🤯

[2022-03-16 15:19] bph opened #434 "Media / Open verse not available"
**Describe the bug**
Testing submitting the block pattern editor on, I tried to use a Media from the openversion as per the media modal but I run into errors.

- /patterns/wp-json/wporg/v1/openverse/search?search=Forest&per_page=24&page=1&_locale=user:1          Failed to load resource: the server responded with a status of 500 ()

When I tried to type in a keyword into the search box

- index.js:

[2022-03-16 16:19] ryelle commented on #434
The API issue (some outdated configuration) has been resolved, so image searches should be working now.

[2022-03-16 16:19] #434 closed, assigned to nobody

[2022-03-16 16:56] ryelle commented on #394
@angelasjin @tellyworth Should we leave this issue open for any continued About and/or Guideline discussion, or do you think this is good for launch? Follow up discussion could happen in other issues, if needed.

[2022-03-16 17:09] angelasjin commented on #394
I think this is good for launch!

[2022-03-16 19:31] ryelle opened #435 "Creator: Global header & footer patterns are available in the pattern creator"
These should be added to [the disallowed-list](https://github.com/WordPress/pattern-directory/blob/8eb25e4ef7b2b3b4ec23275c17f978e0a6c9c5e9/public_html/wp-content/plugins/pattern-directory/includes/pattern-post-type.php#L498). Probably safest to filter out anything starting with `wporg/*`.

[2022-03-17 00:15] coreymckrill commented on #425
@ryelle I'm working on this and noticed that the custom admin page with the "Default Status" setting is registered in the `pattern-creator` plugin. Which I guess makes sense since the creator is where the default status gets applied. But I was expecting it to be in the `pattern-directory` plugin since that's where all the other [admin-related code lives](https://github.com/WordPress/pattern-direct

[2022-03-17 00:16] coreymckrill commented on #425
@angelasjin Yep, I also recall we landed on `5`, so I'll make that the default.

[2022-03-17 12:49] bph commented on #434
Yes, indeed they are working now. I tested it again last night. Thank you.

[2022-03-17 15:24] ryelle commented on #425
Honestly the two probably shouldn't've been separate plugins in the first place. I did put it there because it directly controlled the creator, but I'm fine with moving it.

[2022-03-17 18:38] angelasjin commented on #58
No, and I can see how my comment there suggests that! I think the initial email can go to the user only, but if they respond to it, I think it makes sense that it lands in `themes@wordpress.org`, and hopefully tagged with `block-pattern-creator`. What do you think about that?

[2022-03-17 19:42] coreymckrill commented on #58
Ok, yep, we can add a `reply-to` header to send replies to HelpScout 👍

[2022-03-17 21:02] ryelle opened #437 "Declined patterns always show default reason"
Declined patterns have a "learn more" button in the notice, which opens a modal with more details. This is supposed to have a reason based on the `wpop_unlisted_reason`, chosen when the pattern is unlisted, but it uses [the reason slug](https://github.com/WordPress/pattern-directory/blob/6cea384136a1948150ba75b714ea4405e394bc41/public_html/wp-content/themes/pattern-directory/src/components/pattern

[2022-03-17 21:03] #394 closed, assigned to nobody

[2022-03-17 22:28] ryelle opened #440 "Duotone doesn't apply on the frontend"
Duotone can be applied in the editor, but is missing from the frontend.

<img width="385" alt="Screen Shot 2022-03-17 at 6 26 52 PM" src="https://user-images.githubusercontent.com/541093/158904505-33d1a4eb-a78d-4a58-9a3e-6d3b13440f5f.png">

This is similar to the layout styles, we need to specifically append the duotone styles: https://github.com/WordPress/gutenberg/blob/ae021224b3c2a72b99b6c23419

[2022-03-17 22:30] ryelle opened #441 "Query Loop block never loads in pattern creator"
https://recordit.co/YZ5Sea7rwM

I think this could be due to the API request using `context=edit` & general wp.org users not having access to that.

Thanks to @bph for the initial report

[2022-03-17 23:35] #425 closed, assigned to coreymckrill

[2022-03-18 00:20] zackkrida opened #442 "Link "Powered by Openverse" callout to Openverse"
Non urgent feature request: It would be excellent if the "powered by Openverse" element linked to: `https://wordpress.org/openverse`!

<img width="174" alt="CleanShot 2022-03-17 at 20 19 41@2x" src="https://user-images.githubusercontent.com/6351754/158914280-f9c21166-8dfe-4f61-8793-f18ef46a0242.png">

https://github.com/WordPress/pattern-directory/blob/511bd0a01396be0ba0937252874aeac89af63a84/publ

[2022-03-18 00:55] zackkrida opened #443 "Openverse Images from RawPixel fail to insert"
**Describe the bug**
A clear and concise description of what the bug is.

Attempting to add an Openverse image that comes from the RawPixel source silently fails due to a 403 error.

**To Reproduce**
Steps to reproduce the behavior:
1. https://wordpress.org/patterns/new-pattern/
2. Open the browser network pane
3. Attempt to add an image block
4. Search for "Columbian Humming Bird" in the modal
5.

[2022-03-18 02:02] dd32 opened #444 "Split Pattern Translations into two multiple GlotPress projects"
**Describe the bug**
Currently all Pattern strings are added to the https://translate.wordpress.org/projects/patterns/core/ GlotPress project.

This was a decision [made here](https://make.wordpress.org/polyglots/2021/09/19/how-to-handle-block-pattern-translations/) and [here](https://github.com/WordPress/pattern-directory/issues/224#issuecomment-940372958).

Due to the number of possible patterns

[2022-03-18 14:00] LukaszJaro commented on #443
Just wanted to add I am also having this issue as of yesterday when trying to add media from openverse:

![image](https://user-images.githubusercontent.com/10998875/159016465-a5aad5e5-6ded-47e5-ad76-493e77f3a97e.png)

![image](https://user-images.githubusercontent.com/10998875/159016656-c714ec5a-93a6-463e-84f2-73f027e91a5a.png)

[2022-03-18 14:59] ryelle commented on #444
Currently, the patterns sent to WordPress sites are those with the internal keyword "Core", or the category "Featured". Grabbing both should be good for an "official" set. But there are no community patterns in either, so we could also use "patterns by `wordpressdotorg`" as the "official" list, since eventually all patterns will be sent to WordPress sites (but the browsing UI needs to be updated f

[2022-03-18 15:00] ryelle opened #445 "Pattern Creator: Users should not be able to add the "Featured" category"
Currently it pops up in the categories dropdown, but this is used internally to hand-pick "the best of the best" patterns.

<img width="287" alt="Screen Shot 2022-03-18 at 10 55 07 AM" src="https://user-images.githubusercontent.com/541093/159026542-91b1a7fe-fe93-498c-8ab7-5e6f2899bb5b.png">

[2022-03-18 18:43] webmandesign commented on #443
The same issue here.

[2022-03-18 19:18] ryelle opened #446 "Pattern unlisted reason saved as meta value"
The reasons are a taxonomy though, so we could put them into the tax terms instead. I think this wasn't done because the meta value method was already in place when the taxonomy was created. Might help with #437 .

[2022-03-18 19:47] #443 closed, assigned to ryelle

[2022-03-18 21:02] coreymckrill commented on #58
@angelasjin @ryelle as I'm working on this, I'm realizing we need to distinguish between patterns that have been temporarily unpublished until they have been manually reviewed (because of flags or spam filter), **vs.** patterns that have been unlisted from the directory after manual review, which is more likely permanent. What do you think about these:

**Flagged for review**

**Unlisted**

[2022-03-18 21:23] #435 closed, assigned to ryelle

[2022-03-18 21:45] ryelle commented on #58
This makes sense to me. I think the existing statuses should work for "flagged for review", maybe sending on these status changes:

- `publish -> pending`: A published pattern moving to pending is almost certainly due to crossing the flags threshold
- `[any] -> pending-review`: This is the spam status, any pattern moved here is suspected of spam (either by the tool or a human reviewer moving to un

[2022-03-18 21:56] coreymckrill commented on #58
@ryelle

Does this mean the Reason taxonomy would also be registered for the pattern post type (in addition to the flag post type)? Seems like when a pattern gets unlisted, it could be assigned whatever term was the prevailing reason for its removal.

In which case the user would get two emails in quick succession. But I think that would be ok.

[2022-03-21 15:43] ryelle commented on #58
Yep, right now it saves the unlisted term-ID as meta, but what you described is how I'd rather it work. Well, not exactly, because a moderator still needs to manually pick the reason, but auto-detecting could help.

👍🏻

[2022-03-21 17:07] #440 closed, assigned to ryelle

[2022-03-21 18:05] #445 closed, assigned to ryelle

[2022-03-21 18:10] webmandesign commented on #440
Hi @ryelle,

This still does not work for me at https://wordpress.org/patterns/pattern/call-to-action-with-image-and-cut-off-corner/ (The image of rabbit should have blue & red duotone applied.)

When I reload the page on Chrome 99, Win 10, during the page load the duotone seems to be working, but as soon as the page is fully loaded, it stops. Tested also on FireFox 98 with the same result.

Can y

[2022-03-21 18:19] webmandesign opened #447 "Pattern Creation: Approved pattern email notification"
**Describe the bug**
After a new pattern is submitted and approved, it would be great if author received an email notification about approval.

[2022-03-21 18:21] ryelle commented on #440
@webmandesign I haven't deployed the fix yet. I'll comment here once that's done.

[2022-03-21 18:51] webmandesign commented on #440
Oh, sorry about that :) I didn't know how it works.

[2022-03-21 19:02] ryelle commented on #440
No worries — usually I do try to deploy faster than this 🙂   It should be fixed on your pattern now.

[2022-03-21 19:09] webmandesign commented on #440
It is! Thank you and sorry for my impatience.

[2022-03-21 19:26] #442 closed, assigned to nobody

[2022-03-21 20:23] coreymckrill commented on #447
Duplicate of #58

[2022-03-21 20:23] #447 closed, assigned to nobody

[2022-03-21 22:03] tellyworth opened #449 "Indicitive check for non-patterns at submission"
We've seen several submissions that - while not spam or objectionable in any way - aren't really patterns. For example:

* A list of text (think "John's favourite movies")
* A blog post
* An entire web page with lots of copywritten content
* Patterns with almost nothing in them, like just a single heading block with some text

These aren't suitable for the directory because they're not really reus

[2022-03-21 23:00] coreymckrill opened #450 "Unlisted patterns: Can't re-publish from the WP Admin post edit screen"
While working on #448 I noticed that (in local dev at least) if you try to publish a pattern that is currently unlisted you get some weird behavior:

* First it will update the post status to `pending-review` i.e. Spam. But the "Are you ready to publish?" sidebar stays open.
* If you then click the Publish button again, you can an error saying the status must be `pending-review`.

It looks like th

[2022-03-21 23:02] #446 closed, assigned to coreymckrill

[2022-03-22 02:14] dd32 commented on #449
Worth noting that I included a "If there's only paragraph blocks, nothing else, send it to spam" in the spam checks. I've since seen that 'bypassed' because they use a list or heading block in there too.

Perhaps that could be extended to be "If you're only using heading/paragraph/list blocks, goto spam" ie. non-content blocks.

My bigger question here though, is, what was the submitters intent? W

[2022-03-22 05:02] dd32 opened #452 "Remove Translation strings when pattern is unpublished"
**Describe the bug**
When a pattern is unpublished, strings are not updated to remove the reference to the pattern, and strings that are unique to the pattern are not obsoleted.

**To Reproduce**
Steps to reproduce the behavior:
1. Unpublish a pattern that's been translated
2. Observe strings within the GlotPress project

**Expected behavior**
Unsure....

Unpublished Patterns should have their str

[2022-03-22 05:11] dd32 commented on #444
I should note, that I don't think this is a launch blocker of any form.

Ah, I had thought that the list of patterns sent to WordPress sites was much larger than that.. Especially considering the number of "patterns by `wordpressdotorg`" that exist outside of those two groups.

I guess in my mind, it'd be split in two: `Core` (for lack of a better term) and `Community` (once again...). The notion

[2022-03-22 08:35] dd32 commented on #444
To simplify the process for setting a priority on the strings, I created https://github.com/GlotPress/GlotPress-WP/issues/1340 & https://github.com/GlotPress/GlotPress-WP/pull/1341

[2022-03-22 20:19] ryelle commented on #450
IIRC it should be `! current_user_can( $post_type->cap->edit_others_posts )`, because it's only editors that can bypass this check.

Are you sure it's not that it detects your pattern is spam? The spam validation still runs on wp-admin published patterns too.

[2022-03-22 21:19] coreymckrill commented on #450
Ah, I bet that's what it is.

[2022-03-23 06:36] #362 closed, assigned to outdoor2kode

[2022-03-23 15:19] #437 closed, assigned to ryelle

[2022-03-23 15:20] #450 closed, assigned to nobody

[2022-03-23 19:09] bph opened #456 "Designer view: link to profile"
It would be quite helpful to have a link to the WordPress profile page of the designer, in the header of the list view per designer.
![Screen Shot 2022-03-23 at 15 02 40](https://user-images.githubusercontent.com/39980/159776645-ea5fea93-5c72-4144-976e-3c6b6ce168da.png)
[Example from this page](https://wordpress.org/patterns/author/dhansondesigns/)
In the header of the page it says: "4 patterns by

[2022-03-23 20:13] webmandesign opened #457 "Pattern Submission: Can not set full alignment for nested Cover block"
**Describe the bug**
It seems like I am unable to set full alignment for nested Cover block (Cover within Cover, for example). The "full-width" option is missing for this child Cover block in editor.

Currently I need to set actual `alignfull` class manually on the nested Cover block to achieve the desired effect.

**To Reproduce**
Steps to reproduce the behavior:
1. In pattern editor, insert a Co

[2022-03-23 20:14] webmandesign commented on #457
As can be seen in the video, the same actually applies for wide alignment.

[2022-03-23 21:49] ryelle commented on #457
I think this is a Gutenberg bug (either this one https://github.com/WordPress/gutenberg/issues/37036 or this one https://github.com/WordPress/gutenberg/issues/33374). Are you able to do this on a regular WP site with Gutenberg + a block-based theme?

[2022-03-23 22:46] webmandesign opened #458 "Pattern Submission: Wrong and inconsistent widths"
**Describe the bug**
There is a discrepancy between nested blocks widths in pattern editor and in preview/pattern library.

Also, both are even wrong in terms of expected result.

**To Reproduce**
Steps to reproduce the behavior:
1. In pattern editor, create a pattern containing this blocks structure:
[code]

**Expected behavior**
Editor and preview should match.

**Screenshots**

![pattern-widths

[2022-03-23 22:58] coreymckrill opened #459 "Pattern moderation: Email notif when unlisting a pattern doesn't show the correct reason"
Pulling this from #451

For some reason, when a pattern gets unlisted from the Block Editor screen, and a reason term gets assigned to it, the term is not included when `transition_post_status` is fired and the email notification to the pattern author is sent. Instead, the default fallback reason gets included in the email.

My suspicion is that when `transition_post_status` is fired, the term has

[2022-03-23 23:31] #58 closed, assigned to coreymckrill

[2022-03-24 12:27] webmandesign commented on #458
The affected pattern was published now: https://wordpress.org/patterns/pattern/shadowed-image-with-description/

Is there any way I can use existing tools in pattern editor to achieve the desired layout? Is there a preferred way of setting up width in pattern editor? Can anybody provide some sort of schematic image for how widths of blocks are treated in pattern editor and library preview? Thanks.

[2022-03-24 13:14] webmandesign commented on #457
@ryelle You are right, the issue occurs once I swith the theme to Twenty Twenty-Two. (I'm also using Gutenberg 12.8.1 plugin in my localhost setup.)

But I'm a bit confused:

Checking out the code of a pattern preview on WPORG it seems you guys are using Twenty Twenty-One theme there. However, when I try to use the same setup in my localhost (with some additional styles I could get from the code i

[2022-03-24 14:36] ryelle commented on #457
Yeah, the editor here, and the live preview, are set up using a "fake" block theme that uses the Twenty Twenty-One styles, but sets up a very basic block-based theme so that we can unlock all the editor functionality.

You can set up this project itself by following [the readme](https://github.com/WordPress/pattern-directory), but you'll still need to use the same creator page locally. I would rec

[2022-03-24 16:10] webmandesign commented on #457
That's unfortunate :)

Could you please also take a look what's going on with inconsistent widths as described in #458? It's confusing when WPORG pattern editor and preview don't match. Even users copying such pattern don't know what to expect when pasting it to their website - IF they copy it as it looks totally terrible in WPORG pattern preview.

[2022-03-24 16:19] webmandesign commented on #458
Actually, I just went ahead for now and removed the full-width Group block wrapper so the widths are better now (still not perfect, what's expected) in https://wordpress.org/patterns/pattern/shadowed-image-with-description/

Please check the issue though as I plan to update the pattern once again when the issue is fixed.

[2022-03-24 16:19] jennydupuy opened #460 "Add a link to New pattern on the home page of patterns directory"
**Describe the enhancement**
The access to the patterns editor is not easy because a link to the editor is missing from the home page of the patterns directory.

When the visitors are logged into their wordpress.org account, they should be able to access the patterns editor as soon as they arrive on the directory homepage (https://wordpress.org/patterns/).
Currently, one must click on "Favorites"

[2022-03-24 16:27] ryelle commented on #457
Since this is confirmed to be the same gutenberg bug, I'm going to close the issue. Whenever Gutenberg fixes the problem, we'll inherit the fix.

I'll reply to #458 over on that issue.

[2022-03-24 16:27] #457 closed, assigned to nobody

[2022-03-24 16:53] #460 closed, assigned to nobody

[2022-03-24 17:37] jennydupuy commented on #460
Thank s a lot
How fast!

[2022-03-24 17:54] ryelle commented on #460
@jennydupuy It was actually in the works already when you made the issue, but thanks for the prompt 😁

[2022-03-24 19:39] zackkrida opened #461 "Pattern creator image attributions are incorrect"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Add an Image block with `/image` and search for "Dogs"
2. Choose the second image result
3. Observe the image caption "Beef hot dog"

**Expected behavior**
A clear and concise description of what you expected to happen.

The caption should be:

This caption can be assemble

[2022-03-24 19:39] zackkrida commented on #461
Forgot that the Pattern Directory only uses `CC0` images, apologies!

[2022-03-24 19:39] #461 closed, assigned to nobody

[2022-03-24 19:55] ryelle commented on #458
I think this is another issue caused by not using the Pattern Creator itself — the way block themes and classic themes handle layout is different.

The issue is that the cover is wide-aligned, so it has the 800 max width, but the columns block still goes edge to edge in the full-width container, right? In block-based themes, you can't set a width on Group children unless you've enabled "Inherit de

[2022-03-25 01:20] StevenDufresne opened #464 "Title is replaced by generic title on search page."
**Describe the bug**
When you search for a pattern using the search bar, the page title that is first rendered by the page is correct. It is subsequently replaced by a less specific (worse) title by javascript.

**To Reproduce**
Steps to reproduce the behavior:
Turn off javascript via inspector tools
1. Go to `/patterns`
2. Search for 'tomato'
3. Notice the title is: `Search Results for “tomato” |

[2022-03-25 01:34] StevenDufresne opened #465 "Improve document title on Favorites page."
**Describe the bug**
On the main gallery page (`/patterns/categories/gallery/`), when you select a subcategory the title is:
[code]

On the favorites page (`/patterns/favorites/categories/gallery/`), when you select a subcategory the title is:
[code]

**Expected behavior**
I would expect that format to be the same (or similar). On the favorites page, it should be:

[code]

The same thing should go

[2022-03-28 16:37] ryelle commented on #449
I've seen two patterns submitted over the weekend that copy existing patterns - one was a complete copy, and the other copied a pattern, then added a single image to the end.

Some more data points for "non-patterns" I've seen:

- Single image + paragraph
- Single image + quote
- Cover + single child (paragraph)
- Single HTML block

Some of them look like they're testing out the creator, not desig

[2022-03-28 17:49] ryelle commented on #449
I think `< 3 block types` could be a good criteria - I checked the current block patterns, and this is what comes up for "less than 3 unique block types"

<details>
<summary>Block count results</summary>

[code]

Pattern has only 1 block type across 1 block.

 - https://wordpress.org/patterns/pattern/heading/
 - https://wordpress.org/patterns/pattern/two-images-side-by-side/

Pattern has 2 differe

[2022-03-28 18:19] Gtarafdar opened #466 "Need customisation support based on different screen sizes to make responsive designs"
**Describe the bug**
I'm talking about the pattern creation editing panel (https://wordpress.org/patterns/new-pattern/).
Now it's tough to manage different responsive designs for Block Patterns. As I need to set different sizes of images for mobile devices, I can't do that, there is no additional CSS field option, and for that reason, I cannot set custom media queries to make responsive designs. I

[2022-03-28 18:53] ryelle commented on #466
Hi @Gtarafdar! Is this something you can do in the core editor? If not, it might be worth checking the gutenberg issues and suggesting it there. The Pattern Creator needs to stick with the functionality of the core editor. We can't add any plugin features like Elementor, since people using these patterns might not have those plugins installed.

[2022-03-29 03:17] dd32 commented on #466
This is definitely something that can't be supported at the present time, as all CSS is provided either a) inline, or b) as part of the WordPress/Gutenberg block CSS.

Gutenberg may be able to add functionality to add conditional media-query CSS through an inline `<style>` element, but it doesn't currently do that, and as a result, it's not possible for Patterns to offer that (Where Patterns are j

[2022-03-31 02:53] #404 closed, assigned to outdoor2kode

[2022-04-01 12:09] jennydupuy opened #467 "Translate patterns guidelines"
**Describe the bug**
Is there any way to translate this page: https://wordpress.org/patterns/about/ ?

[2022-04-01 15:16] ryelle opened #468 "Moderation: Making an edit to a published pattern triggers a "spam" email"
The notification code uses ["published -> pending"](https://github.com/WordPress/pattern-directory/blob/6a58d9d9ccd6581a4832b24c2cbbc18b437244aa/public_html/wp-content/plugins/pattern-directory/includes/notifications.php#L38) as a shortcut for "passed the flag threshold" and if there are no flags attached, it sends the "spam" email. But anyone editing a published pattern right now submits the patt

[2022-04-01 23:09] carolinan opened #469 "Add social images / twitter cards for individual patterns"
**Describe the bug**
When you share a link to a pattern on social media, the preview image is for the pattern directory.
It would be nice if the preview was of the individual pattern.

[2022-04-05 18:40] webmandesign commented on #458
Thanks for the feedback. It works now. I must have missed the content width setup before.

[2022-04-05 18:40] #458 closed, assigned to nobody

[2022-04-06 05:02] dd32 opened #470 "Set default placeholders for various blocks"
**Idea**

To help translators, we could define default content for a number of block fields, which may help pattern creators stick to using the existing default text, rather than being forced to write their own.

The thought is that if we provide default text, there'll be less variation in the text entered, higher probability that it'll be an existing string, and likely reduce translation effort

[2022-04-06 05:29] naokomc opened #471 "Reduce confusion for Rosetta site/non-English users"
Even though only English submissions are accepted to the directory, the current process doesn't give any hint to suggest the rule. This can be confusing especially to users entering the pattern editor from a Rosetta site.

### Suggestion

How about mentioning the content language rule (and even other often-misunderstood guideline items) with a link to the [guideline](https://wordpress.org/patterns

[2022-04-06 07:42] kafleg opened #472 "Block patterns contributor badge for the author and team"
We've different badges for contributors. So, I'd like to see contributors' badges for patterns authors (creators) and the patterns team who run and monitor the patterns directory.

For those who submit the pattern and live, the badge should auto-assigned. With badges, we can recognize contributors and motivate them to submit patterns as well.

Here you can see the request for adding a badge for th

[2022-04-07 15:17] ryelle commented on #469
If there were screenshots of each pattern, we could use those for the shared image. That preview image could also be used for display on the pattern archive (grid) pages to improve render time, rather than rendering a bunch of iframe previews.

Past discussions of screenshotting patterns:

- #40 mentions using e2e tests to also generate screenshots, which is used in the Block Directory to show a s

[2022-04-08 11:35] webmandesign opened #473 "Pattern Creator: "Crop image to fill entire column" for Media & Text removes image"
**Describe the bug**
When using Media & Text block I can not use "Crop image to fill entire column" option:

- In pattern preview (in actual pattern library) the media is not displayed at all.
- In pattern editor the media is displayed, but doesn't seem to be cropped to fit the content.

**To Reproduce**
Steps to reproduce the behavior:
1. In pattern creation editor add a Media & Text block.
2. Se

[2022-04-08 15:55] ryelle commented on #473
Unfortunately this is a core bug, the CSS sanitization mangles the URL and removes it on save. I opened a ticket to report it, but it's not fixed. You can see the ticket here: [#55452-core](https://core.trac.wordpress.org/ticket/55452)

I'll keep this issue open to track when the fix is ready.

[2022-04-08 16:01] ryelle commented on #431
This was fixed with https://github.com/WordPress/wporg-mu-plugins/pull/184 & https://github.com/WordPress/wporg-mu-plugins/pull/192.

[2022-04-08 16:01] #431 closed, assigned to nobody

[2022-04-11 16:40] ocean90 opened #474 "Update blockGap handling to support arrays too"
**Describe the bug**
Since https://github.com/WordPress/wordpress-develop/commit/f187393d0a2d006bcbbf7e42cb2e882b94c37122 the block gap value can also be an array. At least this line needs to be updated for the change to not throw warnings like "preg_match() expects parameter 2 to be string, array given":

https://github.com/WordPress/pattern-directory/blob/fe9866ef5a942d49ae9168bc92f01790b2e1257d

[2022-04-11 18:22] #474 closed, assigned to ryelle

[2022-04-11 18:30] ryelle commented on #474
Thanks for tracking down the issue! This file is a set of functions forked from core, so they just needed to be updated with the current versions, done in https://github.com/WordPress/pattern-directory/commit/c0d8f6a4a66a66b1c33d51339637e674d5aa90ad.

[2022-04-11 20:56] ryelle commented on #471
@naokomc Thanks for the suggestion - I put something together on #475, what do you think of this?

Persistant banner on the creator:
![ja-banner](https://user-images.githubusercontent.com/541093/162830536-d400f21c-d537-4be6-abe4-f456b92a2833.png)

And a new step in the submission modal with some guideline reminders:
![ja-modal](https://user-images.githubusercontent.com/541093/162830605-4246da94-8e

[2022-04-13 14:44] kjellr commented on #395
Now that the pattern directory is open to submissions anyway, does anyone oppose us just adding some of the Twenty Twenty-Two (or Twenty Twenty-Two-inspired) header/footer patterns in now? We can create a new "site building" category or something, and then follow up with this filter functionality later.

[2022-04-13 14:55] beafialho commented on #395
I think it would be ok to start adding new header and footer patterns as they can be really helpful site building patterns.

[2022-04-13 21:25] ryelle commented on #449
Added a PR to check for a few "easy" things (block count, flagged words in title) #477

[2022-04-14 14:59] #471 closed, assigned to ryelle

[2022-04-14 20:25] ryelle opened #479 "Flag Reasons shows up twice in the admin menu"
In the admin menu, Flag reasons and Reasons are the same page. At least, I think they're the same thing?

<img width="228" alt="Screen Shot 2022-04-14 at 12 01 05 PM" src="https://user-images.githubusercontent.com/541093/163469675-d1ed3fb8-35ef-464d-a79b-d4e346607a68.png">

[2022-04-15 07:34] naokomc commented on #471
@ryelle Looks great, exactly what I was hoping to see. Thanks!

[2022-04-15 15:27] #459 closed, assigned to ryelle

[2022-04-15 15:27] #468 closed, assigned to ryelle

[2022-04-15 16:09] ryelle opened #480 "Update the action for logging changes to pattern flags"
See https://github.com/WordPress/pattern-directory/pull/478#pullrequestreview-942955625

[2022-04-20 04:11] dd32 opened #481 "Changes to title when pattern is pending, should update slug."
**Describe the bug**
A pattern was submitted, set as Pending, requested to have the Title changed to not reference a Name/Trademark, Title changed, and then published.

The slug of the pattern did not automatically update to the new title name, instead, keeping the old-title as the slug.

Example pattern in question: https://wordpress.org/patterns/wp-admin/post.php?post=32415&action=edit

**To Rep

[2022-04-20 15:48] kafleg opened #482 "Patterns Directory - Add Previous and Next Patterns in patterns detail page"
That would be best if we can add previous and next patterns (like we have in themes).

[2022-04-20 16:17] colorful-tones commented on #472
@kafleg this is such a great idea! I believe that coordinating with one of the Meta teams may expedite this?

[2022-04-20 16:40] colorful-tones opened #483 "Consider adding a Style Guide category"
## Current challenge

In the past, as an agency developer, I've created themes; whereas, the first thing I create is a series of basic patterns for a Style Guide, which the client can then use as their baseline and reference point at project handoff. These are usually based on Figma designs from a designer.

Typically there may be customary patterns for:

- all headings: `h1`, `h2`, `h3`, `h4`, `h

[2022-04-20 16:40] kafleg commented on #472
I already talked with the Meta team and they suggested I make a ticket for it. But, I think the **design of the badge** is also necessary.

CC: @dd32 @angelasjin

[2022-04-20 16:56] colorful-tones commented on #483
Further consideration and exploration around translation may be needed here. It is likely that it would be easiest to use Lorem Ipsum for these Style Guides, which may warrant them to _not_ be translated, but then again, it would probably be ideal to _not_ use Lorem Ipsum, so that translation and different writing styles can be covered in these Style Guide patterns.

[2022-04-20 17:06] colorful-tones commented on #472
I would be happy to take a stab at the badge design and share a Figma link.

I’m familiar with some of the badges already and believe they’re mostly relying on Dashicons?

[2022-04-20 20:30] webmandesign commented on #473
Adding some more info:

This also seems to be affecting Cover block with "Fixed background" option enabled. It's very unfortunate as it limits creativity and most importantly creates confusion for patter users.

For example, I had to left an explanatory info for potential users for couple of my patterns - such as [this one](https://wordpress.org/patterns/pattern/cascading-page-intro-section-with-c

[2022-04-20 21:15] colorful-tones commented on #483
@joyously helped poke holes in my lack of discovery and my understanding ([full Slack thread](https://wordpress.slack.com/archives/C02RP4Y3K/p1650473357281279)) of the current state of the Theme Unit Test data project ([Github repo](https://github.com/WPTT/theme-test-data)).

I misunderstood that parsed Block data _does_ exist in the current Theme Unit Test. However, I _do_ still believe that it m

[2022-04-20 22:04] colorful-tones commented on #472
@kafleg I've [started to try and figure out where/how I might help whip up an icon](https://wordpress.slack.com/archives/C02RRH4GA/p1650489911929809) in Slack #meta-devhub. That might not be best avenue and I'm open to suggestions.

Since existing badges seem to leverage Dashicons. Then I would think that [`block-default` icon](https://developer.wordpress.org/resource/dashicons/#block-default) wou

[2022-04-21 02:10] dd32 commented on #472
All badges should be dashicons at present, unless there's an actual absolute requirement for something different.

This will likely change in the future, as dashicons are deprecated.. but for now..

Per https://make.wordpress.org/meta/handbook/documentation/profile-badges/ the things needed are:
 - Dashicon. (`block-default` makes sense to me)
 - Colour (Foreground Colour, plus a Background-colour

[2022-04-21 02:51] kafleg commented on #472
@dd32 We can assign the badge for the contributors for now. When we finalize the list of patterns team, then we can assign them. (Team badge will be manually assigned) but the contributor's badge will be auto.

I think we call it the Patterns Team(Like Themes Team, Core Team, Accessibility Team).

[2022-04-21 18:47] colorful-tones commented on #472
@dd32 @kafleg

- [x] Dashicon: [`block-default` icon](https://developer.wordpress.org/resource/dashicons/#block-default)
- [x] Colour: [`#c3bc00`](https://g.co/kgs/Uk2XaZ) - I verified that it was not taken already.
- [x] Name: **Patterns Team** (based on @kafleg )
- [x] role on [/patterns/](https://wordpress.org/patterns/) >= editor for now - sounds good to me.

I would offer to update the Handbo

[2022-04-21 19:01] ryelle commented on #472
How about #924bb3 for the color? Or something near that? It would be nice to call back to the navy-purple of the themes team. I'm also not totally sold on the `block-default` icon either, what do you think of using [`layout`](https://developer.wordpress.org/resource/dashicons/#layout)?

It would look like…

<img width="522" alt="Screen Shot 2022-04-21 at 3 00 09 PM" src="https://user-images.github

[2022-04-21 19:09] colorful-tones commented on #472
@ryelle the `#924bb3` sounds good to me! re: Themes Team... totally makes sense 👍  Also, I thought about `layout` icon, and I'm glad you suggested it. I vote for [`layout`](https://developer.wordpress.org/resource/dashicons/#layout) now as well 😄 .

[2022-04-21 21:10] ryelle commented on #467
I'm sure we could do something similar to https://github.com/WordPress/pattern-directory/pull/275, maybe using the parser that was added for pattern translations in https://github.com/WordPress/pattern-directory/pull/250.

[2022-04-21 21:14] ryelle opened #484 "Pattern Validation: Do some content validation early"
PR https://github.com/WordPress/pattern-directory/pull/477 introduced some content validation on the PHP side, but it would be nice if we could validate the pattern content before sending someone through the whole submission modal.

From https://github.com/WordPress/pattern-directory/pull/477#issuecomment-1100960512

[2022-04-22 02:32] kafleg commented on #472
Really amazing! Excited to see badges in the profiles. 👯‍♂️

[2022-04-22 04:06] dd32 commented on #472
Badges created, and users assigned per:

Users can be edited via: https://profiles.wordpress.org/wp-admin/admin.php?page=bp-groups&gid=52&action=edit

Note, Pattern Author badge was created, but isn't currently assigned to anyone, other [than me (for testing)](https://profiles.wordpress.org/dd32/)

[2022-04-22 04:10] kafleg commented on #472
Thanks a lot and it's great to see that Patterns badges are in profiles. And it's amazing to see Author badge in your profile too.

P.S.:  I don't have access for the profiles.wordpress.org site.

[2022-04-22 04:30] dd32 commented on #472
Set the initial pattern author members too.

[code]

I haven't looked into adding anything to automatically assign to the group.
That'll need a branch in the `wporg-profiles-association-handler.php` Profiles plugin, and code on publish in the Pattern Directory to call that.
Other option, would be to generalise the code in there, and instead, add a generic WordPress.org function for `assign_badge(

[2022-04-22 11:12] colorful-tones commented on #472
This is looking good from my end.

I tested against a few key (quantity) Pattern contributor profiles:

- [Brian Gardner](https://profiles.wordpress.org/bgardner/)
- [iniyan](https://profiles.wordpress.org/iniyan/)
- [WebMan Design | Oliver Juhas](https://profiles.wordpress.org/webmandesign/)

@dd32 does this mean that there is currently no code hooked up to auto-assign theses badges should a new

[2022-04-26 02:12] dd32 commented on #472
Correct, there's more work needed here. I just didn't have time to dig into the automation side of it at the time.

[2022-04-26 02:58] kafleg commented on #472
I think it's better to wait for the announcement post until we have an auto badge assigned to the Patterns contributor.

[2022-04-27 08:29] sumitsinghwp opened #486 "Something issue on pattern."
Hi,

Something issue on pattern. more informatio9n you can see quick video

https://www.loom.com/share/2035a49659184cb09a13480284849a8c

[2022-04-27 15:37] ryelle commented on #486
@sssumitsingh The issue where an image disappears in a Media & Text block has already been reported here: https://github.com/WordPress/pattern-directory/issues/473. Is that the problem you're referring to?

[2022-04-30 05:36] sumitsinghwp opened #487 "Image asize issue on frontend"
Hi,

I have created pattern and when go to frontend view then image size not same nad not working image size which i have added as a pixcel in image.

More inforamtion you can see my pattern SS.
![Social-Proof-–-Block-Pattern-WordPress-org](https://user-images.githubusercontent.com/23701579/166092924-916918c5-5b5c-46a0-b657-650019821ef7.png)

https://wordpress.org/patterns/?post_type=wporg-pattern

[2022-05-02 21:18] ryelle commented on #487
It looks like the images are resized but are keeping the aspect ratio. I'm seeing the same thing on a plain WordPress install, so this issue should be reported up to gutenberg: [file a bug report](https://github.com/WordPress/gutenberg/issues/new?assignees=&labels=&template=Bug_report.yml).

[2022-05-02 21:18] #487 closed, assigned to nobody

[2022-05-02 21:48] ryelle opened #488 "Encoding in pattern code breaks rawpixel URLs when copy/pasting pattern"
Rawpixel URLs are broken when copied in the pattern code (using the "copy" button), because the URL is being over-encoded.

For example, copy [this pattern](https://wordpress.org/patterns/pattern/call-to-action-with-cover-background/), which results in this code:

<details>
<summary>Pattern code</summary>

[code]

</details>

If you paste that as-is into WordPress, it results in two 403 errors, tr

[2022-05-04 03:26] #472 closed, assigned to nobody

[2022-05-04 03:33] dd32 commented on #472
Noting that all pattern authors submitted up until now were assigned the badge semi-manually, going forward it should be instant.

[2022-05-05 12:01] priethor opened #489 "Allow Site Editing blocks on the Pattern Creator"
### What problem does this address?
Currently, the Pattern Creator seems to be [based on the Post Editor](https://github.com/WordPress/pattern-directory/blob/ceaa393cd3908845c371c276f236724e3171e803/public_html/wp-content/plugins/pattern-creator/pattern-creator.php#L148), which limits the type of blocks that can be used. As of Gutenberg 13.2, this excludes the Template Part block from the Pattern

[2022-05-05 14:04] ryelle commented on #489
The pattern creator uses a combination of the site editor packages and the post editor context, so how to work around that depends on how these blocks are hidden.

The creator already disables some blocks explicitly https://github.com/WordPress/pattern-directory/issues/23 because we can't control the data used to populate them (ex, Site Title, Page List) or they require permissions that non-user w

[2022-05-12 04:28] umeshggupta opened #490 "Need some left side space in iPad viewport size"
**Describe the bug**
left side should be a little space for entry title in iPad viewport size

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ['https://wordpress.org/patterns/favorites/'](https://wordpress.org/patterns/favorites/)
2. Go iPad device
3. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/12542265/167991662-d2cbd3fb-edfe-4a91-a5c4-d83eb27464f9.pn

[2022-05-13 15:53] iandunn opened #491 "Add new pattern activity to w.org profile"
Similar to #472, `status_transitions()` could also add an activity item to a submitter's w.org profile when their pattern is approved.

Example of lean notifier:

https://github.com/WordPress/Learn/blob/50fdec41cdcba6b11ac6a1144ee8046c09ebc9c7/wp-content/plugins/wporg-learn/inc/profiles.php#L22-L47

Example of lean handler:

https://github.com/WordPress/wordpress.org/blob/21e70140867cbc5ad9df896cf

[2022-05-18 21:55] iandunn opened #492 "Replace forked `Export_CSV` with canonical"
[pattern-directory/includes/class-export-csv.php](https://github.com/WordPress/pattern-directory/blob/983e85ce309d75a989215945b527d9944b9a3c5d/public_html/wp-content/plugins/pattern-directory/includes/class-export-csv.php) is a fork of the canonical [wporg-mu-plugins/.../utilities/class-export-csv.php](https://github.com/WordPress/wporg-mu-plugins/blob/6b0d108fdf0196ba2a0dfff60a8bcb0ab2987ee5/mu-p

[2022-05-23 17:56] ryelle opened #493 "Pattern Creator: Settings sidebar won't open"
The Settings button (cog) does nothing when clicked. It should open the settings sidebar.

If you resize the browser screen, the sidebar will appear, but the top tabs (Pattern/Block) don't do anything.

The close button does close the sidebar.