[2020-10-16 20:58] iandunn opened #2 "Stub api.w.org endpoint"
Just hardcode Core patterns for now, so that work on the Core endpoint can start. We can iterate to add dynamic functionality.

https://api.wordpress.org/patterns/1.0/?action=query_patterns&search=header
https://api.wordpress.org/patterns/1.0/?action=pattern_information&slug=large-header

[2020-10-16 20:59] iandunn opened #3 "Stub Core endpoint"
Get rough version working w/ api.w.org, see #2 .

[2020-10-16 21:52] iandunn commented on #2
Added in https://meta.trac.wordpress.org/changeset/10387

[2020-10-16 21:52] #2 closed, assigned to iandunn

[2020-10-19 20:20] ryelle commented on #3
Not a formalized schema, but these are the assumptions I've been working with:

- An index endpoint that returns all core patterns
- (Eventually) a search endpoint returning matching patterns
- (Eventually) an endpoint returning patterns in a given category

The response should be an array of objects, each pattern should match:

- name: string slug
- title: string, human-friendly, possibly transla

[2020-10-19 21:10] iandunn opened #4 "Stub pattern post type, meta, taxonomies"
Necessary to iterate on #2

[2020-10-28 13:57] iandunn commented on #2
Refactored to proxy w.org/patterns endpoints in https://meta.trac.wordpress.org/changeset/10414/

[2020-10-28 19:41] iandunn opened #7 "CSS: Custom properties don't always have correct fallbacks"
https://github.com/WordPress/pattern-directory/pull/5#discussion_r513602946

[2020-10-29 14:23] #4 closed, assigned to iandunn

[2020-10-29 18:09] iandunn commented on #3
Rough draft at https://github.com/WordPress/gutenberg/pull/26578

[2020-11-06 00:24] tellyworth opened #8 "Build the Pattern Directory back-end"
The back-end for the block pattern directory should be broadly modeled on the plugin directory, and can probably import some of the code.

Tentative assumptions:
- [x] Patterns should be stored in CPTs (#6).
- [x] Each pattern would have metadata such as author, title, description, tags, language, screenshots. Partially done in #6.
- [x] #279
- [x] There should be an API endpoint for searching and

[2020-11-06 00:25] tellyworth opened #9 "Build the pattern submission tool."
Patterns should be submitted from a purpose-built front-end form based on Gutenberg.

Tentative assumptions:
* Any logged-in user should be able to submit a pattern.
* It will be necessary to preview and edit a pattern during the submission process.
* Submitted patterns will need to pass some kind of validation, curation, moderation process before being published to the world.
* Users might expect

[2020-11-06 00:25] tellyworth opened #10 "Add Pattern Directory support to the core editor"
The core editor should allow users to search and insert block patterns from the pattern directory, in a similar way to the block directory.

Tentative assumptions:
- Unlike block plugins there is probably no "install" step needed. Patterns from the directory can simply be inserted into a post exactly as core patterns work at present.
- Core patterns might be moved to the Pattern Directory, so they

[2020-11-06 00:25] tellyworth opened #11 "Build a web front-end for the Pattern Directory"
The Pattern Directory will need a web-based front end for searching and browsing patterns, broadly similar to the plugin directory or theme directory sub-sites on WordPress.org.

Tentative assumptions:
- [x] This can probably be built as a WordPress theme, in a similar manner to the plugin directory. (#25)
- [x] The design and general structure can initially be based on the plugin directory.
- [x]

[2020-11-09 21:20] iandunn commented on #8
I took the liberty of editing the issue to make it a checklist, and reference other tickets. Feel free to revert if you don't think that's helpful.

[2020-11-09 22:20] ryelle commented on #7
It looks like we already have https://github.com/postcss/postcss-custom-properties here, so this _should_ be working, but I think it doesn't play well with the `MiniCSSExtractPlugin` step, since only the file that defines the `:root` is getting the fallbacks.

The easiest solution would be to pull all CSS back into one file, and only import that one file in JS, but I don't want to loose the compon

[2020-11-09 22:22] ryelle commented on #10
I un-checklisted the assumption list since they're not actions. From here, I see the action(s) as

- [x] Create a wp.org endpoint that will serve patterns (#6)
- [x] Import core patterns into the CPT on wp.org
- [x] Deprecate and/or Remove hardcoded core patterns from Core? back-compat concerns?
- [x] Create a local endpoint (in Gutenberg) which will query the wp.org endpoint, like block directory

[2020-11-09 23:43] MichaelArestad opened #14 "Create pre-submission panel for pattern directory information"
We need a way for a user to create their pattern and input the necessary metadata for it (name, description, tags, etc). I suspect this should pretty much just be the Gutenberg editor so, to start, I mocked that up with a pre-submission flow unique to this use case.

[Try the prototype](https://www.figma.com/proto/bz4qs4jZCkqvQzPH2fmX6C/Pattern-Directory?node-id=139%3A4003&viewport=-2629%2C884%2C0

[2020-11-09 23:45] MichaelArestad opened #15 "Pattern Creation: Logged out/new user page with details about creating patterns"
My prototypes do not include the login flow yet. Ideally, we would want to log in or register the user as late in the flow as possible. Is this something we can do after they have gone through the submission process as a last step?

[2020-11-09 23:47] MichaelArestad opened #16 "Create "My Submitted Patterns" page"
There should a page a user can see their submitted patterns and the status of those patterns.

* What are the various statuses of the patterns (submitted, reviewed, rejected)?
* How should a user get to this page? Is there something similar for plugins?

[2020-11-10 00:00] ryelle commented on #15
Ideally they'd log in before, so we can save the pattern as they're working on it (autosave maybe) or allow them to save drafts.

We could make it work so anyone can use the pattern editor, but nothing would save, and when they go off to log in we'd probably loose their pattern. I'm sure there's a way to make that not happen (like local storage), but it would introduce more complexity (needing two

[2020-11-10 00:10] MichaelArestad opened #17 "Forking a pattern"
Allowing users to fork a pattern seems like a pretty cool way for patterns to evolve over time and for users to efficiently create their own patterns. I'm starting to work in this flow as it seems like a rather frictionless entry into the pattern editor.

[Try the prototype](https://www.figma.com/proto/bz4qs4jZCkqvQzPH2fmX6C/Pattern-Directory?node-id=148%3A0&viewport=198%2C842%2C0.5&scaling=min-zo

[2020-11-10 00:12] MichaelArestad opened #18 "Guide for pattern creation & submission"
We likely need to introduce the user to the pattern submission process. I think the modal used in the editor might be a good way to do it. Designs TBD.

## Questions
What concepts should be covered?

[2020-11-10 00:12] MichaelArestad commented on #9
I created a few issues for the above:

Pattern submission tool: https://github.com/WordPress/pattern-directory/issues/14
Login flow: https://github.com/WordPress/pattern-directory/issues/15
Submitted patterns page: https://github.com/WordPress/pattern-directory/issues/16
Forking a pattern: https://github.com/WordPress/pattern-directory/issues/17
Pattern submission modal: https://github.com/WordPre

[2020-11-10 15:17] MichaelArestad commented on #15
@ryelle that makes sense. I'll plan for an upfront login flow.

[2020-11-10 15:44] iandunn commented on #7
💯

Is that because of a bug, or just an incompatibility? If it's a bug, then another option would be to just file a report upstream. Unless this breaks functionality, I don't think we need to go out of our way for IE11 support.

[2020-11-10 15:52] ryelle commented on #7
I didn't spend enough time in their repo to see if it's intentional, but I think it's just how webpack/postcss works. The custom properties plugin reads the variables from the CSS, but AFAICT postcss runs before the CSS is concat'd, so `file-one.css` doesn't know the custom properties defined in `file-two.css`. `postcss-custom-properties` has a config option to pass in a set of property definition

[2020-11-10 15:59] iandunn commented on #7
Huh, it seems odd that it'd require a custom config, I imagine lots of other projects would want to do the same thing. Oh well, maybe wp-scripts just hasn't added support for that yet 🤷🏻‍♂️

In that case the custom config wfm.

[2020-11-10 16:01] iandunn commented on #16
The Community Team uses `declined` as a softer word in those situations, and I think it's worked well there.

[2020-11-10 16:08] iandunn commented on #16
[The Add Your Plugin page](https://wordpress.org/plugins/developers/add/)  will show everyone how many are in the review queue, but I think the accepted/rejected notes are sent via email.

Is that right, @Ipstenu ?

[2020-11-10 16:11] iandunn commented on #16
I think the only way to see all of your plugins is on profiles.w.org. I think it'd be good to add patterns there, for consistency.

I don't think that's easy to find, though. I like how [the 5ftF design has a `My Pledges` link in the navbar](https://wordpress.org/five-for-the-future/for-organizations/). That could link to the patterns on the profile, so we don't have to create duplicate pages.

[2020-11-10 16:33] iandunn opened #19 "Send emails for status changes?"
Related to #16 , should we send people an email when a pattern is accepted or declined?

[2020-11-11 00:18] ryelle commented on #14
In #21 I set up the `viewportWidth` as a dropdown of fixed widths (narrow: 800, wide: 1100, extra wide: 1400)  — I'm not sure there's much benefit in letting people control this to the pixel, but maybe the slider could snap to the 100s or 50s?

Is the full screenshot the entire page, or do you still expect to have the WordPress.org wrapper around the content like this (except not a hacky photoshop

[2020-11-11 15:43] MichaelArestad commented on #14
@ryelle Right! The slider would snap to 100s (or whatever feels good there).

Ah yes. I added the preview link as a possible location for both desktop/mobile preview as well as maybe theme switching. Def not needed right away.

[2020-11-11 15:47] ryelle commented on #14
I always forget it does that because that's never behavior I want when writing — but it makes much more sense here 👍

[2020-11-11 20:14] Ipstenu commented on #16
Rejections are kinda saved -- everyone who has a rejected plugin, has it listed on the 'author' card:

![Screen Shot 2020-11-11 at  11 Nov - 12 12 11 PM](https://user-images.githubusercontent.com/807903/98859520-2a739e00-2417-11eb-9d74-501f84fd1b50.jpg)

And everyone gets an email (except for 'it's been 6 months...'). As you can see, we don't track 'why' something was rejected. Most of the time we

[2020-11-12 01:35] StevenDufresne commented on #14
I have tried using the _block-editor_ template/template-part maker for Full Site Editing, along with generating a pattern using #21 and I am consistently confused when I get to the _block-editor_. It's very difficult to understand the context. I think Gutenberg is going to need a way to better identify the context within the _block editor_ or all these parts are going to end up rolling their own v

[2020-11-12 05:09] tellyworth commented on #17
Yeah anything that gives some context would help a lot. Otherwise it looks exactly like a post editor.

I like Remix, but that needs some discussion. There's also Adapt, Remake, or a longer phrase like "Copy and modify".

It definitely should if the purpose of forking is to translate it. But that probably warrants a separate button. We could track forking easily enough, as long as it's made clear

[2020-11-12 05:24] tellyworth commented on #16
@MichaelArestad raised the interesting idea that people might like to use this as a repository for their own patterns. For example a designer or integrator might keep a library of patterns for easy access on their client sites.

We won't have any way to authenticate users from an external editor, which means they can't be completely private. But I wonder if this hints at a more nuanced set of stat

[2020-11-12 15:13] MichaelArestad commented on #17
Right. I don't want anything updated from the original. Just a way to see where the pattern was forked from and also give the original pattern creator some credit. Down the road, it could be interested to display how a pattern evolved.

[2020-11-12 15:14] MichaelArestad commented on #16
@tellyworth Exactly. I don't think we need to start with that feature as a priority, but down the road, it could be a nice enhancement.

[2020-11-12 18:12] #7 closed, assigned to nobody

[2020-11-16 01:52] tellyworth opened #22 "Validate submitted patterns"
Patterns need to be checked for validity during the submission process. Probably different levels of validation at different points:

### Early:
* Is it even a pattern? (Contains blocks, not random binary, etc)
* Does it meet some minimum size/length? (At least one block with non-default attributes or content?)
* Does it contain JS or inline CSS?
* Do the blocks exist?
* Is the markup minimally va

[2020-11-16 02:06] tellyworth opened #23 "Show demo content in dynamic blocks when creating and previewing a pattern"
Should it be possible for patterns to contain placeholder blocks, such as "your image goes here"?

If so, what's needed to support that?

What kinds of placeholders are needed, besides images?

[2020-11-16 22:28] ryelle commented on #23
I think all the media blocks have default views when an asset hasn't been picked yet:

![Screen Shot 2020-11-16 at 5 16 47 PM](https://user-images.githubusercontent.com/541093/99314720-83846d00-282f-11eb-8a47-90f3aeacab38.png)
![Screen Shot 2020-11-16 at 5 17 53 PM](https://user-images.githubusercontent.com/541093/99314805-aadb3a00-282f-11eb-8c9f-e095124c1f7c.png)

_brainstorming some ideas…_

If

[2020-11-16 23:53] tellyworth commented on #23
I like the idea of extending media blocks with our own that display a special placeholder. That way we could make them look like anything during a preview, and change it retrospectively if needed.

On the editing side, those default picker views seem just fine as a starting point. As long as we can make it save and validate sensibly (which it seems the editor is happy to do already).

We probably

[2020-11-23 18:22] iandunn opened #24 "Track stats on installed patterns"
Similar to the plugin directory, it'd be useful for the pattern directory to track stats on which patterns are installed.

That could help the w.org front-end directly display popular patterns, etc.

This could be done by sending a list of installed pattern IDs to api.w.org when Core checks for updates, which is how it's done for plugins.

It's not clear yet how patterns will be "installed", since

[2020-11-24 00:58] iandunn commented on #10
The Core patterns are all imported into the CPT now. I left the box above unchecked since we haven't removed them from Core yet.

Although, I'd be tempted to just mark the `wp-includes/block-patterns/` as deprecated, but leave them permanently 🤔

Removing them would cause fatals for any plugins that are `requre`ing them.

[2020-11-24 22:47] iandunn opened #25 "Convert theme to `wporg` child theme"
The current theme is a very basic stub, and not used on production b/c it doesn't look like the rest of w.org.

The final design isn't clear yet, but it's safe to assume we'll want a child theme of `wporg`, similar to how the Learn site is setup. We can fork that as a starting point, and remove anything that's specific to Learn.

[2020-11-27 23:16] #25 closed, assigned to iandunn

[2020-11-28 01:15] iandunn opened #28 "Search description instead of post content"
Normally Core searches `post_content`, but that probably won't make sense for most patterns, since that's storing the HTML and demo content. It'd make more sense to search the meta description field instead.

See #11

One way to do this might be to save the description into `post_excerpt`, instead of a meta field. Then it'd be searched for free. We'd still want to disable searching `post_content`,

[2020-11-30 19:48] iandunn commented on #28
Core doesn't provide a lot of ways to customize search results, somewhat intentionally.

* https://core.trac.wordpress.org/ticket/34211#comment:4
* https://core.trac.wordpress.org/ticket/45606#comment:2

It's tempting to create a `search_index` meta field like #core34211 suggested, but without the API from Core, we'd need to re-create the `parse_search()` logic around stop words, multiple-word que

[2020-11-30 22:29] iandunn commented on #28
@tellyworth , is there any documentation around why the plugin directory uses a forked version of the `Jetpack_Search` class? Do you think the pattern directory should reuse that, or the canonical version in `wp-content/plugins/jetpack`?

[2020-12-01 17:21] ryelle opened #29 "Pattern Creator: Preview a pattern while editing it"
Pulling this task out of #14.

The mockups have a preview button:
![Screen Shot 2020-12-01 at 12 16 28 PM](https://user-images.githubusercontent.com/541093/100773623-2364fd80-33cf-11eb-96e5-f7abc4eeb621.png)

When clicked, it would show a dropdown like post previews https://github.com/WordPress/pattern-directory/issues/14#issuecomment-725496310

Post screen example, probably something like this bu

[2020-12-01 20:35] iandunn commented on #10
I separated `importing` and `removing` into separate checklist items, so the checklist can reflect what's done and what's not.

[2020-12-02 17:46] ryelle opened #30 "Pattern CPT permissions for creation & editing"
Right now, the pattern CPT endpoint works as long as you're a user on the site, but we're not going to add every wp.org user to the patterns site. We need to update the permissions checks to allow any logged in wp.org user to edit/create a pattern. Any custom validations could also be added in this step, maybe? See #22.

Probably this would be done by subclassing `WP_REST_Posts_Controller`, adding

[2020-12-17 04:47] carolinan commented on #22
Some of the points here aligns closely with the need to validate the block markup of full site editing themes when they are submitted to the directory.

[2020-12-18 23:05] ryelle opened #31 "Create a "Block Preview" component for displaying published patterns"
This will be part of #11. We want a "card"-like view for the block patterns for use on list pages (homepage, your own patterns, etc). It would be nice if this could be a reusable component so we could use it for displaying block-plugins on wp.org/plugins, too. There is already a BlockPreview (or similar) component in gutenberg, might be a good starting point if it's publicly exported.

This is one

[2021-01-14 18:59] iandunn commented on #3
This was just created so we'd have something in the Project, https://github.com/WordPress/gutenberg/pull/26578 is the main PR.

Closing since we can just use a "note" in the Project to track instead.

[2021-01-14 18:59] #3 closed, assigned to iandunn

[2021-01-18 22:18] tellyworth opened #33 "Search and/or group patterns by block"
It's likely that the editor UI will have a flow where users could discover patterns that contain a particular block.

As a hypothetical example, if I'm adding a Buy Now button to content, it should be easy for me to discover that my e-commerce plugin already has some patterns for product layouts that contain the Buy Now button, to save me doing it all manually.

That suggests some things would be

[2021-01-19 07:30] dingo-d commented on #22
My 2 cents: If you want to have a fast validation that doesn't depend on a human being since that's slow (coming from experience with theme reviews), why not explore the option to implement machine learning algorithms for `Offensive language or images`?

It's not like these aren't out there ([link](https://sightengine.com/), [link (archived)](https://github.com/yahoo/open_nsfw), [link](https://git

[2021-01-19 17:48] ryelle opened #34 "Pattern translations & i18n"
Breaking out from #9: "Translations and i18n will need to be solved."

[2021-01-19 17:49] ryelle commented on #34
I have in my notes:

- Fork pattern into `[locale].wordpress.org/patterns`?
  - What about when the parent pattern updates?
- GlotPress probably makes more sense, but how should we mark what text needs translation?

[2021-01-19 17:51] ryelle commented on #9
I think every task here is covered by an existing issue, and this "parent issue" can be closed because the project is being tracked in https://github.com/WordPress/pattern-directory/projects/1 — I prefer to keep issues to actionable tasks that can be closed, but @tellyworth if you'd rather have this issue you can reopen it.

[2021-01-19 17:51] #9 closed, assigned to nobody

[2021-01-19 18:40] iandunn opened #35 "Creator: `TypeError` when inserting Classic block"
I get `TypeError: can't access property "tinymce", window.wpEditorL10n is undefined` when trying to insert the Classic block

[2021-01-19 19:35] ryelle opened #36 "Inform the user that a pattern has been saved/validated"
Following the validation in #22, we should tell the user that the pattern has been saved & published, or whatever the state is…

- Passed validation, is publicly available at [link]
- Failed validation? show the failures, give info to remediate the pattern (still a draft)
- Pending validation (if we need to do something that takes time, like human review), with indication of place in a queue?

[2021-01-19 19:42] ryelle opened #37 "Create a library of media and only allow that to be used in patterns"
We have #23 for the idea of setting up asset placeholders (cover block, images, etc) where the end user would add in their own image, but it's also likely that pattern authors will want to add their own assets as part of the pattern (a cover block with a highly designed background image).

- Should we allow asset (image, video, audio, …?) uploads to w.org through the creator?
- Maybe only allow th

[2021-01-19 19:54] ryelle commented on #37
This is [the list of approved sites for stock photos](https://make.wordpress.org/themes/handbook/review/resources/#recommended-websites-for-images) from the theme review guidelines.

I was thinking about integrating a stock photo site & disallowing uploads, but that wouldn't help the hypothetical person who designs a custom background or header image for the pattern.

[2021-01-26 20:51] ryelle commented on #35
What do you think about disallowing the Classic block? If the goal of a pattern directory is to show cool things you can do with blocks, allowing the Classic block seems counterproductive.

[2021-01-26 21:30] iandunn commented on #35
That works for me 👍🏻

[2021-02-04 16:27] ryelle commented on #22
I started some validation in #38, pulling out my comments so they're not lost in the PR:

**Does it contain JS or inline CSS?**
These should be stripped out by `wp_kses` for users, but we'll want to check that when we figure out permissions in general, #30

**Is the markup minimally valid?**
I'm not sure if we need to check for this - on the frontend, any content generated by the editor should be

[2021-02-04 19:39] ryelle commented on #23
Blocks that could use special "placeholder" handling due to file uploads:

- core/audio
- core/cover
- core/file
- core/gallery
- core/image
- core/media-text
- core/video

[2021-02-04 19:43] ryelle commented on #23
Other placeholders might be needed for dynamic content blocks, like:

- core/archives
- core/calendar
- core/categories
- core/latest-comments
- core/latest-posts
- core/tag-cloud

These display the content on the site, but we don't want to demonstrate with the content on w.org/patterns. We should pull together some demo content that can be displayed instead.

[2021-02-04 21:33] ryelle commented on #35
The classic block was removed in 14ce49c019af1344288a96aee70e063767468d9e

[2021-02-04 21:33] #35 closed, assigned to ryelle

[2021-02-09 21:32] tellyworth opened #40 "e2e test environment for patterns"
Following on from https://github.com/WordPress/pattern-directory/issues/22#issuecomment-773435840:

It seems like we need something a bit like a lightweight version of the block plugin e2e tests, that would run a few simple server-side JS tests to check a pattern for validity. And perhaps grab screenshots or other info.

How could we do this in a way that uses our own servers, or minimal additiona

[2021-02-10 11:11] mtias commented on #33
Related https://github.com/WordPress/gutenberg/issues/27575.

[2021-02-11 23:36] tellyworth commented on #22
As an alternative to e2e for markup validation, could we use kses? Create an API endpoint that basically just runs a specially configured kses and returns the sanitized output. That's not the same as validation obviously but it might eliminate the need to validate.

[2021-02-12 02:20] dd32 commented on #40
The majority of the setup time in the existing e2e tests has been bootstraping the environment, actually running the JS to parse/validate on a shared pre-setup site should be possible with minimal extra resources needed.

Generating screenshots is more complicated however, as that requires more than just a JS runtime, but a browser runtime too.  Now that I say that, I'm not even entirely sure if j

[2021-02-12 17:13] ryelle commented on #40
For the pattern validation task, we shouldn't need a faux-browser environment (or even a WordPress site), just a JS env for Jest should be enough. I was thinking something like [the parser](https://github.com/WordPress/gutenberg/blob/master/packages/blocks/src/api/test/parser.js) / [validator tests](https://github.com/WordPress/gutenberg/blob/master/packages/blocks/src/api/test/validation.js) — pa

[2021-02-12 17:34] ryelle commented on #22
The content should already be run through kses by core, and if we set up our own kses rules we would need to keep track of what features GB adds, in case they add support for a new attribute or something, we could unexpectedly invalidate blocks. If someone manages to save invalid HTML, it would be obvious to anyone searching the pattern directory, because the preview would be broken.

Is there a c

[2021-02-15 21:42] ryelle commented on #14
Closing this issue - the panel exists, and we can review the content inside in another issue (if needed).

[2021-02-15 21:42] #14 closed, assigned to ryelle

[2021-02-15 22:01] ryelle opened #42 "Creator: Add in default font sizes and color support"
Most (all?) text-related blocks can have a font size control. The sizes are passed in via the editor settings, and we're not passing anything right now, so the only option is "default".

Not sure about the color support, so we should also check that.

[2021-02-17 18:42] ryelle commented on #42
This seems to have come back with GB 10.0.0 — leaving the issue open to keep an eye on this.

[2021-02-17 22:58] ryelle opened #43 "Pattern: Single view of a pattern"
~The initial mockup for this is below, but we don't have some of this data - like WP version compatibility, pattern version, or "tested up to". The preview is also not an editable region, so it won't have the block toolbar. (if someone wants to edit the pattern, we do have the concept of forking, but not for v1 — #17)~

~We also probably need a more obvious way to add this to your site — the "Add"

[2021-02-22 18:36] ryelle commented on #31
Some prior art from wp.com— this modal pops up when adding a new page. It's a set of page templates (which are functionally the same as patterns) on one side, and a larger preview on the other.

<img width="1660" alt="Screen Shot 2021-02-22 at 12 27 33 PM" src="https://user-images.githubusercontent.com/541093/108751790-a7cba600-7510-11eb-9a43-e19733084228.png">

As I noted in the screenshot, the l

[2021-02-22 20:57] ryelle opened #45 "What is the pattern description?"
In core, these descriptions are used as alternative text and are only exposed to screen reader users. From [the documentation:](https://developer.wordpress.org/block-editor/developers/block-api/block-patterns/)

For example, "Two columns of text, each with an image on top." or "A large hero section with a bright gradient background, a big heading and a filled button."

When filling out the pattern

[2021-02-22 21:03] ryelle commented on #43
I have a local branch trying out something (it only works intermittently, so I haven't pushed it up yet). It looks roughly like this:

![preview](https://user-images.githubusercontent.com/541093/108769617-3ba86c80-7527-11eb-909c-d5912a4c5fed.png)

The code could be hidden behind a `details`, and we would also have a button that would automatically copy the code for use in the viewer's site.

[2021-02-28 09:25] carolinan commented on #16
Please consider allowing contributors to remove and transfer their patterns as well.
I don't know how the plugin team handles it but for themes this process is manual.

[2021-03-24 16:29] #43 closed, assigned to ryelle

[2021-03-29 21:57] tellyworth opened #48 "Directory home page / list view"
The home page view of the Pattern Directory should feature a masonry-style grid, and a short list of filters/types for refining the view:

![patterns-signed-out-1x](https://user-images.githubusercontent.com/7200686/112904267-698b5d00-9134-11eb-91e5-29a3baad37d6.gif)

Along the top of the patterns grid is a “sort by” dropdown, followed by a list of selected categories, and then a search box. Changi

[2021-03-30 16:21] ryelle opened #52 "Users should be able to favorite patterns"
Users should be able to favorite patterns from the pattern detail page, and then query for those patterns via the API. Plugins has a similar functionality, can probably look there for how to do the backend. We can create a followup issue for the proxy API `http://api.wordpress.org/patterns/`, this issue is just for updating the local endpoint.

The UI for marking favorites:

<img width="1018" alt=

[2021-03-30 16:25] ryelle commented on #15
When going to the "new pattern" page, users that are not logged in will be shown an informational page, TBD

[2021-03-30 16:39] ryelle commented on #16
Design for "My Patterns"

![Pending Review](https://user-images.githubusercontent.com/541093/113023648-d95d1000-9153-11eb-8cff-483bd62cc237.png)
![Successfuly Published](https://user-images.githubusercontent.com/541093/113023644-d95d1000-9153-11eb-86f1-6395576ae082.png)

There's also more information, including an edit button, in the header of owned pattern details. The note about transferring own

[2021-03-30 16:42] ryelle commented on #18
Closing in favor of #15, which includes the submission guide modal

[2021-03-30 16:42] #18 closed, assigned to nobody

[2021-03-30 16:46] ryelle commented on #29
@shaunandrews What do you expect happens when someone clicks the "View" text here? Should it be a separate preview, or the pattern details page?

<img width="412" alt="Screen Shot 2021-03-30 at 12 45 36 PM" src="https://user-images.githubusercontent.com/541093/113025325-d400c500-9155-11eb-92f5-271c16d3e6a5.png">

[2021-03-30 16:47] ryelle commented on #31
Latest design:

<img width="741" alt="Screen Shot 2021-03-30 at 12 48 01 PM" src="https://user-images.githubusercontent.com/541093/113025637-2b069a00-9156-11eb-9d12-90777473c374.png">

See #52 for favoriting functionality, #53  for copying.

[2021-03-30 16:51] iandunn commented on #48
What's a good way to determine the related categories? 🤔

If there'll be a hardcoded or manually curated list of categories, then we could just have a hardcoded map.

If not, then maybe look at patterns that have multiple categories assigned, and then count the number of times categories are used together? e.g., The selected category is `header`, so look all the patterns with `header` assigned`, a

[2021-03-30 16:53] iandunn commented on #48
[Datamuse](https://www.datamuse.com/api/) looks interesting.

[2021-03-30 16:58] ryelle commented on #36
On a successful API submission, the user is redirected to the My Patterns page with a notice that says either "success" or "pending manual review". See #16.

<img width="1033" alt="Screen Shot 2021-03-30 at 12 56 18 PM" src="https://user-images.githubusercontent.com/541093/113026721-5b9b0380-9157-11eb-8a2c-21f212729be4.png">

If the pattern fails API validation, it won't be submitted and the user

[2021-03-30 17:14] ryelle opened #53 "Users should be able to copy patterns"
Users should be able to copy patterns. There is a copy button on both the details and list view. When clicked, the button should copy the pattern code (ex: `<!-- wp:group...`) to the user's clipboard, and show a success notice.

![](https://user-images.githubusercontent.com/541093/113020669-ce54b080-9150-11eb-9080-b561ca2bbac6.png)

<img width="1021" alt="Screen Shot 2021-03-30 at 1 12 08 PM" src=

[2021-03-30 17:16] ryelle opened #54 "Show user information on the homepage"
If a user is logged in and has submitted patterns, the callout on the homepage should be updated to show relevant info:

<img width="417" alt="Screen Shot 2021-03-30 at 1 15 21 PM" src="https://user-images.githubusercontent.com/541093/113029042-fbf22780-9159-11eb-9781-1e397735e676.png">

[2021-03-30 17:21] coreymckrill opened #55 "Pattern moderation"
As mentioned in #8, workflows and tools are needed to be able to moderate patterns that have been submitted to the directory, whether that moderation happens before or after the pattern is published and available.

Since patterns are a custom post type, the main screen for moderating patterns will probably be the patterns list table screen.

Each of these can probably have their own issue:

* [x]

[2021-03-30 18:00] coreymckrill opened #56 "Pattern statuses"
* `draft` The pattern has not been submitted to the directory yet, or it was submitted but failed automated validation checks. See #36
* `awaiting-review` (or maybe just use `pending`?) The automated checks determined that a human review is also needed. This could also be used when a published pattern gets flagged as inappropriate.
* `declined` The pattern was declined by a human reviewer. See #16

[2021-03-30 18:26] coreymckrill opened #57 "Log changes to patterns"
There are probably several reasons why we'd want to be able to audit changes made to a pattern. One is so we can see who removed a pattern from the directory, when they did it, and why, if they include a reason.

A log entry should have a date, user name, type of change, and an optional comment. It might look something like this:

| Date | User | Action | Comment |
| --- | --- | --- | --- |
| 2021

[2021-03-30 18:39] coreymckrill opened #58 "Email notifications about pattern changes"
When the status of a pattern changes (#56), and possibly in some other cases, the pattern author should receive an email notification about the change. This serves to ensure they are informed when e.g. a pattern is removed from the directory by a moderator for some reason, and also to alert them to possible unauthorized access to their account.

[2021-03-30 18:39] ryelle commented on #56
I think `submitted` should be `draft` - I see the word "submitted" and I think it's done and awaiting review.

Do you think we need a special status for `invalid`? If it doesn't pass validation checks, I think it would just not move on from draft. Maybe this should be a meta value on the pattern, rather than a custom status?

The `private` idea is not a launch requirement, but good to keep in mind

[2021-03-30 18:41] ryelle commented on #58
Does this supersede #19?

[2021-03-30 18:46] ryelle opened #59 "Update creator UI based on mockup"
The editor should now be full screen (disable non-fullscreen mode), and have the pattern title visible.

![Create Pattern](https://user-images.githubusercontent.com/541093/113039825-1c27e380-9166-11eb-84b9-7a3890519c5a.png)

The sidebar will have two sections (like the CPT editor), but instead of Document settings it will be Pattern meta information.

![Inspector Sidebar](https://user-images.githu

[2021-03-30 18:50] ryelle opened #60 "Pattern submission details"
When a user goes to submit a pattern, they will get a modal with 3 "steps" (2 + done).

![Step-1](https://user-images.githubusercontent.com/541093/117467609-d6f39000-af21-11eb-98a2-c0c39743f0b3.png)

![Step-2](https://user-images.githubusercontent.com/541093/117467610-d6f39000-af21-11eb-939f-0077d26d8322.png)

![Done](https://user-images.githubusercontent.com/541093/117467607-d65af980-af21-11eb-92

[2021-03-30 18:58] coreymckrill commented on #58
Oops, missed that. This one is a bit more detailed, so I'll close the other one.

[2021-03-30 18:58] coreymckrill commented on #19
Superceded by #58.

[2021-03-30 18:58] #19 closed, assigned to nobody

[2021-03-30 19:36] coreymckrill commented on #56
Ok, updated to consolidate `draft`/`invalid` into one status. Maybe we don't even need to save a meta value on the pattern if it's invalid, if the author will receive a detailed message about the validation errors in the UI.

[2021-03-30 20:37] coreymckrill opened #61 "Flagging a pattern for review"
This is a work in progress. Requirements listed here are up for discussion.

A pattern flagging system will have a few different components:

* Front end UI for flagging a pattern in the directory
* A REST API endpoint to submit the data from the UI
* A schema for storing flags for a pattern in a structured way
* Back end UI for surfacing flags to pattern moderators

### Front end UI

The pattern

[2021-03-30 21:58] ryelle opened #62 "Pattern grid view functionality"
Pulling this out of #48 — the pattern list view should be styled as a grid, and will either have a "load more" button or pagination. We can use JS to load the whole list (something SPA-style that controls the pattern grid), or just use URLs + JS for animation/flair. Probably will land on the JS solution, but will want something that works well across all archive & searching templates.

![](https:/

[2021-03-31 00:06] coreymckrill opened #63 "List table improvements for the pattern post type"
The pattern list table will primarily be used by people who are reviewing or moderating patterns that have been submitted by users on the front end. Thus the table columns and filters that are present should be optimized for reviewing/moderating tasks.

### Columns

* Title (Pattern name)
* Author (User name of pattern creator)
* Date (Date published, or last modified + status)
* Flags (#61)
* Cat

[2021-03-31 01:52] StevenDufresne opened #64 "Pattern Directory: Users should be able to view patterns based on categories."
### Tasks
- [ ] Category bar (All, Header, Sidebar, Footer, Gallery ... )
- [ ] Search Bar
- [ ] Category dropdown ( Featured, Newest, Popular ) (Lowest priority)

This ticket will not implement the grid list. That is contained in a separate ticket: #62.

### Screenshot
![patterns-signed-out-1x](https://user-images.githubusercontent.com/7200686/112904267-698b5d00-9134-11eb-91e5-29a3baad37d6.gif)

[2021-03-31 06:40] StevenDufresne opened #66 "Pattern Directory Structure: PHP and JS."
How do we want to organize the front end?

- Do we want to create a `front-page.php` for the grid?
- We currently have an `index.js` file in `src` that pulls in the pattern preview component. Are we going to leverage that `index.js` and turn it into an _app_ the same way an SPA works?
   - If so, do need a router?
 - Alternatively, do we want to load a separate JS payload per _page?_

@ryelle @ian

[2021-03-31 15:08] ryelle commented on #66
I was already working on an idea here (for #62 ), so here's a quick overview of my thoughts… (I'll have at least a WIP PR up sometime today)

The grid is on all archive pages & search results, so no, we would need to use it on all archives too. I ended up creating an `index.php`, and using a filter [like this](https://meta.trac.wordpress.org/changeset/10857) to override the archive & search templa

[2021-03-31 15:12] ryelle opened #67 "Remove `pixrem` PostCSS plugin"
This is needed for IE8-10 back-compat, but we're targeting IE11+. Since [IE11 supports rem sizing](https://caniuse.com/rem), we don't need to add these duplicate fallback rules.

This is in the theme's Gruntfile & package.json.

[2021-04-02 09:26] StevenDufresne commented on #66
@ryelle While thinking about the JS structure, can you consider how we plan on organize how we fetch data? I'm almost ready to grab the taxonomies to fill the grid menu. I'm not too fussed about how we want to do it, just a general direction will help me with next steps.

For example:
1. Create a redux like store
2. Create a provider that stores the information and wraps the 'app'
3. Have high-lev

[2021-04-02 18:13] shaunandrews commented on #45
I initially thought we'd have separate fields for "marketing copy" and the "alternative text," but seeing it in practice worried me a little:

<img width="391" alt="image" src="https://user-images.githubusercontent.com/191598/113441356-204d3e80-93bc-11eb-8a3e-5aa8e3332be4.png">

The title, details, and alt text are all kind of asking the same question but with very subtle differences in the expect

[2021-04-02 19:39] shaunandrews commented on #16
Instead of a single "Edit" button, perhaps we show a menu with multiple options including transferring ownership and deleting:

<img width="765" alt="image" src="https://user-images.githubusercontent.com/191598/113446922-d9b11180-93c6-11eb-96e9-ebc4cb13c043.png">

We can also expose this menu in the grid view of patterns:

<img width="330" alt="image" src="https://user-images.githubusercontent.com

[2021-04-02 22:40] ryelle commented on #66
I thought we would use the gutenberg data infrastructure - [`wp.data.register`](https://developer.wordpress.org/block-editor/reference-guides/packages/packages-data/#register), etc. We can fetch the data with `apiFetch` in resolvers, and then interact with it using `useSelect` & `useDispatch`. ([this series is a deep dive into wordpress data,](https://unfoldingneurons.com/2020/wordpress-data-putti

[2021-04-02 22:48] ryelle commented on #45
I like it! Do you think that might lead to overly long titles though?

[2021-04-05 14:51] #67 closed, assigned to nobody

[2021-04-05 14:52] ryelle commented on #31
Try a Shadow DOM approach to style encapsulation?

[2021-04-06 01:12] StevenDufresne commented on #66
I'll close this as it's taking shape in the associated Pull Requests.

[2021-04-06 01:12] #66 closed, assigned to nobody

[2021-04-06 05:01] StevenDufresne opened #73 "Retrieving pattern grid category filters."
We register a [`wporg-pattern-category`](https://github.com/WordPress/pattern-directory/blob/456b6a2bf0f03322fa1bfd74fcf4e310488306e8/public_html/wp-content/plugins/pattern-directory/includes/pattern-post-type.php#L57) which I assume will be assigned to block patterns and used as the sorting mechanism for the pattern grid menu here: #48.

Questions:
- Is that assumption correct? Will we be using t

[2021-04-06 17:54] shaunandrews commented on #45
Maybe, though that might be ok. I imagine there will be some limit for the length of the title. If we start to see lots of patterns with ridiculously long titles, then it would be a good sign that we need to add a new field.

[2021-04-06 18:25] shaunandrews commented on #29
Ah, sorry for any confusion; There was a PR/issue in the Gutenberg repo that mentioned updating the "Preview" button to just "View," and my mockups reflect that change. But, the button just opens a menu that lets you adjust the editor's viewport size along with a link to open in a new tab:

<img width="221" alt="image" src="https://user-images.githubusercontent.com/191598/113759989-bac2c000-96e3-1

[2021-04-07 19:47] shaunandrews commented on #22
I think we might want to consider restricting the use of images in the pattern builder. Perhaps seeding the media library with a number of worry-free images, remove permissions to upload to the media library, and including some validation around hot linking to un-allowed images.

[2021-04-07 20:56] shaunandrews commented on #23
I don't think we need to do anything special to the media block placeholders. It's up to the designer if they want their pattern to provide an image that can be replaced, or an empty Image block; Both should work.

We will have to provide a collection of site content for dynamic blocks. Does something like this exist currently for themes that we can reuse, or will we need to create a bunch of exam

[2021-04-07 20:59] shaunandrews commented on #37
I think we need to restrict uploads and provide a collection of worry-free assets (images, videos, audio, files) in the media library. We can highlight this in the welcome guide and in media block placeholders:

<img width="389" alt="image" src="https://user-images.githubusercontent.com/191598/113932326-786fb080-97c1-11eb-97b7-bb295e2249f8.png">

<img width="653" alt="image" src="https://user-imag

[2021-04-07 21:36] ryelle commented on #73
That is correct, those filters correspond to the categories. We'll launch with a set of categories, and users won't be able create new ones, only tag their patterns with the existing ones. I think it's likely we'll want to add new categories as the site grows, so I don't want to rely on a manual mapping if possible otherwise we'll always need a dev to update things.

I suppose we could add a "simp

[2021-04-08 18:22] #56 closed, assigned to coreymckrill

[2021-04-09 03:11] #64 closed, assigned to StevenDufresne

[2021-04-17 02:45] carolinan opened #79 "Question: How will patterns work with custom block styles?"
In the patterns, the creator can add attributes to the blocks, as long as the block supports it (color, font size, padding etc, and soon, borders).
But what if I want to create a pattern that needs CSS that can't be achieved with the block support?
For example, box shadow, or positioning a block so that it overlaps (See for example Twenty Twenty-One).
Or if the pattern needs to have a mobile and a

[2021-04-19 22:48] coreymckrill opened #80 "Theme: "Report this pattern" button and form"
This issue is pulling out the **Front End UI** section of #61, and building off the work done in #77.

When viewing a single pattern in the directory, there should be a "Report this pattern" button to click in the case that the pattern is problematic for some reason. Clicking the button should bring up a modal similar to this mockup:

<img width="414" alt="image-15" src="https://user-images.github

[2021-04-19 22:53] coreymckrill commented on #61
The "Front end UI" part of this has been pulled out in #80, and the rest of this was addressed in #77.

[2021-04-19 22:53] #61 closed, assigned to coreymckrill

[2021-04-20 02:35] StevenDufresne commented on #73
Some of these suggestions have been added to #76 and #78. We can move these conversations to the open PRs and future ones. Closing for now.

[2021-04-20 02:35] #73 closed, assigned to nobody

[2021-04-20 02:44] StevenDufresne commented on #54
**Questions**:

- ~~What status will the pattern have to be considered pending? Will it be custom?~~ Currently using `pending`.
- Do we have a ticket for the "View All" view? Will it be part of the MVP?
- We will need to write favoriting logic from scratch.
  - Could we get this component in without the favorite count first?
  - As much as I like the favorite feature, I personally think it's low p

[2021-04-20 05:02] StevenDufresne commented on #80
I'll look at this.

[2021-04-20 06:21] tellyworth opened #81 "Should core patterns live in the directory?"
For consistency of search, we could include all core patterns in the pattern directory, and return them as part of API search results. That would eliminate the need to separately search core patterns locally on the user's site, and enable us to consistently apply search ranking and filtering across both third party and core patterns.

Patterns registered by a plugin or theme would still need to be

[2021-04-20 14:25] ryelle commented on #81
Core patterns have already been loaded into wp.org/patterns 👍🏻  (I even have [a draft PR into gutenberg](https://github.com/WordPress/gutenberg/pull/28800) to transparently replace the existing patterns with these API results, but then we started talking about redesigning the editor search…)

@iandunn started a discussion about how to combine locally-registered patterns with the API patterns/how t

[2021-04-20 23:58] #53 closed, assigned to StevenDufresne

[2021-04-21 17:08] ryelle opened #82 "Patterns in a plain group fail validation"
In moving over the new block patterns, I've noticed that patterns wrapped in a group, with no other customization to the group, are considered invalid. Specifically, I get this response:

But if I add more content below the group, or ungroup the blocks, it passes. Grouped blocks are valid, so this should be fixed in the validator.

Test block code:

[code]

[2021-04-21 17:33] ryelle commented on #82
Looks like columns have the same issue:

<details>
<summary>Block code</summary>

[code]
</details>

[2021-04-21 19:54] ryelle commented on #33
Block patterns can have a `blockTypes` property, which identifies blocks that can be converted into this pattern. For example, the paragraph block:

<img width="684" alt="Screen Shot 2021-04-21 at 2 31 17 PM" src="https://user-images.githubusercontent.com/541093/115603585-593b4d80-a2ae-11eb-9102-35c61289a4aa.png">

We should add some (optional) way of flagging patterns as related to block types, a

[2021-04-26 06:06] StevenDufresne commented on #59
I'm not sure if I understand how to do this nor am I sure I'm viewing the creator properly.

I've created a page called `new-pattern` and I visit `localhost:8888/new-pattern`. I get the creator embedded in the page.

**Looks like this**:

![](https://d.pr/i/g72ME1.png)

When I run the snippet below, nothing happens; presumably, because i'm not loading this through `wp-admin`?

[code]

[2021-04-26 14:51] ryelle commented on #36
Saved as draft, not yet submitted
![Details - Owned Pattern - Draft](https://user-images.githubusercontent.com/541093/116102485-c0754b00-a67c-11eb-9369-0d0cdd89246d.png)

Learn more shows:
![Drafts](https://user-images.githubusercontent.com/541093/116103038-38dc0c00-a67d-11eb-898e-d564f88f74f0.png)

----

Submitted, but something needs manual review
![Details - Owned Pattern - Pending](https://use

[2021-04-26 22:05] ryelle commented on #59
Yep, that's what it looks like right now, and the issue is that it's been totally redesigned to use a fullscreen mode only. The current editor here doesn't have any fullscreen code.

The new version looks a _lot_ closer to the edit-post editor, so I was thinking we might want to switch to that. I initially tried an exploration using `@wordpress/edit-post`, but the design was distinct enough that w

[2021-04-27 00:18] StevenDufresne opened #88 "Theme: Block Preview card "copy" button should copy the block pattern."
It should leverage code on the single pattern view page introduced in #74.

**Code Reference:**
https://github.com/WordPress/pattern-directory/blob/1c878592553a9dcc8f4f2c8cde05952436fe3f46/public_html/wp-content/themes/pattern-directory/src/components/copy-pattern-button/index.js#L13

**Thoughts**
We don't have designs for the "copy" action confirmation but maybe we could just update the button wi

[2021-04-27 02:28] StevenDufresne commented on #59
I'll hold off and wait for this to settle.

[2021-04-27 06:01] StevenDufresne commented on #79
Similar to https://github.com/WordPress/gutenberg/issues/31124

[2021-04-27 13:46] #82 closed, assigned to ryelle

[2021-04-27 14:04] #31 closed, assigned to ryelle

[2021-04-27 16:29] ryelle commented on #88
Bringing over the conversation to this issue instead of [on the PR](https://github.com/WordPress/pattern-directory/pull/89), and will cc @shaunandrews

I found this mockup in the figma file, with a notice overlaid on the pattern preview — IMO this is a good solution to the issue (but it needs a closing X for accessibility (or [to display for 20+ hours](https://www.w3.org/WAI/WCAG21/Understanding/t

[2021-04-27 21:46] shaunandrews commented on #88
Funny enough, that's actually what I had designed and implemented in the codepen (https://codepen.io/shaunandrews/pen/yLVjaWa?editors=1100).

![Inline Copy Button](https://user-images.githubusercontent.com/191598/116316223-9bb5cc00-a77f-11eb-8251-bd8cc1450d94.gif)

I wouldn't be opposed to also including a notice overlaid on the pattern, but I initially avoided it because I felt it obscured the pa

[2021-04-27 22:02] ryelle commented on #88
If it's on a timeout like in your codepen, we still have the same a11y issue about timings, technically… but I think maybe a 20 second timeout might be enough. it's only one word to read, and if we leave it as "Copied" indefinitely, the user might have copied something else in that time. We'll also want to announce with `wp.a11y.speak` that the pattern was copied to the clipboard (this should happ

[2021-04-27 22:26] shaunandrews commented on #88
Maybe. My reading of the linked W3 doc seems to be more about timed events that prevent you from continuing or otherwise interrupt a process.

In many ways, we're co-opting the button label to serve as a notice. I think ensuring that we announce the message (something like `aria-live` or similar) and have a sensible delay (20-30s seems like a good start) it will work well.

[2021-04-28 01:14] StevenDufresne commented on #88
I've updated #89 to have a longer timeout and speak the action so we can see it.

I'll defer to your a11y expertise, but from a non-a11y standpoint, I think it does a good enough job indicating that the pattern has been copied. We're also making the assumption that a user will want to copy a pattern via the preview, I'm not certain that will be where most patterns are copied. Part of me thinks the

[2021-04-28 01:51] ryelle commented on #88
It's about any timed content -- the user needs to be able to read and understand the content before it goes away. That particular page is examples, the text of the requirement is much more concise: ["Provide users enough time to read and use content."](https://www.w3.org/TR/WCAG21/#enough-time)

[2021-04-28 04:39] #88 closed, assigned to StevenDufresne

[2021-04-28 18:29] coreymckrill opened #90 "Pattern flags: Restrict the length of the Details string?"
When reporting a pattern (#83), a site visitor is asked to fill in a text area with details about why they are submitting a report/flag. Right now this field does not have character limit, other than that imposed by MYSQL. Since details are stored in `post_excerpt`, which is data type `text`, the character limit is [65,535](https://www.mysqltutorial.org/mysql-text/). This seems a bit excessive for

[2021-04-29 02:06] StevenDufresne opened #91 "What happens if patterns use core blocks not present in Installed Gutenberg Version?"
I feel like I saw a similar discussion somewhere but can't find it.

What happens in this scenario:

[code]

[code]

[code]

I imagine the missing block view will be presented which typically offers the user the ability to install from the block directory, but since core block are not in the directory, the pattern won't work.

- Do we add metadata and filter these from the pattern search?
- Do we

[2021-04-29 16:21] ryelle commented on #91
Missing blocks in patterns uses the same error as when you disable a block plugin from existing content:

<img width="567" alt="screen-shot-2021-03-22-at-3 42 19-pm" src="https://user-images.githubusercontent.com/541093/116574915-2f041400-a8dc-11eb-9c62-6be5968fdcac.png">

If the block is in the pattern directory, it will let you opt to install it. If not, it'll just show the "convert or remove" t

[2021-05-05 23:25] StevenDufresne commented on #91
Yep, that's a good point.

Assuming the "live preview" is the _error_ box the example, should we make it easier to remove broken blocks? I personally don't understand why I would "Keep as HTML" which seems to be my only obvious exit strategy. This also may be a better conversation to have in Gutenberg.

[2021-05-06 16:07] ryelle commented on #91
This makes more sense for the original use-case of this error: you wrote some posts, then removed a block plugin, but want to keep your existing content. Converting to HTML preserves the content (usually). I think it still makes _some_ sense in patterns - you want to preserve the pattern structure, but it's worth some discussion.

Yeah, I think so - I did a quick search for existing issues and did

[2021-05-07 00:16] StevenDufresne commented on #91
Thanks for the information! I'll close this and reopen it in the Gutenberg project if necessary.

[2021-05-07 00:16] #91 closed, assigned to nobody

[2021-05-07 03:53] StevenDufresne opened #96 "Creator: Pattern Creator Welcome Guide"
In order to help users understand the process of creating and uploading patterns, we should provide them with information when they load the pattern creator for the first time.

**Designs**

![](https://d.pr/i/sWkZNZ.png)

[2021-05-07 14:41] shaunandrews commented on #96
Here's an SVG export of the illustrations and the geometric backgrounds:

[Archive.zip](https://github.com/WordPress/pattern-directory/files/6442419/Archive.zip)

[2021-05-07 14:59] ryelle commented on #62
Updated grid item design:

![Pattern Grid Item](https://user-images.githubusercontent.com/541093/117468963-3a31f200-af23-11eb-83e4-3a3872a0cdb2.png)

[2021-05-10 03:16] StevenDufresne commented on #96
How particular are we that the SVG backgrounds match the designs? The exports are not identical and/or very tricky to get to match. The triangles and squares are particularly out of sorts and will require a lot of manual tweaking to get them to match. It's probably easier to simplify the SVGs.

| Diamond |  Squares |Triangles |
| --- | --- | --- |
| ![](https://d.pr/i/eisHN6.png) | ![](https://d.p

[2021-05-10 15:59] iandunn opened #99 "Coordinate Nginx caching for API"
Once the API is stable, we'll need to ask Systems to cache it, to avoid performance/stability issues.

Draft at https://make.wordpress.org/systems/wp-admin/post.php?post=1788&action=edit _(old, may need to be updated)_

[2021-05-10 16:02] iandunn commented on #99
Converting this to an issue to make sure it doesn't get missed.

FYI @ryelle , @StevenDufresne , @tellyworth

[2021-05-10 16:02] ryelle opened #100 "Display "social currency" metrics about patterns"
The design includes views and a favorite count on each pattern.

- Get the view count (or it a "times copied" count), if we can
- Add that into the CPT's API response for each pattern
- Display it in the grid

![pattern](https://user-images.githubusercontent.com/541093/117689979-51bde480-b188-11eb-804e-3ad178958520.png)

[2021-05-10 21:00] shaunandrews commented on #96
Ah, my bad. I should have double-checked before uploading. I forgot to outline the shapes, and I've adjusted the export frame so we don't have to worry about positioning.

[This ZIP should be better.](https://github.com/WordPress/pattern-directory/files/6454928/Archive.zip)

<img width="1391" alt="image" src="https://user-images.githubusercontent.com/191598/117724033-2dc2c900-b1b1-11eb-8936-f9eebd

[2021-05-10 21:02] ryelle opened #101 "Pattern Grid: Add a loading state"
When loading items in a grid, switching between categories, or searching, the grid should switch to a loading state:

![loading-patterns](https://user-images.githubusercontent.com/541093/117724019-2ac7d880-b1b1-11eb-8526-bdf1c3dca429.gif)

[2021-05-10 21:09] ryelle opened #102 "Pattern grid: Add pagination"
Broken out from #62, with the new pagination styling. `getQueryString` will need to be updated so that it does _not_ remove the pagination parameters. Does this change anything else about how the patterns should be saved in the store?

<img width="686" alt="image-1" src="https://user-images.githubusercontent.com/541093/117724391-ad509800-b1b1-11eb-89a1-513c25c7c4c8.png">

[2021-05-10 21:10] ryelle commented on #62
Closing this issue since the design has changed, and it makes more sense to open a new issue for the new card design.

[2021-05-10 21:10] #62 closed, assigned to ryelle

[2021-05-10 21:13] ryelle opened #103 "Pattern Grid: Update patterns with new design"
Items should have a fixed height (195px in the design). Title and some meta information (see #100) appear under each pattern. On hover, the favorite & copy actions appear.

![](https://user-images.githubusercontent.com/541093/117468963-3a31f200-af23-11eb-83e4-3a3872a0cdb2.png)

[2021-05-10 21:42] ryelle commented on #103
Patterns in the author's "my patterns" list can also have a status label, ex:

![pattern-status](https://user-images.githubusercontent.com/541093/117728208-256d8c80-b1b7-11eb-91ed-7f6edabf998c.png)

These patterns also have an extra actions dropdown:

![Hovered](https://user-images.githubusercontent.com/541093/117728808-ef7cd800-b1b7-11eb-88ec-d7d934cbfd4a.png)

![Owner Options Menu](https://user-

[2021-05-10 21:50] ryelle commented on #16
To do here (create individual issues before tackling):

- [ ] Create the My Patterns page
- [ ] Update the grid component to separate it from the main query, so we can have multiple grids on one page
- [ ] Show the user's patterns in a grid (if any)
    - [ ] Allow filtering by status
    - [ ] Patterns should have a status label #103
- [ ] Show the user's favorites in a grid (if any)

![My Patter

[2021-05-11 00:58] #80 closed, assigned to StevenDufresne

[2021-05-11 17:39] ryelle opened #104 "Theme: Update the static templates to match JS-loaded content"
See https://github.com/WordPress/pattern-directory/pull/94#issuecomment-837559797 — there's a flash now between content loaded by JS, and the PHP-generated HTML from the theme templates. We should figure out what the best way forward for these templates is, and fix any awkward flashes of content.

[2021-05-11 17:45] ryelle commented on #104
Note: I've put this "On Hold" only because I think we should let the JS components settle a bit before changing the PHP templates. In the meantime, we can discuss what should be done.

This view is only shown while the JS bundle loads, once it initializes, the page flips into loading mode & then shows the real content. Alternately, this is shown if the JS breaks, or if someone has JS turned off. S

[2021-05-11 18:09] coreymckrill opened #105 "Audit logging: Provide a comment field for some pattern/flag changes"
From #57:

[2021-05-11 18:10] coreymckrill commented on #63
I split the "reason field" part of this out into a separate issue #105. The rest of this is done.

[2021-05-11 18:10] #63 closed, assigned to nobody

[2021-05-11 21:04] shaunandrews commented on #16
My intention with the design was that each group would be it's own query, each with their own pagination. This is obviously not great, especially if we consider someone with more than a handful of both owned patterns and favorites. I think we should just split these up after all:

<img width="1770" alt="image" src="https://user-images.githubusercontent.com/191598/117884197-54006b80-b27a-11eb-9021-

[2021-05-11 22:00] coreymckrill commented on #100
So maybe the "times copied" count is a postmeta value on the pattern post? Would that only count uses of the "Copy pattern" button on the wp.org pattern directory, or could we bump the counter when someone picks the pattern via the API from within their site?

[2021-05-11 22:09] coreymckrill commented on #58
Thinking through this a bit more. It seems like it wouldn't be great if the pattern creator received an email that just said, "Your pattern has been unpublished from the pattern directory" without an explanation. #105 is intended to provide an _internal_ explanation for why a pattern status is changed, but I'm not sure it's what we'd want to put in the email either.

So, if we're going to tell peo

[2021-05-12 20:35] shaunandrews commented on #103
My intention is that the rendered pattern should be contained within a box with a 1.5 aspect ratio — the height is dependent on the width of the column. The design uses a 960px max-width, and because of the way Figma renders box-shadows, the columns are actually meant to be 300px wide, which makes the rendered pattern 300x200px.

Here's a Figma that goes over how the grid should respond as the vie

[2021-05-12 21:32] ryelle commented on #103
Thanks for clarifying 👍🏻

When do you think it should drop to that 2-column layout? We have existing breakpoints at 960 or 782 wide.

[2021-05-12 21:38] shaunandrews commented on #103
782 seems fine if we don't want to add another breakpoint.

[2021-05-12 21:45] shaunandrews commented on #100
I think it would be good to record values for:
- Views: How many times has a pattern detail page been viewed. It might be nice to break this down based on _where_ the view was registered; In a query loop, a single pattern, and/or from within the editor.
- Copies: How many times a pattern's copy button has been clicked. It might be nice to break this down based on _where_ the copy button was clicke

[2021-05-12 21:47] shaunandrews commented on #90
If we do restrict the length of the message we'll likely need to include some UI message when the length is reached — I wouldn't want to blindly truncate someones message without them knowing.

[2021-05-12 21:49] shaunandrews commented on #79
Right now I'm working under the assumption that block patterns created and submitted to the Pattern Directory will not be able to provide any CSS.

[2021-05-13 14:12] ryelle commented on #79
I think that's the right assumption - the only "style" options we should provide are the ones that have block support (global styles). I don't know offhand if there are any theme restrictions here, or how we should best set that up. Could a pattern use a style that a theme doesn't support? Do we need to declare style settings when initializing the editor?  — things to think about as the editor is

[2021-05-13 14:20] ryelle commented on #100
I think we'll get pushback if we try to send back metrics from a user's site (privacy concerns).

Do we need to worry about performance with the idea of incrementing a counter with every copy?

Could we use Jetpack/tracks to offload handling the metrics, or does that open a new can of privacy worms?

[2021-05-14 01:26] StevenDufresne commented on #91
A similar issue was opened in Gutenberg: https://github.com/WordPress/gutenberg/issues/31706 and it references the pattern directory.

[2021-05-14 23:59] coreymckrill opened #107 "Block Editor: Add UI for switching a pattern to a custom status"
In #75 we introduced some custom post statuses for patterns as part of the moderation flow. However, there isn't a way to apply these statuses from the block editor.

Ideally, I think, we'd add our own status dropdown with all of the options specified in #56.

Related: #105

[2021-05-17 00:03] StevenDufresne commented on #100
Can we start with more simple metrics and expand? When I look at something like dribbble.com, they count favorites and views as the social indicators. If we took the same approach we would only need to track things on wordpress.org. It may help scope this down for the initial launch and if those values aren't good enough, we could ask users what they think is worth tracking.

[2021-05-17 18:17] shaunandrews commented on #100
Sure. The designs already show the views and favorites as the primary metrics. I was more thinking of what could be helpful in the future as we iterate on the directory and pattern discovery/exploration.

[2021-05-17 18:28] #52 closed, assigned to ryelle

[2021-05-17 22:30] ryelle commented on #59
@StevenDufresne Are you still planning on working on this? Whether it uses the branch I mentioned or can be done by just iterating on what's in trunk already, either works.

[2021-05-17 23:05] StevenDufresne commented on #59
I have no plans. But I don't mind picking it up.

[2021-05-17 23:06] StevenDufresne commented on #59
.... I didn't realize I was assigned to the ticket.

[2021-05-17 23:40] coreymckrill commented on #105
~This could possibly be solved by using the [Revision Notes](https://wordpress.org/plugins/revision-notes/) plugin.~

[2021-05-18 04:23] StevenDufresne commented on #60
@ryelle I'll take this one. I'll build it in the existing creator and make it easy to move over should we go make the change you mention here: https://github.com/WordPress/pattern-directory/issues/59#issuecomment-827174674

[2021-05-18 04:29] dd32 opened #108 "API: unexpected headers included"
API Results include a `link: ... rel="next"` header which points to the WordPress instance's rest api instead of to the API itself:

[code]

The allowed CORS headers should potentially also be removed/limited:
[code]

[2021-05-18 05:00] dd32 opened #109 "Use of wp-themes.com style loading causes Chrome insecure warning"
I'm not sure why, but the below warning is triggered in chrome once the page load starts to include resources from `wp-themes.com`.

<img width="330" alt="Screen Shot 2021-05-18 at 2 59 33 pm" src="https://user-images.githubusercontent.com/767313/118592697-b95bdb80-b7e9-11eb-8eff-499ad73cbb8c.png">

[2021-05-18 14:12] ryelle commented on #109
I'm not seeing that in chrome, and the `wp-themes` resource is being loaded via `https`. Do you have `wp-themes.com` sandboxed, maybe?

[2021-05-18 14:44] iandunn commented on #108
IIRC it was difficult to trim the response on the API side b/c of the proxying, how the API inits WP, and various REST API bugs/missing features.

Things get trimmed on the Core side, though, so the Gutenberg client doesn't see them.

It's been awhile, though, so I could be remembering wrong.

[2021-05-18 14:48] iandunn commented on #109
I also see them loading with `https`

[2021-05-18 20:40] ryelle commented on #99
What does "stable" mean in this context?

[2021-05-18 23:36] iandunn commented on #99
I was mostly thinking of all the endpoints being there, parameter names/types having their final names, etc

----

xref https://make.wordpress.org/systems/2021/05/18/patterns-api-maybe-cache-direct-to-proper-upstreams/

cc @dd32

[2021-05-20 02:54] dd32 commented on #109
I can't duplicate it anymore, but I recall the stylesheets were loaded over https without any issue..

I potentially did have `wp-themes.com` sandboxed at the time (It's no longer), or chrome had recalled the invalid cert for the domain or something similar.

@iandunn Any chance you had it sandboxed at some point in time to trigger it too?

[2021-05-20 12:06] iandunn commented on #109
No, I've never worked on it, so it's not in my host file.

[2021-05-20 13:02] ryelle commented on #109
@iandunn are you seeing the same insecure content warning?

[2021-05-20 13:41] iandunn commented on #109
Er, sorry, I phrased that ambiguously before. I meant that I'm seeing the scripts load over `https`, so I'm not seeing any warnings.

[2021-05-20 18:26] shaunandrews commented on #60
Here's the SVG shapes for the background: [SVG Shapes.zip](https://github.com/WordPress/pattern-directory/files/6517294/SVG.Shapes.zip)

I've added a little "Required" label that I think it helpful. Here's an updated GIF of the steps:

![Pattern Publish Modal](https://user-images.githubusercontent.com/191598/119029965-4d0ee280-b977-11eb-8fd3-6b51dee4fdf1.gif)

[2021-05-20 20:05] shaunandrews commented on #59
Here's the latest designs for the pattern editor:

<img width="1133" alt="image" src="https://user-images.githubusercontent.com/191598/119041753-02946280-b985-11eb-9cf9-a808cb2f77b5.png">

<img width="1013" alt="image" src="https://user-images.githubusercontent.com/191598/119041793-0de78e00-b985-11eb-8447-2cb16b92c0f9.png">

You can find all of this in Figma here: https://www.figma.com/file/bz4qs4

[2021-05-21 02:16] dd32 commented on #109
I'm going to close this, and assume that it was my own fault :)

[2021-05-21 02:16] #109 closed, assigned to nobody

[2021-05-24 03:40] StevenDufresne commented on #59
@ryelle I went through and pulled out some of the necessary changes to be done in try/edit-post-package. They seem all very doable.

**Editor**
- ~~Primary color to #3858E9~~
 - Navigation:
   - ~~Remove preview button~~
   - Replace with viewport button/functionality
 - Update `savePost` functionality
 - Connect to `<PublishModal>` (PR: #112)
 - Limit media to GPL

**Inspector**
 - ~~Update Inspe

[2021-05-24 06:15] StevenDufresne commented on #59
I've reassigned myself and started this in a new branch with the hopes of merging it with #112 via #60.

Branch: [ try/edit-post-package-editor](https://github.com/WordPress/pattern-directory/tree/try/edit-post-package-editor)

[2021-05-24 06:31] StevenDufresne commented on #59
I do have a couple questions before i dig in too deep:

1. In the plugins folder we have a `pattern-directory` and `pattern-creator` project. I'm not certain what the difference is seeing that we appear to have editor controls in both. For example the `pattern-creator` has a `MainDashboardButton` and the `pattern-directory` has controls in `pattern-post-type.js`. What's the idea behind those?

2.

[2021-05-24 15:51] ryelle commented on #59
1. `pattern-creator` has the front-end creator UI functionality, while `pattern-directory` sets up the CPT. `pattern-post-type.js` was added when the CPT was set up, I think as a way to edit the pattern meta. You can think of it as `pattern-directory` for wp-admin/backend, and `pattern-creator` for the frontend.

    The `MainDashboardButton` in `pattern-creator` is a poorly-named file - that's th

[2021-05-24 18:54] ryelle commented on #59
More clarification for Q1, where does the theme fit in — the theme should be for displaying the patterns & any user interaction with patterns (copy, favorite, report etc). So the patter-creator plugin is for frontend pattern creation & editing, and the theme will have all the display & moderation in it.

it's rudimentary/manual code-splitting, kind of— we don't want to load _all_ of the editor scr

[2021-05-26 05:10] StevenDufresne commented on #59
@ryelle @shaunandrews
Sorry for the big question list below. I don't know a better way of starting a discussion for these topics async :)

1. Looking at the `wpop_viewport_width` taxonomy, it doesn't appear to have any unit awareness ([uses absint](https://github.com/WordPress/pattern-directory/blob/80f78394def119ebbf507adb69257be4c4253374/public_html/wp-content/plugins/pattern-directory/includes/

[2021-05-26 19:00] ryelle commented on #59
1. `wpop_viewport_width` is a meta value, so it can be anything. It does need to be a pixel value, since it corresponds to `viewportWidth` in [the pattern code](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-patterns/).
2. This one's for @shaunandrews
3. I would consider it an enhancement — let's get the basics in first and see where we are. We can probably use [`Res

[2021-05-26 20:04] shaunandrews commented on #59
Correct. At some point I was thinking it might be nice to have a viewportWidth value set, but still use the handles to preview how your pattern behaves at different sizes (perhaps with a button to "return to viewportWidth").

For now, we can keep it simple, especially as it sounds like the resizableBox stuff is considered an enhancement.

[2021-05-27 14:44] ryelle opened #116 "Pattern Grid: Blank page when no patterns are found"
When searching for patterns and none are found, it shows this sad empty state

<img width="1013" alt="Screen Shot 2021-05-27 at 10 40 29 AM" src="https://user-images.githubusercontent.com/541093/119846253-f86bea00-bed7-11eb-8239-d8ee72af71a3.png">

I'm assuming this one should give an error message, then either point the user to other categories, or show a set list of popular patterns…?

-------

[2021-05-28 06:36] StevenDufresne commented on #59
@ryelle Are keywords supposed to be restricted to the ones created in wp-admin? Or will those be considered suggestions and users can add whichever keyword they choose? It appears like the backend is expecting a list of integers.

[code]

If they are restricted, would the Keyword control make sense to use as in the designs?

[2021-05-28 14:46] ryelle commented on #59
Hm, I'd assumed that keywords would stay internal - I used it for the Core flag mostly because I didn't think it would be used for anything else... I'm not entirely sure what the difference between category and keyword is.

It's probably looking for a set of taxonomy term IDs, which could be created - like how the tags UI works on posts.

[2021-05-28 15:06] #102 closed, assigned to ryelle

[2021-05-28 15:12] ryelle opened #117 "Theme: "All" link on category menu links back to wordpress.org"
The "All" category links back to `https://wordpress.org/` instead of `https://wordpress.org/patterns/`.

[2021-05-31 00:07] StevenDufresne commented on #59
@ryelle @shaunandrews

I guess it would depend on how 'loose' we get with categories and how specific patterns become. I'm not certain we have those answers yet...

Should we remove the keyword control from the interface for now then?

[2021-06-01 21:59] ryelle commented on #59
I apparently didn't catch that `keywords` [is used in patterns too](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-patterns/), just like blocks - my mistake. So this should work like tags in posts, where any arbitrary content can be entered and it will find or create the keyword-term.

You can leave this alone in #115 and make it work in a following PR.

[2021-06-02 00:32] #117 closed, assigned to ryelle

[2021-06-03 15:56] ryelle opened #120 "Patterns Modals: Close dialog label creates scrollbar"
When hovering over the X on either the "How to use patterns…" or report modals, the tooltip that says close dialog creates a horizontal scrollbar.

https://user-images.githubusercontent.com/541093/120674775-7002c180-c462-11eb-97b4-4c1fe6912916.mov

This is Mac/Firefox. The flash in the video doesn't happen on wp.org/patterns, so that might just be a local issue.

[2021-06-04 17:46] shaunandrews commented on #116
For the empty search results maybe we can show some featured patterns:

![Empty Search](https://user-images.githubusercontent.com/191598/120842752-1e7a3580-c53b-11eb-9133-10bda514117f.png)

Here's a design for the 404 page:

![404](https://user-images.githubusercontent.com/191598/120842781-2934ca80-c53b-11eb-97d6-e43f1b6e10db.png)

[2021-06-04 19:04] ryelle opened #122 "Single Patterns: Live resizable preview"
Moving some conversation from #121 here so the framework there can be merged. This is all about the resizable preview.

First, which handle design should we use?

<img width="122" alt="Screen Shot 2021-06-04 at 2 59 32 PM" src="https://user-images.githubusercontent.com/541093/120850487-846bba80-c545-11eb-971c-4a4522a6e619.png"> <img width="122" alt="Screen Shot 2021-06-04 at 2 59 42 PM" src="https

[2021-06-04 19:35] shaunandrews commented on #122
The white+blue circles was trying to take cues from the image blocks resize handle, but it was pointed out to me that this is different and should look different. Here's the latest designs that we should use:

Within the editor:

<img width="844" alt="image" src="https://user-images.githubusercontent.com/191598/120852700-8d11c000-c548-11eb-9ce2-515692d86d9c.png">

In the public detail page:

<img

[2021-06-04 19:59] ryelle commented on #122
yeah, it defaults to the width of the screen (960 max). I deployed the current selector, so you can try it out on https://wordpress.org/patterns/pattern/three-columns-of-text/

[2021-06-07 17:31] kjellr opened #124 "Pattern Submission: Trio of patterned header patterns"
I'd like to propose this trio of header patterns to help build up the pattern directory. Each one hinges on a really nice vintage pattern as their background.

---

## Pattern Title

1. Header area with geometric pattern
2. Header area with hatch mark shapes
3. Header area with halftone pattern

## Pattern Categories

Header

## Screenshots

1.
<img width="1200" alt="Frame 1" src="https://user-ima

[2021-06-07 17:32] kjellr opened #125 "Pattern Submission: Two "Link in bio" patterns"
I'd like to propose these two “Link in bio”-style block patterns. This is a feature many folks don’t realize they can do with WordPress, and Gutenberg makes it relatively easy.

---

## Pattern Title

1. Button links with image background.
2. Button links with gradient background.

## Pattern Categories

Buttons

## Screenshots

1.
![Frame 46](https://user-images.githubusercontent.com/1202812/1210

[2021-06-07 17:39] kjellr opened #126 "Collection of Media & Text header patterns"
I'd like to propose these five split screen “Media & Text” block patterns. They show the range of what can be done with the media & text block.

---

## Pattern Title

1. Image with headline and description.
2. Image on solid color with description.
3. Section divider with image and text.
4. Title area with image and heading.
5. Introduction with image on the left.

## Pattern Categories

Header,

[2021-06-07 19:28] kjellr opened #127 "Pattern Submission: Set of image + label patterns"
I'd like to propose this set of four "Image + Label" patterns. They each introduce a layout that's more unique than the typical caption-below-an-image treatment we often see.

---

## Pattern Title

1. Image with description on the bottom right.
2. Image with description below and to the right.
3. Offset images with descriptions.
4. Alternating images with descriptions and solid colors.

## Patter

[2021-06-07 19:37] kjellr opened #128 "Pattern Submission: Event details pattern"
Three columns of text, paired with an image on top. The content here is a little random (since it's missing a title), but I think that's fine since it's just meant to be part of a larger page. When sourcing the image, I imagined this as part of a library's events page.

---

## Pattern Title

Event details

## Pattern Categories

Text

## Screenshots

<img width="1200" alt="Frame 50" src="https://

[2021-06-08 14:52] beafialho opened #129 "Pattern Submission: Event pattern"
I'd like to propose a column block set to full width, one column 30% with the text, the other 70% with an image. The vibrant yellow contrasts nicely with the other colors.

---

## Pattern Title
Event

## Pattern Categories
Columns

## Screenshots
![Frame 39](https://user-images.githubusercontent.com/65220155/121206721-9cf31200-c870-11eb-85b9-1ffcdd3023f7.png)
Desktop

![Frame 79 Mobile-1](https:/

[2021-06-08 15:02] beafialho opened #130 "Pattern Submission: Contact and social links pattern"
I'd like to propose this contact and social links pattern with two columns. It is minimal, modern and it can fit in pretty much any website.

---

## Pattern Title
Contact and social links pattern

## Pattern Categories
Contact

## Screenshots
![Frame 41](https://user-images.githubusercontent.com/65220155/121209110-7930cb80-c872-11eb-8e6f-be88bdeda025.png)
Desktop

![Frame 79 Mobile](https://user-

[2021-06-08 15:07] beafialho opened #131 "Pattern Submission: Call to Action with Background Image pattern"
I'd like to propose this call to action pattern, it has a minimal feel and the layout with text on a rectangle is simple and efficient for a variety of use cases.

---

## Pattern Title
Call to Action with Background Image

## Pattern Categories
Call to Action

## Screenshots
![Frame 45](https://user-images.githubusercontent.com/65220155/121209918-286da280-c873-11eb-90c3-5841bf875d12.png)
Desktop

[2021-06-08 15:15] kjellr commented on #130
This is cool! I think we'll need to change the email to the usual example address: `example@example.com`

[2021-06-08 15:19] beafialho opened #132 "Pattern Submission: Event Announcement and Details pattern"
I'd like to propose this Event pattern. It has a modern, edgy, poster feel which can be a good way to display information about exhibitions, concerts, conferences or events.

---

## Pattern Title
Event Announcement and Details

## Pattern Categories
Text

## Screenshots
![Frame 78](https://user-images.githubusercontent.com/65220155/121211711-9cf51100-c874-11eb-853a-6a87d63a088c.png)
Desktop

![Fr

[2021-06-08 15:23] beafialho commented on #130
Good point, uploaded the copy:

![Frame 41](https://user-images.githubusercontent.com/65220155/121212986-c19db880-c875-11eb-8c90-a318e27ce80e.png)

[2021-06-08 15:47] melchoyce opened #133 "Pattern Submission: Introduction with a big image"
I'd like to propose this pattern, featuring a combination of columns, text, and a big image. It could be used as a website header for sites like portfolios or publications, or a section header.

## Pattern Title
Big image with headline and columns above

## Pattern Categories
Columns, text, image

## Screenshots
![image](https://user-images.githubusercontent.com/2846578/121216470-ea5e8780-c84e-11e

[2021-06-08 15:58] melchoyce opened #134 "Pattern Submission: Media & Text with split text"
I'd like to propose this Media & Text pattern, which shows off how to make unique sections for portfolios, galleries, magazine issues, or other similar sites. Also made https://github.com/WordPress/gutenberg/issues/32521 and https://github.com/WordPress/gutenberg/issues/32522 to help improve the implementation. As-is, we can use a spacer block, but it would be ideal to improve the Media & Text blo

[2021-06-08 16:31] melchoyce opened #135 "Pattern Submission: Cover block with headline"
I'd like to propose this Cover pattern, which shows off the Cover alignment attributes.

## Pattern Title
Full width image of space with big headline

## Pattern Categories
Cover

## Screenshots
![image](https://user-images.githubusercontent.com/2846578/121222220-568fba00-c854-11eb-8b97-01501bf12f4a.png)

## Image Credits
Star clusters in Hurcules from the Trouvelot astronomical drawings (1881-188

[2021-06-08 16:47] melchoyce opened #136 "Pattern Submission: Two columns with image underneath"
I'd like to propose this pattern, which is an elegant approach to combining images and text content. I can see it being used in any modern, visually-driven site.

## Pattern Title
Two columns with impressionist image

## Pattern Categories
Columns, image

## Screenshots
![image](https://user-images.githubusercontent.com/2846578/121224268-63ada880-c856-11eb-8840-d0029e5d96a5.png)

## Image Credits

[2021-06-08 17:07] kjellr commented on #132
I like the all-caps text with italic mixed in. Might be worth changing the URL to `wp.org` instead, since the WordPress project owns that? We could also use `example.com`, but I think `wp.org` is nicer.

[2021-06-08 17:12] melchoyce opened #137 "Pattern Submission: Three images and text"
I'd like to propose this pattern featuring a unique gallery layout with text to the side. The vase illustrations provide a classic but timeless feel.

## Pattern Title
Three images and text

## Pattern Categories
Columns, Gallery

## Screenshots
![image](https://user-images.githubusercontent.com/2846578/121228664-049e6280-c85b-11eb-977f-fe919630bb9d.png)

## Image Credits
Design for a Vase (1880-1

[2021-06-08 17:26] justintadlock opened #138 "Pattern Submission: Colorful "About Me" Columns"
I don't know _why_ this pattern should be included other than I think it might be a cool candidate.

Built with Twenty Twenty-One and Gutenberg 10.7.4.

---

## Pattern Title

Colorful About Me Columns

## Pattern Categories

Columns, Text(?)

## Screenshots

![screenshot](https://user-images.githubusercontent.com/1816309/121229946-37912800-c854-11eb-9348-3c4b499afa09.png)

## Image Credits

**Pub

[2021-06-08 17:42] melchoyce opened #139 "Pattern Submission: Intro text with button and gallery"
I'd like to propose this complex pattern combining text, button, and gallery blocks. It would be great for any shop or landing page.

## Pattern Title
Centered introduction text with button and offset images

## Pattern Categories
Text, Gallery

## Screenshots
![image](https://user-images.githubusercontent.com/2846578/121229726-53003100-c85c-11eb-9f4f-637c6360a849.png)

## Image Credits
Japanese v

[2021-06-08 18:46] justintadlock opened #140 "Pattern Submission: Team Social Cards"
Team/Company member sections are pretty common.  This pattern uses the Columns block to create a four-column group of team cards with avatars and social links.

Notes: Either Twenty Twenty-One or Gutenberg is overriding the social icon color on the front end.  In the editor, they are white (as they should be), but on the front end, they are black.

I could also probably find a better default image

[2021-06-08 19:16] melchoyce opened #141 "Pattern Submission: Two half-width cover blocks in columns"
I'd like to propose this pattern. The two side-by-side cover blocks create an immersive feeling that's great for stores.

## Pattern Title
Two columns with full-width backgrounds

## Pattern Categories
Columns, Image

## Screenshots
![image](https://user-images.githubusercontent.com/2846578/121243280-8bf3d200-c86b-11eb-89ab-2c24cef1caf1.png)

## Image Credits
Vintage woodblock print of Japanese te

[2021-06-08 19:21] kjellr commented on #124
If someone has a better idea of how to create these, let me know... here's my first attempt:

https://gist.github.com/kjellr/0af4d8129957c78c07f52b53f71dbe7c

Looks decent on desktop:

<img width="492" alt="Screen Shot 2021-06-08 at 3 20 26 PM" src="https://user-images.githubusercontent.com/1202812/121244653-1e48a580-c86d-11eb-8c8b-0139ae89a104.png">

... but falls apart completely on mobile:

<im

[2021-06-08 20:06] melchoyce commented on #126
Love how different these all feel! Shows how versatile the Media & Text block can be.

[2021-06-08 20:07] melchoyce commented on #127
These are fun.

With that last pattern, using the avocados, maybe you could cut the avocados out and put them onto either a white or tinted background? The grey clashes a bit with that yellow.

[2021-06-08 20:08] melchoyce commented on #129
Great colors here!

[2021-06-08 20:09] melchoyce commented on #131
This is great. I wonder if you could bring in an accent color, maybe on the link, to play off how colorful the background image is?

[2021-06-08 20:10] melchoyce commented on #132
This one is stunning 👏

[2021-06-09 07:45] audrasjb opened #142 "Pattern submission: Full width author card with social links"
This pattern uses a group block to display a full width background, with an author card inside. The author card uses a 3 columns block to manage horizontal spacing. Inside the author card, a rounded image is displayed, alongside a few paragraph and a social links block.
This pattern can be used to display informations about a person. The bordeaux gradient can easily be replaced with any other colo

[2021-06-09 10:20] #59 closed, assigned to StevenDufresne

[2021-06-09 11:35] kjellr commented on #141
Looks good, thanks @melchoyce. This one is good to go. I made some minor adjustments:

- Specified the text and button color to ensure readability.
- Decreased the font size from 72px to 64px so it's less likely to break oddly on smaller screens.

New markup is here:
https://gist.github.com/kjellr/6c2d4d721d23547c590bf5b594eb7f06

I wish we could get rid of the gap in between these, but we can't u

[2021-06-09 11:59] kjellr commented on #141
This has been added to the directory. 🎉

https://wordpress.org/patterns/pattern/two-columns-with-full-width-backgrounds/

[2021-06-09 11:59] #141 closed, assigned to nobody

[2021-06-09 12:09] kjellr commented on #139
This looks great, thanks @melchoyce. I've added this one to the Directory:

https://wordpress.org/patterns/pattern/centered-introduction-text-with-button-and-offset-images/

cc @ryelle: Any idea why the first part of this pattern is being cut off in the front-end preview? It appears correctly in the editor, but is missing the first two blocks in the front-end:

Editor|Front-end
---|---
<img width=

[2021-06-09 12:17] kjellr commented on #133
Thanks, @melchoyce! This one looks good for inclusion in the directory. I've added it here:

https://wordpress.org/patterns/pattern/big-image-with-headline-and-columns-above/

There's something weird going on with it there though: the wide alignment for the column block doesn't appear to be picked up in either the preview or the editor, and the image is off to the left erroneously in the preview:

[2021-06-09 12:24] kjellr commented on #137
Thanks, @melchoyce. This one looks great, so I've added it to the directory:

https://wordpress.org/patterns/pattern/three-images-and-text/

[2021-06-09 12:24] #137 closed, assigned to nobody

[2021-06-09 12:36] kjellr opened #143 "Tidy up display of patterns in the front end."
I'm not sure what the long-term goal is for the "theme" used in the pattern previews, but for now I'd recommend we make a couple small changes to improve the appearance of all patterns:

- Use a system sans-serif font stack throughout. (`-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;`)
- Change the background to white so it's mo

[2021-06-09 13:18] beafialho commented on #139
Love the layout, and the japanese vibes :sparkles:

[2021-06-09 13:18] kjellr commented on #136
Looks great, thanks @melchoyce. I've published this one in the directory:

https://wordpress.org/patterns/pattern/two-columns-with-image-underneath/

[2021-06-09 13:19] #136 closed, assigned to nobody

[2021-06-09 13:24] beafialho commented on #132
Makes sense!

<img width="889" alt="Captura de ecrã 2021-06-09, às 14 24 02" src="https://user-images.githubusercontent.com/65220155/121362896-5fed5500-c92e-11eb-8a96-fdeb34a9af64.png">

[2021-06-09 13:25] kjellr commented on #135
Thanks, @melchoyce! I've added this one to the directory. I made some minor adjustments to text size and padding in order to get it to work nicely on mobile too.

https://wordpress.org/patterns/pattern/full-width-image-of-space-with-big-headline/

[2021-06-09 13:25] #135 closed, assigned to nobody

[2021-06-09 13:26] kjellr commented on #132
Looks great!

[2021-06-09 13:35] beafialho commented on #140
Love the giraffe! :grin: Not sure it fits this context in particular. A couple suggestions:
- Have you considered naming each card with a real name? So, instead of "Person Name" use "John Doe" and instead of "Team Role", perhaps "Team Manager", to make the pattern look more real.
- I also suggest replacing the giraffe with real people's photos, for the same reason mentioned above.

[2021-06-09 13:39] kjellr commented on #128
Here's the block markup for this one:

https://gist.github.com/kjellr/216b6b392815fc60ad2abfdf135364c5

[2021-06-09 13:47] beafialho commented on #131
That's a great point. Tried a few colors applied in several ways:
![Frame 45](https://user-images.githubusercontent.com/65220155/121366576-8234a200-c931-11eb-990d-ee3b945a1a1b.png)
![Frame 98](https://user-images.githubusercontent.com/65220155/121366591-8496fc00-c931-11eb-9252-f9393b4d7ee6.png)
![Frame 99](https://user-images.githubusercontent.com/65220155/121366600-85c82900-c931-11eb-9680-d74eba2

[2021-06-09 14:03] beafialho commented on #127
Cool! Definitely more unique than the typical captions. Love the avocado pattern in these colors and also how it's so squared, it feels quite editorial.

[2021-06-09 14:14] kjellr commented on #140
Here's a suggested edit, taking @beafialho's suggestions into account:

- I tried pulling some portraits from art, so that we don't have to worry about actual photos of people. I only found a decent set of three, so I trimmed this down into just three columns.
- I changed the name to be more real.
- I took a couple other liberties with the design: I changed the colors a bit to match the new images

[2021-06-09 14:26] kjellr commented on #131
I like that first one:

![](https://user-images.githubusercontent.com/65220155/121366576-8234a200-c931-11eb-990d-ee3b945a1a1b.png)

[2021-06-09 14:28] justintadlock commented on #140
I like the changes. Great work! Moving the text out into a paragraph also fixes the spacing issue I was having with using it in a caption.

[2021-06-09 14:35] melchoyce commented on #131
Same!

[2021-06-09 14:49] melchoyce commented on #140
This looks great, y'all nailed it. I think it's good to move over to the directory now 👍

[2021-06-09 15:00] beafialho commented on #131
Cool! Here's the markup: https://gist.github.com/beafialho/69e9ed30e6f442b39039d1a6a7b2af45

[2021-06-09 15:20] anarieldesign opened #144 "Pattern Submission: The Famous Quotes"
This pattern can be used to display quotes or testimonials.
Built with Twenty Twenty-One

## Pattern Title

The Famous Quotes

## Pattern Categories

Columns, Testimonials

## Screenshots

![Screenshot 2021-06-09 at 17 13 59](https://user-images.githubusercontent.com/20610429/121381665-35a79180-c946-11eb-8b03-17b6c54caf5f.png)

## Image Credits

https://www.rawpixel.com/image/523362/lotus-flowers-

[2021-06-09 15:23] kjellr commented on #140
This one is live! Thanks for contributing!  https://wordpress.org/patterns/pattern/team-social-cards/

It looks like there's a bug that's not displaying the social links, so I'll keep the issue open to track that.

<img width="943" alt="Screen Shot 2021-06-09 at 11 23 24 AM" src="https://user-images.githubusercontent.com/1202812/121382990-1d6b4e80-c915-11eb-8fde-e3b26bbaf01a.png">

[2021-06-09 15:37] justintadlock commented on #140
Also, I figured out the icon color issue in the OP.

When setting the Link Color for the Column block, WP/GB adds a `<style>` tag that targets `.wp-elements-xxxx a { color: var( --wp--preset--color--black ) !important; }`, which overrides social icon text colors.

It's noticable on the front-end but not the editor.

That might need to be addressed upstream.

[2021-06-09 15:42] richtabor opened #145 "Pattern Submission: Three Column, Staggered Steps"
## Pattern Title
Three Column, Staggered Steps

## Pattern Categories
Text

## Screenshots
<img width="1414" alt="Screen Shot 2021-06-09 at 12 20 32 PM" src="https://user-images.githubusercontent.com/1813435/121392169-23652d80-c91d-11eb-85f7-c57fa6716855.png">

## Block Markup
https://gist.github.com/richtabor/d1526831133e82c93f816fe9d0723df4

[2021-06-09 15:45] kjellr commented on #145
Thanks, @richtabor! For these pre-submitted patterns, we're hoping to replace lorem-ipsum text with something more real. Do you have any suggestions for what that could change out to?

[2021-06-09 15:49] anarieldesign opened #146 "Pattern Submission: Environmental Block Pattern"
This block pattern is made from two and three columns that are using offset feature and gradients for images and buttons

---

## Pattern Title

Two and Three Columns with offset columns

## Pattern Categories

Columns, Gallery

## Screenshots

![animals](https://user-images.githubusercontent.com/20610429/121386521-5d98f400-c94a-11eb-87a1-3934749f438a.jpg)

## Image Credits

https://www.rawpixel.c

[2021-06-09 15:58] richtabor opened #147 "Pattern Submission: Image Hero with Button"
A unique way to showcase an image, with a heading/descriptive text and a follow-up call to action focused text below.

## Pattern Title
Image Hero with Button (suppose someone could come up with a better one 🤷 )

## Pattern Categories
Gallery

## Screenshots
<img width="1445" alt="Screen Shot 2021-06-09 at 11 55 11 AM" src="https://user-images.githubusercontent.com/1813435/121388535-8e146a00-c919-

[2021-06-09 15:58] richtabor commented on #145
Yea I saw that, just submitted another - I'll tweak this a bit.

[2021-06-09 16:02] kjellr commented on #146
Hey @anarieldesign! Thank you for submitting. Since these patterns will be used with any theme, they unfortunately can't rely on Twenty Twenty-One-specific block styles like the outline or offset posts style.

Without those theme styles, these patterns aren't quite as distinctive. I'm going to close this for now, but feel free to re-submit a version that doesn't use those styles!

[2021-06-09 16:02] #146 closed, assigned to nobody

[2021-06-09 16:17] anarieldesign opened #148 "Pattern Submission: Cover block with the Caption"
A cover block pattern with the group block

---

## Pattern Title

Cover Block with caption

## Pattern Categories

Cover

## Screenshots

![Screenshot 2021-06-09 at 18 14 47](https://user-images.githubusercontent.com/20610429/121391399-9cc94400-c94e-11eb-89bd-bdefe8e56a34.png)

## Image Credits

https://www.rawpixel.com/image/414445/free-illustration-image-birds-mark-catesby-spring

## Block Mark

[2021-06-09 16:18] beafialho commented on #128
I think this one is ready to go :tada:

[2021-06-09 16:21] richtabor commented on #145
I updated the text. ✅

[2021-06-09 16:35] kjellr commented on #145
Thank you! This pattern is live.

https://wordpress.org/patterns/pattern/three-column-staggered-steps/

[2021-06-09 16:35] #145 closed, assigned to nobody

[2021-06-09 16:35] melchoyce commented on #144
I love these illustrations 😍

What would you think about drawing from the illustration colors? Thinking something like this:

![image](https://user-images.githubusercontent.com/2846578/121394249-24975a00-c91f-11eb-9abb-6bea8c95e2bb.png)

Also swapped out the lorem ipsum for some fake-real text.

[2021-06-09 16:37] anarieldesign commented on #144
@melchoyce yes that's perfect, I was playing with it and came to the same conclusion and wanted to resubmit it :)

[2021-06-09 16:40] anarieldesign opened #149 "Pattern Submission: Playful Gallery"
I was playing a bit with columns and spaces to get some interesting gallery layouts
---

## Pattern Title

Playful Gallery

## Pattern Categories

Gallery, Columns

## Screenshots

![Screenshot 2021-06-09 at 18 35 11](https://user-images.githubusercontent.com/20610429/121394265-73f67e00-c951-11eb-8896-4ecc7aeff4f1.png)

## Image Credits

https://www.rawpixel.com/image/414440/free-illustration-imag

[2021-06-09 16:47] melchoyce commented on #144
Here's the markup, if you want to make any adjustments:

[code]

[2021-06-09 16:54] anarieldesign commented on #144
I love it this way :), don't need to make any adjustments. I'll definitely submit more patterns in the next few days, playing with it at the moment. Have them many in our premium themes but trying to make ones that are not dependent on the theme styles and additional features

[2021-06-09 17:03] beafialho commented on #124
I managed to get these looking good on mobile:

<img width="354" alt="Captura de ecrã 2021-06-09, às 17 59 28" src="https://user-images.githubusercontent.com/65220155/121397713-7f937600-c94c-11eb-87e7-b2f6cc4cd244.png">

Here's the markup for the trio: https://gist.github.com/beafialho/65353e0f7167e5a79190aec79bfb5295

[2021-06-09 17:09] kjellr commented on #125
Here's a first shot at implementing these:

https://gist.github.com/kjellr/7079f81baf7e03dd88644e878e68449a

[2021-06-09 17:09] melchoyce commented on #144
Yeah making them theme-agnostic has been super tough. Stoked to see more of your patterns!

[2021-06-09 17:24] kjellr commented on #128
This is live! Thanks.

https://wordpress.org/patterns/pattern/event-details/

[2021-06-09 17:24] #128 closed, assigned to kjellr

[2021-06-09 17:35] anarieldesign opened #150 "Pattern Submission - Recipe Block"
Recipe block pattern, I needed this for my themes so I decided to play a bit with it, maybe it can be useful

## Pattern Title

Recipes Block Pattern

## Pattern Categories

## Screenshots

![recipe-block](https://user-images.githubusercontent.com/20610429/121402026-b2903680-c959-11eb-9a3e-f7343020b10c.jpg)

## Image Credits

https://www.rawpixel.com/image/3284797/free-photo-image-plate-table-food

[2021-06-09 17:36] anarieldesign commented on #144
I just submitted a few more :). Hope they will be useful :)

[2021-06-09 18:07] kellychoffman commented on #144
❤️

[2021-06-09 18:09] kjellr commented on #144
Thanks everyone! I'll get this added to the directory.

[2021-06-09 18:40] kjellr commented on #124
These are all added to the directory! Thanks everyone.

https://wordpress.org/patterns/pattern/header-area-with-geometric-pattern/
https://wordpress.org/patterns/pattern/header-with-hatched-pattern/
https://wordpress.org/patterns/pattern/header-with-halftone-pattern/

[2021-06-09 18:40] #124 closed, assigned to kjellr

[2021-06-09 18:43] kjellr commented on #144
Added. Thanks again!

https://wordpress.org/patterns/pattern/three-quotes-with-images/

[2021-06-09 18:43] #144 closed, assigned to nobody

[2021-06-09 19:13] kjellr commented on #127
I've added the following patterns:

https://wordpress.org/patterns/pattern/image-with-description-on-the-bottom-right/
https://wordpress.org/patterns/pattern/image-with-description-below-and-to-the-right/
https://wordpress.org/patterns/pattern/offset-images-with-descriptions/

For the avocado one, I realized I can't actually eliminate the vertical gap between the two media & text blocks, so I thin

[2021-06-09 19:13] #127 closed, assigned to kjellr

[2021-06-09 19:18] melchoyce commented on #125
Tested this. Looks good on both desktop and mobile! I think it's good to go.

[2021-06-09 19:33] kjellr commented on #147
Thanks! This one is live here: https://wordpress.org/patterns/pattern/image-with-two-text-areas-and-button/

[2021-06-09 19:33] #147 closed, assigned to nobody

[2021-06-09 22:48] melchoyce commented on #125
Added both of these!

https://wordpress.org/patterns/pattern/button-links-with-image-background/
https://wordpress.org/patterns/pattern/button-links-with-gradient-background/

[2021-06-09 22:53] #125 closed, assigned to kjellr

[2021-06-09 23:00] melchoyce commented on #138
Love the pastels!

What would you think about writing some fake content to replace the lorem ipsum, and maybe trying out some related icons instead of those images? I can also hop in if you don't have the time, just let me know.

[2021-06-10 01:01] melchoyce commented on #134
Potential markup:

[code]

[2021-06-10 10:36] jameskoster opened #154 "Pattern Submission: Offset gallery with fixed background & quote"
## Pattern Title
Offset gallery with fixed background & quote

## Pattern Categories
Gallery, Quote

## Screenshots

https://user-images.githubusercontent.com/846565/121510781-e9109480-c9df-11eb-9604-0bcda5bfda06.mp4

## Image Credits
* https://www.rawpixel.com/image/3064488/free-illustration-image-japanese-japan-japan-art
* https://www.rawpixel.com/image/3064491/free-illustration-image-japanese-j

[2021-06-10 12:19] tajim opened #155 "Hero Area - Call To Action Pattern"
A Hero Area pattern which is commonly used on landing page headers to display a Call To Action with buttons

---

## Pattern Title
Hero Area with Call To Action

## Pattern Categories
Header, Buttons, Cover

## Screenshots
![Screenshot](https://i.imgur.com/ezPrBdW.png "Screenshot")

## Image Credits
None

## Block Markup
https://gist.github.com/tajim/9ddcebada496315c1f537478f4dc85e1

[2021-06-10 14:38] melchoyce commented on #148
This is lovely 😍

I played around with this a little bit to help bring out some of the elegance:

![image](https://user-images.githubusercontent.com/2846578/121538419-c3c95980-c9d2-11eb-8220-543f83e22a21.png)

- I made the cover block full-height , since the image feels interesting enough to support it
- I gave the left column a background color to ground it a bit more, and vertically centered the

[2021-06-10 14:52] kjellr opened #156 "Pattern display bugs"
As we continue populating the directory, we're running into some visual bugs with the pattern previews. I'm consolidating a list here of bugs.

---

- [x] **Display is cut off**

1. https://wordpress.org/patterns/pattern/centered-introduction-text-with-button-and-offset-images/
2. https://wordpress.org/patterns/pattern/title-area-with-image-and-heading/
3. https://wordpress.org/patterns/pattern/in

[2021-06-10 14:52] kjellr commented on #139
Since some of the display issues appear to span across multiple patterns, I've opened a single issue to track them. I'll close this issue as resolved.

https://github.com/WordPress/pattern-directory/issues/156

[2021-06-10 14:52] #139 closed, assigned to nobody

[2021-06-10 14:53] kjellr commented on #133
Since some of the display issues appear to span across multiple patterns, I've opened a single issue to track them. I'll close this issue as resolved.

https://github.com/WordPress/pattern-directory/issues/156

[2021-06-10 14:53] #133 closed, assigned to nobody

[2021-06-10 14:53] kjellr commented on #140
Since some of the display issues appear to span across multiple patterns, I've opened a single issue to track them. I'll close this issue as resolved.

https://github.com/WordPress/pattern-directory/issues/156

[2021-06-10 14:53] #140 closed, assigned to nobody

[2021-06-10 15:28] kjellr commented on #134
Thanks, @melchoyce! This has been added to the directory here:

https://wordpress.org/patterns/pattern/half-width-image-of-artistic-squares-with-text/

[2021-06-10 15:28] #134 closed, assigned to nobody

[2021-06-10 15:48] melchoyce commented on #129
Worked on the markup for this one:

[code]

A little frustrated that I can't add padding into the text portion of the media & text block here. 😕

[2021-06-10 15:49] melchoyce commented on #154
This is cool! I wonder if we could simplify it by removing the second batch of images? Might also be nice to try upping the size on that quote, I think it could shine with a little more refinement.

[2021-06-10 15:53] anarieldesign commented on #148
Love it this way :). I don't need to tweak anything, it looks great this way :).
I'm working on a new full site editing theme with this layout and images to submit it to the theme repository :)

[2021-06-10 15:55] melchoyce commented on #142
Nice jazz reference here!

What would you think about making the whole block black and white, to match the image? Thinking a grey–black gradient instead of red, and dark grey social icons.

[2021-06-10 15:57] melchoyce commented on #130
Worked on the markup for this:

[code]

[2021-06-10 15:59] kjellr commented on #126
Here's markup for each of these patterns:

1. https://gist.github.com/kjellr/269f14defd4d1a7188f2dd7b4c556a98
2. https://gist.github.com/kjellr/a22699b201526d852df7bc608fefb629
3. https://gist.github.com/kjellr/4997e2ed90f9860b49ecb33c147e93ac
4. https://gist.github.com/kjellr/7221fda6910556f6ec091fef56749bdb
5. https://gist.github.com/kjellr/eb2c1430a239588525288f60b6aeb527

[2021-06-10 16:20] melchoyce commented on #126
These look good to me 👍

[2021-06-10 16:38] melchoyce commented on #131
I added this one to the directory, but it might need some more work to make it display better on smaller screens: https://wordpress.org/patterns/pattern/call-to-action-with-background-image/

[2021-06-10 16:48] kjellr commented on #129
You can try wrapping all the text there into a Group block?

Also, maybe consider adding a little arrow `→` to the RSVP link so it's more clear that it's a link?

Before|After
---|---
<img width="107" alt="Screen Shot 2021-06-10 at 12 46 24 PM" src="https://user-images.githubusercontent.com/1202812/121565078-1f531180-c9ea-11eb-9989-13663fb79355.png">|<img width="115" alt="Screen Shot 2021-06-10 at

[2021-06-10 16:48] melchoyce commented on #132
Worked on the markup for this:

[code]

[2021-06-10 16:50] kjellr commented on #130
Maybe just use a single paragraph block for the social media links? The columns block results in some unfortunate wrapping:

<img width="412" alt="Screen Shot 2021-06-10 at 12 49 27 PM" src="https://user-images.githubusercontent.com/1202812/121565416-6ccf7e80-c9ea-11eb-90d3-3c3e56e54a62.png">

[2021-06-10 16:58] kjellr commented on #132
This looks great! One small edit before we add to the directory:

I suggest we change "TICKETS AVAILABLE" to just "TICKETS" to avoid this weird wrap on mobile:

<img width="359" alt="Screen Shot 2021-06-10 at 12 57 51 PM" src="https://user-images.githubusercontent.com/1202812/121566488-90df8f80-c9eb-11eb-99e5-81349648f2a6.png">

Thank you both!

[2021-06-10 17:10] melchoyce commented on #130
Maybe something like this so there's space between them?

![image](https://user-images.githubusercontent.com/2846578/121567970-2891ad80-c9ed-11eb-9165-c3a5045627bc.png)

[2021-06-10 17:19] kjellr commented on #131
@melchoyce give this one a try:

[code]

[2021-06-10 17:22] melchoyce opened #157 "Add support for all optional theme settings"
The theme currently doesn't support things like wide/full-width alignment or line-height. Can we add support for all of the optional theme settings?

[2021-06-10 17:24] melchoyce commented on #131
Looks good to me 👍

[2021-06-10 17:24] #131 closed, assigned to nobody

[2021-06-10 17:29] melchoyce commented on #129
Updated markup:

[code]

[2021-06-10 17:33] melchoyce commented on #148
Awesome, thanks so much @anarieldesign! This one is now live: https://wordpress.org/patterns/pattern/illustration-of-bird-with-callout/

[2021-06-10 17:33] #148 closed, assigned to nobody

[2021-06-10 17:34] melchoyce commented on #132
Awesome, this one is now live: https://wordpress.org/patterns/pattern/event-announcement-and-details/

[2021-06-10 17:34] #132 closed, assigned to nobody

[2021-06-10 17:35] kjellr commented on #126
These have all been added:

https://wordpress.org/patterns/pattern/image-with-headline-and-description/
https://wordpress.org/patterns/pattern/section-divider-with-image-and-text/
https://wordpress.org/patterns/pattern/introduction-with-image-on-the-left/
https://wordpress.org/patterns/pattern/title-area-with-image-and-heading/
https://wordpress.org/patterns/pattern/image-on-solid-color-with-descr

[2021-06-10 17:35] #126 closed, assigned to kjellr

[2021-06-10 17:41] kjellr commented on #129
This one wraps a little oddly on mobile and middle breakpoints. 😕

<img width="578" alt="Screen Shot 2021-06-10 at 1 39 23 PM" src="https://user-images.githubusercontent.com/1202812/121571891-9344e800-c9f1-11eb-94f0-877509c2febb.png">

What do you think of this edit?

[code]

[2021-06-10 17:46] kjellr commented on #130
Let's just use the actual social links block. I think that's more expected for the user anyway.

<img width="396" alt="Screen Shot 2021-06-10 at 1 52 34 PM" src="https://user-images.githubusercontent.com/1202812/121573309-1dda1700-c9f3-11eb-9f89-5d4bd32495b8.png">

[code]

[2021-06-10 17:48] kjellr commented on #157
Also, [custom spacing](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-support/#spacing-control) and [custom link color](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-support/#experimental-link-color-control).

[2021-06-10 17:59] kjellr commented on #130
Published here! I made one last minor update to the headline copy:

https://wordpress.org/patterns/pattern/contact-and-social-links/

Thanks!

[2021-06-10 17:59] #130 closed, assigned to nobody

[2021-06-10 18:19] kjellr commented on #154
Here's an attempt at simplifying this one. Let me know what you think!

![Screen-Shot-2021-06-10-at-14 17 02](https://user-images.githubusercontent.com/1202812/121576815-cc338b80-c9f6-11eb-8aeb-75fc7114e203.jpg)

Markup is over here: https://gist.github.com/kjellr/6faf73f4b9ad84519d6d304db411bf5f

[2021-06-10 18:42] #157 closed, assigned to nobody

[2021-06-10 19:03] kjellr commented on #142
Here's an attempt at trying out that suggestion:

<img width="1440" alt="Screen Shot 2021-06-10 at 2 59 16 PM" src="https://user-images.githubusercontent.com/1202812/121581988-7cf05980-c9fc-11eb-8949-0cbaef13a5b2.png">

It generally works well, but the method of using columns to add left/right padding results in this on middle breakpoints:

<img width="751" alt="Screen Shot 2021-06-10 at 3 00 33 P

[2021-06-10 19:14] justintadlock commented on #138
I can definitely rewrite the text.  I'll probably need some help finding icons.

In my original mockup, I had used "My Instagram" instead of "My Social".  Do you think a return to something more specific like that might help?  I had changed it to the generic "Social" for submission.

[2021-06-10 19:41] kellychoffman commented on #154
Love it! Ship it!

[2021-06-10 19:42] melchoyce commented on #154
Looks great, but I don't think having the quote in the left columns works as well on mobile:

![image](https://user-images.githubusercontent.com/2846578/121587184-811f7580-ca02-11eb-8443-f6954e96945a.png)

[2021-06-10 19:43] kjellr opened #159 "Pattern Submission: Triptych with two images and a text area"
I originally designed this one to have the images edge-to-edge, but that's not possible until we can control the gutter width for the columns block.

![Frame 13](https://user-images.githubusercontent.com/1202812/121584739-ca21fa80-c9ff-11eb-999f-92930036d436.png)

I still think it might be worth including in the meantime though:

<img width="1440" alt="Screen Shot 2021-06-10 at 3 43 04 PM" src="ht

[2021-06-10 19:44] melchoyce commented on #129
LGTM 👍

[2021-06-10 19:46] kjellr commented on #154
That quote issue is just because of the way TT1 displays quotes. 😕

It looks fine with themes that use a more traditional quote display:

<img width="358" alt="Screen Shot 2021-06-10 at 3 45 36 PM" src="https://user-images.githubusercontent.com/1202812/121587529-ea06ed80-ca02-11eb-85d1-0cdeecee953f.png">

[2021-06-10 19:54] ryelle opened #160 "Update the theme header"
The latest design has removed the callout (which was removed in https://github.com/WordPress/pattern-directory/commit/e69788eb194e390ecb98b78e00861028a83cf892), and added some pattern images, a search bar, and a link to create patterns.

![Header](https://user-images.githubusercontent.com/541093/121588193-a2349600-ca03-11eb-81bd-64d6d649c78c.png)

Given the feedback about the callout, let's hold o

[2021-06-10 20:00] ryelle opened #161 "Add ordering support when browsing patterns"
The pattern grid archives should have an order dropdown in the top right menu area.

I think this should trigger a query string, like `?orderby=date` etc. Featured might just be a category, not an actual ordering parameter, but that's just a suggestion.

<img width="680" alt="Screen Shot 2021-06-10 at 3 57 22 PM" src="https://user-images.githubusercontent.com/541093/121588982-8bdb0a00-ca04-11eb-8a

[2021-06-10 20:19] melchoyce commented on #159
Aww yeah the edge-to-edge version is super trippy and fun. It's not as impactful with the spacing, but I think it's still worth including. Looks good on small screens, too.

[2021-06-10 20:33] melchoyce commented on #129
Added this one, but I can't seem to get the link color to stick: https://wordpress.org/patterns/pattern/event/

Tried putting it on the paragraph and the group, in addition to the link color being defined on the media and text block.

[2021-06-10 20:47] melchoyce opened #162 "Link colors aren't displaying"
**Describe the bug**
Link colors aren't being parsed on the front-end of the patterns: https://wordpress.org/patterns/pattern/event/

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new pattern.
2. Add a cover block with a dark background, and inside, add a link.
3. Change the link color.
4. Preview the pattern and see that the link color you chose isn't being displayed.

**Expected

[2021-06-10 20:47] melchoyce commented on #129
Reported in https://github.com/WordPress/pattern-directory/issues/162

[2021-06-10 20:47] #129 closed, assigned to nobody

[2021-06-10 20:50] jameskoster commented on #154
Yay! Looks good 😁

[2021-06-10 20:52] melchoyce commented on #154
Ah, I meant more how the quote is sandwiched between the two images with some uneven spacing, I should have been clearer.

[2021-06-10 21:01] bph opened #163 "Pattern Directory Discoverability"
After I saw [Ana's tweet](https://twitter.com/Ana_Segota/status/1402714564366684163), I wanted to check out her patterns, and couldn't find just her patterns. It would be not only attractive for pattern authors, if attribution would be visible and link able.

Use cases:
- Sharable link `patterns/anarieldesign`
- display on author's wp.org profile next to themes and plugins.
- Filter by on pattern

[2021-06-10 21:07] ryelle commented on #162
I'm pretty sure the same issue is what's causing the social links thing mentioned in #156

[2021-06-10 21:56] melchoyce commented on #163
Hey @bph! This is incoming. See: https://github.com/WordPress/pattern-directory/pull/152

[2021-06-10 21:56] #163 closed, assigned to nobody

[2021-06-11 00:44] StevenDufresne opened #165 "Pages with Menu overflow horizontally."
**Describe the bug**
If you load `/` on trunk, the menu will cause a horizontal scrollbar on desktop because of this style:

https://github.com/WordPress/pattern-directory/blob/e69788eb194e390ecb98b78e00861028a83cf892/public_html/wp-content/themes/pattern-directory/css/components/_pattern-grid-menu.scss#L9

### Screenshots
![](https://d.pr/i/OuBxkp.png)

[2021-06-11 01:45] StevenDufresne opened #166 "Creator: Plugins registered in `pattern-post-type.js` are missing."
**Describe the bug**
This was introduced in https://github.com/WordPress/pattern-directory/commit/504398fcc96825ef6a26b2c1867ec9c517339453.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/new-pattern`
2. Click on the `Pattern` tab in the side navigation.
3. Expect to see the `Title` and `Description` controls (they are missing!)

**Screenshots**
![](https://d.pr/i/Mohyep.png)

**Desk

[2021-06-11 01:51] StevenDufresne opened #167 "Creator: UI allows suggest `320px` but API min is `400px`"
**Describe the bug**
Our viewport control suggests using a narrow layout at `320px` but the API restricts the value to have a minimum `400px`.

What should happen? Do we reduce the API min down from 400 to 320 (is that an arbitrary number?) or do we update the UI?

https://github.com/WordPress/pattern-directory/blob/e69788eb194e390ecb98b78e00861028a83cf892/public_html/wp-content/plugins/pattern-cr

[2021-06-11 02:30] StevenDufresne commented on #166
This was cache related. Disregard.

[2021-06-11 02:30] #166 closed, assigned to nobody

[2021-06-11 02:35] bgardner opened #168 "Pattern Submission: Simple Restaurant Menu"
There are thousands of independently-owned restaurants that might look to build their website with WordPress. The Simple Restaurant Menu pattern gives them a one-click path towards making this happen.

---

## Pattern Title
Simple Restaurant Menu

## Pattern Categories
Groups, Columns, Header, Text, Image, Spacer

## Screenshots
![menu-pattern](https://user-images.githubusercontent.com/486261/1216

[2021-06-11 04:53] StevenDufresne commented on #167
Also, the error message could use some improvement:

![](https://d.pr/i/jL4fDa.png)

[2021-06-11 06:22] audrasjb commented on #142
Hey, thanks both for your feedback!

Here is an update. It's still buggy for intermediate viewports from 600 to 781px, but I think that's the best we can do until paddings are supported in the block editor. However, the content is still accessible so I'd take it as it :)

<img width="1359" alt="full-width-author-card-with-social" src="https://user-images.githubusercontent.com/1590998/121640214-eff

[2021-06-11 11:52] karmatosed opened #170 "Pattern Submission: Simple follow social adventures"
This pattern is a very simple social media follow with a picture, header and social icons. This is all wrapped in a block that can have background set and a spacer block so it's easy to custom visually to the theme someone is using.

---

## Pattern Title
Simple social media and follow pattern with an image.

## Pattern Categories
Columns, Social Icons, Image, Heading

## Screenshots
Screenshots t

[2021-06-11 12:05] beafialho commented on #150
Thanks @anarieldesign, this is a super useful pattern! I tried to make a few adjustments to make the same idea but the images I found weren't very interesting and I got to a slightly different result:

![screencapture-blockpatterndesigns-mystagingwebsite-2021-06-11-867-2021-06-11-12_34_26](https://user-images.githubusercontent.com/65220155/121683499-62c68200-cab5-11eb-8f93-d9e55560178c.png)

What

[2021-06-11 12:17] anarieldesign commented on #150
Perfect, love it ❤

[2021-06-11 14:08] karmatosed opened #171 "Pattern submission: social gallery"
Often people collect images that they create or find through social media. It might even be a #hashtag. This pattern has a heading you can use for that tag, or just words, a way to display those curated images and a social icon section to further follow.

It includes spacers to allow that 'just fitting' customization, full with and some simple styling.

---

## Pattern Title
A gallery that include

[2021-06-11 14:12] beafialho commented on #168
Thanks @bgardner, this is definitely a useful pattern and it looks very elegant! I have a few suggestions:

- Replacing the photo by a CC0 License image (unfortunately Unsplash isn't CC0)
- Replacing Lorem ipsum with some fake content
- Borders are only possible right now with Twenty Twenty, so we should leave it without a border

![screencapture-blockpatterndesigns-mystagingwebsite-2021-06-11-res

[2021-06-11 14:31] melchoyce commented on #159
This one's live! https://wordpress.org/patterns/pattern/triptych-with-two-images-and-a-text-area/

[2021-06-11 14:31] #159 closed, assigned to nobody

[2021-06-11 14:49] melchoyce commented on #142
Thanks! Added this to the directory: https://wordpress.org/patterns/pattern/full-width-author-card-with-social-links/

[2021-06-11 14:49] #142 closed, assigned to nobody

[2021-06-11 15:08] beafialho commented on #171
Thanks @karmatosed! I think this one is ready to be added to the directory :ship:

[2021-06-11 15:35] melchoyce commented on #150
Thanks, posted this one! https://wordpress.org/patterns/pattern/recipe/

[2021-06-11 15:35] #150 closed, assigned to nobody

[2021-06-11 15:36] melchoyce commented on #138
I think keeping "social" makes sense, though it might be good to drop the "my"s, which start feeling repetitive?

[2021-06-11 15:45] bgardner commented on #168
Thanks @beafialho for making the updates. This looks good to me, just let me know if there is anything else you need from me.

[2021-06-11 16:02] melchoyce commented on #138
Some potential icon ideas:

https://ionic.io/ionicons
![image](https://user-images.githubusercontent.com/2846578/121714621-057a0300-caac-11eb-8458-e75627999524.png)

https://jam-icons.com/
![image](https://user-images.githubusercontent.com/2846578/121715001-6a355d80-caac-11eb-93b5-28a9997950c6.png)

Or, if we wanted something specific, I could design some icons.

[2021-06-11 16:08] #165 closed, assigned to nobody

[2021-06-11 16:40] beafialho commented on #171
I've added the pattern here: https://wordpress.org/patterns/pattern/social-gallery/

[2021-06-11 16:42] beafialho commented on #171
Closed #171.

[2021-06-11 16:43] #171 closed, assigned to nobody

[2021-06-11 17:08] melchoyce commented on #168
Looks good to me!

[2021-06-11 18:05] karmatosed opened #172 "Pattern Submission: Images and quotes grid"
Having a grid of quotes and images is a pattern useful in a variety of situations, from calling out product testimonials to showcasing services and even sharing fruit quotes - like in this example. This is a simple format that has a light background and quote for each.

---

## Pattern Title
Image and quote grid.

## Pattern Categories
Image, Quote

## Screenshots

![image](https://user-images.git

[2021-06-11 18:34] melchoyce commented on #155
Hey @tajim, thanks for your submission!

We're trying to draw on nature, art, and history for this initial batch of patterns. What do you think about something like this?

![image](https://user-images.githubusercontent.com/2846578/121733794-f00fd380-cac1-11eb-89c9-58860375eb28.png)

[code]

[2021-06-11 19:22] melchoyce commented on #168
Added this to the directory: https://wordpress.org/patterns/pattern/restaurant-menu/

Ended up subbing out the photo for a painting of food, to fit a little better with the rest of patterns we've added so far.

[2021-06-11 19:22] #168 closed, assigned to nobody

[2021-06-11 19:35] karmatosed opened #173 "Pattern submission: Introduction cover"
Cover images are great, but sometimes you need more. This is a cover section that takes it lead from book introduction pages. It has a title, a subtitle and then a little bit of text to lead into the post. All this wrapped in a block with a background.

---

## Pattern Title
Introduction cover

## Pattern Categories
Cover, Header

## Screenshots
![image](https://user-images.githubusercontent.com/2

[2021-06-11 19:56] ryelle commented on #167
For what it's worth, 400 was an arbitrary number.

I don't know what realistic values are here. To figure it out, I would create a demo plugin to [register 3 or so patterns](https://developer.wordpress.org/reference/functions/register_block_pattern/) from the directory, and see how they look in the gutenberg inserter previews with different viewportWidths.

[2021-06-11 20:24] ryelle commented on #100
I added a fake favorite count in #164, but I'd like some help getting the real value. I started with this query:

[code]

Which works locally, but I don't know a) if we can query the usermeta table like that on multisite and b) if this is a terrible idea on the large user set in wp.org. This would run 18 times per page. So I imagine this needs some kind of caching - maybe each pattern should save

[2021-06-11 21:19] mateuswetah opened #174 "Two Image & Text sections with shared colored strip"
I feel like we could show everyone how _gradients are a powerful tool_. I myself enjoy playing with it to create background-color transitions and section divisions, like this one. I uploaded two groups considering that maybe we should send only one, but I like the combination of a couple. Anyways, open to suggestions and comments guys, hope you like!

---

## Pattern Title
Two Image & Text section

[2021-06-11 21:32] melchoyce opened #175 "Chapter Opening"
This pattern is a bold, type-driven design that can be used for blogs and storytellers.

---

## Pattern Title
Chapter Opening

## Pattern Categories
Text

## Screenshots
![image](https://user-images.githubusercontent.com/2846578/121750658-cadb8f00-cada-11eb-8886-c6b1cd589de1.png)

## Block Markup
https://gist.github.com/melchoyce/c42c931a78a1118487c326ed8eb5dd35

[2021-06-11 21:46] melchoyce opened #176 "Poster"
This pattern mimics a printed poster, with text inlayed inside of cover block. Its elegant design would work well for many combinations of images and text.

---

## Pattern Title
Poster

## Pattern Categories
Header, Image

## Screenshots
![image](https://user-images.githubusercontent.com/2846578/121751674-9cf74a00-cadc-11eb-854a-a0a1ef7a27a2.png)

## Image Credits
Mount Fuji from Momoyogusa–Flowe

[2021-06-12 16:13] laxmariappan opened #178 "How it works pattern"
Here comes how it works pattern
It will be helpful to agencies, SaaS owners, coaches, etc to showcase their process.
It is not just another section, it will help in explaining the process and convinces the site visitors.
---

##  Pattern Title
How It Works

## Pattern Categories
columns

## Screenshots

![how-it-works-1](https://user-images.githubusercontent.com/22427070/121782312-8e855d00-cbc6-11

[2021-06-12 17:09] tajim commented on #155
Hello @melchoyce

Sorry, I was not aware regarding the theme for pattern. I will make sure to submit nature and art related pattern for next time.

The update design which you sent looks great. Would you like me to submit it again with changes or how should we proceed.

Regards
---
Tajim

[2021-06-13 17:08] schutzsmith opened #179 "Horizontal Cards"
Cards are a basic design system component common in most websites.
---

## Pattern Title
Two column horizontal cards

## Pattern Categories
Columns, Gallery

## Screenshots
<img width="1117" alt="Screen Shot 2021-06-14 at 11 55 11 AM" src="https://user-images.githubusercontent.com/680204/121921863-681b0b00-cd07-11eb-8242-a2e7d21342c2.png">

## Image Credits
CC0
https://search.creativecommons.org/p

[2021-06-13 17:13] schutzsmith opened #180 "Pricing Table"
A pricing table is a basic ingredient to most commercial websites.
---

## Pattern Title
Pricing Columns

## Pattern Categories
Buttons, Columns

## Screenshots
<img width="1272" alt="Screen Shot 2021-06-13 at 12 48 46 PM" src="https://user-images.githubusercontent.com/680204/121816368-2c217080-cc49-11eb-9f97-0db8224dca64.png">

## Block Markup
https://gist.github.com/schutzsmith/26ee75ed8593e3dac

[2021-06-13 17:22] schutzsmith opened #181 "Call To Action Horizontal"
A common design pattern, a call to action provides a way to capture the viewers attention without being overwhelming.

---

## Pattern Title
Call to Action Horizontal

## Pattern Categories
Buttons, Header

## Screenshots
<img width="1272" alt="Screen Shot 2021-06-14 at 11 45 46 AM" src="https://user-images.githubusercontent.com/680204/121920613-39e8fb80-cd06-11eb-8399-b935443401df.png">

## Block

[2021-06-13 17:25] schutzsmith opened #182 "Call To Action Vertical"
A common design pattern, a call to action provides a way to capture the viewers attention without being overwhelming.

---

## Pattern Title
Call To Action Vertical

## Pattern Categories
Header, Buttons

## Screenshots
<img width="707" alt="Screen Shot 2021-06-13 at 1 24 51 PM" src="https://user-images.githubusercontent.com/680204/121816641-c59d5200-cc4a-11eb-9096-1b5dcb016fda.png">

## Block Mar

[2021-06-13 17:38] schutzsmith opened #183 "Jumbotron"
A combination of a call to action and a three column layout, most widely known in design patterns as a "jumbotron".
---

## Pattern Title
Jumbotron

## Pattern Categories
Columns, Header, Text

## Screenshots
<img width="1119" alt="Screen Shot 2021-06-14 at 11 47 53 AM" src="https://user-images.githubusercontent.com/680204/121920812-656be600-cd06-11eb-96ff-69f5ead33dd6.png">

## Block Markup
https

[2021-06-13 20:21] mateuswetah opened #184 "Multi-purpuse grid pattern"
Another one playing with gradients and columns. This uses groups background colors and padding to create a "grid-like" layout using the columns block. Everybody is inside a cover block in case the user would prefer an image instead of gradient. The idea is to demonstrate that these blocks could accommodate different types of content, from widgets to images, and possibly inspire a more complex bloc

[2021-06-14 00:02] StevenDufresne commented on #54
Closing this because there is an updated version in #160.

[2021-06-14 00:02] #54 closed, assigned to nobody

[2021-06-14 01:52] StevenDufresne commented on #29
@ryelle I think this can be closed since we implemented an "in-editor" preview tool in #115.

[2021-06-14 05:35] StevenDufresne commented on #100
Not sure if it's relevant, but whatever the outcome, we'll need to `orderby` favorite counts as well.

See #161.

[2021-06-14 12:47] kjellr commented on #183
Hi @schutzsmith! I like the pattern, but can we switch out the text so that it's less obviously placeholder? For this set of patterns in the directory, we've been trying to make them seem a bit more "lifelike" by avoiding lorem ipsum and other placeholder text. This way, when users see the preview, they see it as if it were a real section on a website. We've been tending to look to art, history, a

[2021-06-14 13:18] kjellr commented on #182
Hi @schutzsmith! Thanks for the pattern submission. For this one, I have similar feedback to what I noted in https://github.com/WordPress/pattern-directory/issues/183#issuecomment-860656295. Here's a suggested edit which pulls in more "real-world" content. I also modified one of the button styles so there's a clear primary call-to-action. Let me know what you think!

<img width="730" alt="Screen S

[2021-06-14 13:20] kjellr commented on #176
Looks great, thanks @melchoyce. This one is all set to add to the directory.

[2021-06-14 13:23] kjellr commented on #175
Thanks! I've added this to the directory:

https://wordpress.org/patterns/pattern/chapter-opening/

[2021-06-14 13:23] #175 closed, assigned to nobody

[2021-06-14 13:27] kjellr commented on #182
Actually, I just noticed this is very similar to the pattern submitted in https://github.com/WordPress/pattern-directory/issues/155#issuecomment-859767501. I suggest we close this one in favor of the existing submission there.

Thank you for the submission!

[2021-06-14 13:27] #182 closed, assigned to nobody

[2021-06-14 13:31] kjellr commented on #149
👋 I think this pattern is a little too complicated. I like the left two columns, though I'm a little surprised to see the social icons there since they don't clearly relate to the "theme" of the rest of the pattern. But if we trim it to just those columns, it becomes a little too similar to this existing pattern:

https://wordpress.org/patterns/pattern/offset-images-with-descriptions/

I think it

[2021-06-14 14:59] schutzsmith commented on #183
@kjellr Will update all my submissions today. Thanks!

[2021-06-14 15:39] schutzsmith commented on #183
@kjellr Updated with text from Wikipedia.

[2021-06-14 15:43] schutzsmith commented on #181
Updated text to better example.

[2021-06-14 15:55] schutzsmith commented on #179
Updated with more appropriate example text

[2021-06-14 15:57] beafialho commented on #180
Thank you @schutzsmith, this is a very useful pattern!

We’ve been aiming to create art/history/nature themed patterns for this initial collection, so I made this one as a suggestion that goes more in line with that.

**Desktop**
<img width="1302" alt="Captura de ecrã 2021-06-14, às 16 53 01" src="https://user-images.githubusercontent.com/65220155/121921801-40d93380-cd31-11eb-8474-ebc4ccbbb950.png

[2021-06-14 16:10] schutzsmith commented on #180
@beafialho This looks great and I'd say it would be a great addition but I wouldn't replace the one I submitted. I'm happy to update the wording to reflect your genre requirements but the layout and look I submitted is a very recognizable user pattern for monthly pricing of tech products - something I think will be extremely helpful to the community at large to have to work with.

Your example is

[2021-06-14 16:11] melchoyce commented on #155
I've published this pattern: https://wordpress.org/patterns/pattern/call-to-action/

Thanks for your contribution!

[2021-06-14 16:42] anarieldesign commented on #149
No problem, you can close this one. I'm planning to submit a few more soon :)

[2021-06-14 16:43] melchoyce commented on #181
Thanks @schutzsmith, added this one to the directory: https://wordpress.org/patterns/pattern/horizontal-call-to-action/

[2021-06-14 16:43] #181 closed, assigned to nobody

[2021-06-14 16:43] #155 closed, assigned to nobody

[2021-06-14 16:44] melchoyce commented on #149
Thanks @anarieldesign! Excited to see what you submit next.

[2021-06-14 16:44] #149 closed, assigned to nobody

[2021-06-14 16:46] schutzsmith commented on #181
@melchoyce Thanks!

[2021-06-14 17:05] kjellr commented on #154
@melchoyce good call. Here's an updated version that evens that space out:

Desktop|Mobile
---|---
<img width="1236" alt="Screen Shot 2021-06-14 at 1 04 10 PM" src="https://user-images.githubusercontent.com/1202812/121931088-242d0380-cd11-11eb-9a82-119303d3c70b.png">|<img width="356" alt="Screen Shot 2021-06-14 at 1 04 27 PM" src="https://user-images.githubusercontent.com/1202812/121931093-24c59a0

[2021-06-14 17:12] melchoyce commented on #154
Looks good to me 👍

[2021-06-14 17:39] melchoyce commented on #172
This is fun!

What would you think about simplifying it down to two columns?

![image](https://user-images.githubusercontent.com/2846578/121934879-d1097f80-cd15-11eb-92c5-c32cba7da023.png)

https://www.rawpixel.com/image/2289566/free-illustration-image-pear-vintage-fruit
https://www.rawpixel.com/image/2297932/free-illustration-image-aanewton-pear-vintage-1900s

[code]

[2021-06-14 17:45] ryelle commented on #156
@kjellr Thanks for finding these bugs 🙂  Most of these should be fixed now, I think the only one remaining is the alignment issue, which should be fixed once #152  & #164 are merged. Let me know if anything else seems off.

[2021-06-14 18:21] kjellr commented on #172
This revision looks good to me. The background colors are similar but not exactly the same — I wonder if it would make sense to use #fdfad9 for both?

[2021-06-14 18:21] kjellr commented on #156
🙌 Thank you!

[2021-06-14 18:29] kjellr commented on #154
Thanks everyone! This one is live in the directory: https://wordpress.org/patterns/pattern/offset-gallery-with-fixed-background-and-quote/

[2021-06-14 18:29] #154 closed, assigned to nobody

[2021-06-14 18:32] kjellr commented on #173
I'm not sure about this one — It feels similar to some others that we have already:

https://wordpress.org/patterns/pattern/half-width-image-of-artistic-squares-with-text/
https://wordpress.org/patterns/pattern/introduction-with-image-on-the-left/
https://wordpress.org/patterns/pattern/title-area-with-image-and-heading/

I'm curious what other folks think.

[2021-06-14 18:34] kjellr commented on #176
Added here:

https://wordpress.org/patterns/pattern/poster-layout/

[2021-06-14 18:34] #176 closed, assigned to nobody

[2021-06-14 18:40] kjellr commented on #183
Thank you for the update! Is this text directly from Wikipedia? If so, I believe [it would need attribution](https://en.wikipedia.org/wiki/Wikipedia:Reusing_Wikipedia_content) and isn't totally in the public domain or CC0. In general, we've been writing new copy ourselves, or pulling from something like public domain books.

Thanks!

[2021-06-14 18:58] melchoyce commented on #172
I kind of like having some variety, so maybe we could make the top one a little darker instead?

![image](https://user-images.githubusercontent.com/2846578/121944706-f2bc3400-cd20-11eb-931a-118fd638f6b8.png)

[2021-06-14 19:00] kjellr opened #186 "Different "Copy" buttons produce different results"
When you use the "Copy" button on the individual pattern pages, it strips out the block comments markup, sometimes producing incorrect results. This doesn't happen if you use the copy button available on hover for the theme index pages.

Take this pattern for example:

https://wordpress.org/patterns/pattern/poster-layout/

Here's what's copied to the clipboard in each case:

### Copy button on [pa

[2021-06-14 19:00] kjellr commented on #172
I like it! Let's publish this one.

[2021-06-14 19:22] melchoyce commented on #172
Thanks! All set: https://wordpress.org/patterns/pattern/image-and-quote-on-a-background/

[2021-06-14 19:49] ryelle commented on #186
This broke with the change in #177.

[2021-06-14 19:56] kjellr commented on #180
The core differences between the original submission and this new one are the aesthetics and copy — the pattern itself is still just a three column pricing table. I don’t think it makes sense to include more than one pricing table (at least in this three-column form) in the initial set of curated pre-launch patterns.

Comparing the two, I prefer the updated version’s more minimal aesthetic, as wel

[2021-06-14 19:56] karmatosed commented on #172
Thanks for iterations. I do quite like the idea of a grid though over rows, which was the intention in this pattern @melchoyce and @kjellr. Could we also have that as another pattern? I really liked the other color options in the grid and the origional images I chose.

[2021-06-14 19:58] karmatosed commented on #173
I wasn't aware of those, however are we having a limit on patterns? For me the one I offered is different enough.

[2021-06-14 20:05] #186 closed, assigned to nobody

[2021-06-14 20:22] melchoyce commented on #170
I like how clean and simple this is, but I wish there was a way to center the content on smaller screens :(

[2021-06-14 20:24] karmatosed commented on #170
I sort of like the way it feels like a bookmark, but that might be my accepting of our current tools not having that ability to center.

[2021-06-14 20:40] ryelle commented on #162
@melchoyce is this working now? I believe #177 should have fixed it.

[2021-06-14 20:45] melchoyce commented on #162
Yup! Thanks 👍

[2021-06-14 20:45] #162 closed, assigned to nobody

[2021-06-14 21:19] shaunandrews opened #187 "My Patterns filter URLs can lead to broken pages"
I'm able to wind up at a broken page like this:

<img width="1593" alt="image" src="https://user-images.githubusercontent.com/191598/121960675-674c9e00-cd34-11eb-88a7-a8c6f013669b.png">

To do so, head to `/my-patterns/` and then use the filter to switch between All to Drafts. Notice that your browser's address bar will now show the URL as `my-patterns/drafts/`.

Hit refresh. Or, browse to a patte

[2021-06-14 21:25] shaunandrews opened #188 "Improve loading state to avoid "page jumping""
When browsing through categories the page "jumps" around as patterns are loaded. Here's a quick video to show the behavior:

https://user-images.githubusercontent.com/191598/121961221-21dca080-cd35-11eb-8e22-8394f6a70456.mp4

Perhaps we can retain the height of the page with some skeleton-style placeholders while loading:

<img width="970" alt="image" src="https://user-images.githubusercontent.com

[2021-06-14 21:33] shaunandrews opened #189 "Make category filter "sticky" when scrolling"
Currently, when you scroll down the list of patterns the category filter and search box scroll out of view:

https://user-images.githubusercontent.com/191598/121961643-acbd9b00-cd35-11eb-9580-6b3fa78443a4.mp4

It might be nice to have the list of categories and search "stick" to the top of the viewport (below the adminbar) as you scroll.

![pattern-directory-sticky-filters](https://user-images.git

[2021-06-14 21:46] melchoyce commented on #172
The grid would make a fun query block pattern, maybe like https://wordpress.org/themes/dyad/? I don't know that the directory will be able to support that before launch though.

Maybe in the meantime, you could swap out the quotes for a simple title, and either a link or a button?

I'd also recommend curating the photos a bit more so they're more stylistically similar — same approximate size and c

[2021-06-14 21:51] ryelle commented on #188
This is a duplicate of #101 — we haven't implemented the loading state at all yet.

[2021-06-14 21:52] ryelle commented on #187
The My Patterns code is still in progress in #152, and this was fixed in that PR about an hour ago https://github.com/WordPress/pattern-directory/pull/152#issuecomment-860976671

[2021-06-14 21:52] #187 closed, assigned to nobody

[2021-06-14 21:56] ryelle commented on #189
There are only 18 items per page, so it's not that far to scroll up. I'm going to put this into the "Later" milestone, which we'll grab once the things in "Initial Launch" are done.

[2021-06-14 22:14] schutzsmith commented on #180
I get it but the aesthetic seems an important enough distinct to have a few
of these from the get go.

On Mon, Jun 14, 2021 at 3:56 PM Kjell Reigstad ***@***.***>
wrote:

[2021-06-14 23:42] #167 closed, assigned to nobody

[2021-06-15 12:50] kjellr commented on #180
This one is live here:

https://wordpress.org/patterns/pattern/pricing-table/

Thank you!

[2021-06-15 12:50] #180 closed, assigned to nobody

[2021-06-15 13:07] kjellr commented on #170
I think we can get around the centering issue if we switch to a rectangular image. What do you folks think of this?

Desktop|Mobile
---|---
<img width="643" alt="Screen Shot 2021-06-15 at 9 06 02 AM" src="https://user-images.githubusercontent.com/1202812/122057856-0dda8280-cdb9-11eb-9968-fed0a4ee91e9.png">|<img width="359" alt="Screen Shot 2021-06-15 at 9 06 16 AM" src="https://user-images.githubu

[2021-06-15 13:36] melchoyce commented on #178
Hey @laxmariappan, thanks for submitting this!

We've been curating this initial set of patterns around topics like art, history, and nature. what do you think about this updated copy?

![image](https://user-images.githubusercontent.com/2846578/122062138-2187e800-cdbd-11eb-8baf-1d171b3f8ee4.png)

[2021-06-15 13:57] laxmariappan commented on #178
Looks great :)

Thanks for updating the copy

Code is Poetry

On Tue, Jun 15, 2021 at 7:06 PM Mel Choyce ***@***.***> wrote:

[2021-06-15 15:21] shaunandrews commented on #189
Right, I guess I'm thinking it might make sense to implement some sort of infinite scrolling — the paging is fine, but really adds a lot of friction to the browsing experience.

[2021-06-15 15:25] shaunandrews commented on #188
Here I am trying to be helpful and just creating more noise. Sorry about that.

[2021-06-15 15:25] #188 closed, assigned to nobody

[2021-06-15 15:55] shaunandrews commented on #173
To start, I think its best to avoid having too many similar patterns and instead favor more discrete designs. While I do like your design, I agree with Kjell that there are existing patterns that are similar.

[2021-06-15 16:18] kjellr opened #190 "Update categories for patterns to use Site Building and Universal categories"
Create new categories matching those in Gutenberg

* **Call to Action** 
Sections whose purpose is to trigger a specific action.
* **Team** 
A variety of designs to display your team members.
* **Testimonials** 
Share reviews and feedback about your brand/business.
* **Services** 
Briefly describe what your business does and how you can help.
* **Contact** 
Display your contact information.
* **Ab

[2021-06-15 19:06] kjellr commented on #174
Cool idea! I used a gradient to similar effect for one of the [Seedlet theme](https://wordpress.org/themes/seedlet/)'s patterns:

<img width="658" alt="Screen Shot 2021-06-15 at 2 33 00 PM" src="https://user-images.githubusercontent.com/1202812/122105362-b05d2a80-cde6-11eb-9659-1e3a33ce8348.png">

I do think that modifying this sort of gradient is a little advanced for most users, so I don't think

[2021-06-15 19:19] kjellr commented on #178
I just spent a little time making sure the correct color values were included. This should be all set to add to the directory:

[code]

[2021-06-15 19:25] shaunandrews commented on #190
Along with adding some new categories, I think we could combine Images and Gallery into "Images."

--

I think Header is problematic; There could be confusion around the header Template Part, but also the patterns currently in the Header category aren't really _headers_. Instead of Header (which I think we should reserve for Template Part patterns) I think maybe "Cover," "Hero," or "Introduction"

[2021-06-15 23:34] mateuswetah commented on #174
Hey @kjellr, I'm a big fan of your theme!

I agree with the suggestions, it should be used for more simple layouts

[2021-06-15 23:35] mateuswetah commented on #174
So should I close this and you open a new one, or should I update the issue description with one using just images?

[2021-06-16 02:13] schutzsmith commented on #180
Just a note that looks like the text is too large and the button didn't come out right on what you posted at the 960px width.

<img width="1026" alt="Screen Shot 2021-06-15 at 10 11 41 PM" src="https://user-images.githubusercontent.com/680204/122147402-d3a7ca00-ce26-11eb-8051-c25a3d0d52fb.png">
<img width="1042" alt="Screen Shot 2021-06-15 at 10 11 46 PM" src="https://user-images.githubusercontent

[2021-06-16 11:17] beafialho commented on #178
Thank you all, I've added this one to the directory! https://wordpress.org/patterns/pattern/how-it-works/

[2021-06-16 11:17] #178 closed, assigned to nobody

[2021-06-16 12:10] kjellr commented on #179
Hey there, thanks for this one.

Unfortunately we can't use the border included above, since that's a style that's specific to the Twenty Twenty-One theme for the moment. In terms of the rest of the pattern, I think it's ok, but it could use a little iteration in terms of the imagery and colors. The monochromatic look is interesting, but this might be a good opportunity to try a pattern that uses

[2021-06-16 12:13] kjellr commented on #174
We can keep using the same issue. 🙂

[2021-06-16 12:22] beafialho commented on #174
I like the tarot one, let's do it!

[2021-06-16 12:24] beafialho commented on #179
I agree with @kjellr, this would make a great query block pattern later on!

[2021-06-16 12:43] kjellr commented on #174
Thank everyone! The tarot pattern is live in the directory:

https://wordpress.org/patterns/pattern/two-images-with-shared-colored-strip/

[2021-06-16 12:43] #174 closed, assigned to nobody

[2021-06-16 14:45] ryelle commented on #189
Infinite scrolling is not a good experience for accessible navigation. We had a "load more" button in an early design, we could revisit that maybe? but the data structure of the site expects pagination, so it won't be a simple change to just swap out the UI. Not impossible, but it should be taken into account.

[2021-06-16 15:12] melchoyce commented on #138
Took some time to tinker with this, and ended up taking it in kind of a different direction. I cut down on some of the copy, tried some less complex images, and added a stark black background for contrast.

![image](https://user-images.githubusercontent.com/2846578/122245004-56666e80-ce93-11eb-952e-07d506ed86ef.png)

[code]

https://www.rawpixel.com/image/461096/free-illustration-image-beach-beach

[2021-06-16 15:15] melchoyce commented on #170
Yeah, I think the rectangular image helps a lot. LGTM 👍

[2021-06-16 15:23] ryelle opened #191 "Pattern API: Get patterns by author"
Add a parameter to the endpoint for requesting patterns by a specific author(s). For example, if you only want to get patterns by the wordpressdotorg author, or just by your own user.

This could be used in place of the Core keyword to request only "core" (by wordpressdotorg) patterns.

[2021-06-16 15:31] karmatosed commented on #170
Works for me, thanks for iteration.

[2021-06-16 15:38] melchoyce commented on #170
Added! https://wordpress.org/patterns/pattern/follow-card/

[2021-06-16 15:38] #170 closed, assigned to nobody

[2021-06-16 20:07] karmatosed commented on #172
How about I work on a new pattern and we close out this little one? I can then send in my next one with a fresh input. It will have the grid but those suggestions.

[2021-06-16 20:07] #172 closed, assigned to nobody

[2021-06-16 21:45] melchoyce commented on #183
Got help from @courtneydawn rephrasing the copy, so we don't need to worry about licensing:

![image](https://user-images.githubusercontent.com/2846578/122297200-410c3700-cec9-11eb-9f2c-561614a08517.png)

[code]

[2021-06-17 02:40] justintadlock commented on #138
Sorry for looping back to this so late.  I've been a little sick in the past week.

I absolutely love where you've taken this.  I think it'd make a great pattern to include in the directory.

---

I'd still like to add my original pattern with updated copy in place of the lorem ipsum text.  The rounded images with the repetitive "MY ABC" (a bit of a rhetorical device that I think would draw more a

[2021-06-17 11:32] kjellr commented on #183
Awesome. Looks good! When we add this to the directory, I suggest we change the light green text in the top area to white, since that will fit more nicely with themes other than Twenty Twenty-One. 👍

[2021-06-17 13:39] beafialho commented on #138
Alright, seems like this pattern is ready to be added to the directory. :ship:

[2021-06-17 14:28] beafialho commented on #138
Added [here](https://wordpress.org/patterns/pattern/about-me-cards/)!

[2021-06-17 14:28] #138 closed, assigned to nobody

[2021-06-17 14:40] ryelle opened #192 "Pattern Creator: Only show applicable options & preferences"
_Pulling from #97, where the convo has slightly derailed the PR._

<img width="333" alt="Screen Shot 2021-06-14 at 5 33 53 PM" src="https://user-images.githubusercontent.com/541093/121963881-b5fc3700-cd38-11eb-8cf8-5b789638835d.png">

[2021-06-17 14:41] ryelle commented on #192
@StevenDufresne said:

[2021-06-17 14:42] ryelle commented on #192
@shaunandrews said:

[2021-06-17 14:42] ryelle commented on #192
@ryelle said:

[2021-06-17 14:43] ryelle commented on #192
@StevenDufresne said:

[2021-06-17 14:44] ryelle commented on #192
Personally, I would still hide the whole preferences screen. If we can't control what we keep, I think it would be better to get rid of all of it.

We don't want people turning off the panels in Document Settings, because those are "required" data for patterns. As for custom fields, there are no custom fields that a pattern author would need to add (that aren't handled by other settings).

For the

[2021-06-17 15:07] webmandesign opened #193 "Pattern Submission: Short text surrounded with round images"
This pattern makes a short text (such as feature description) more interesting by surrounding it with round/circular images.
Great for presenting a scientific or medical feature on a website.

---

## Pattern Title
Short text surrounded with round images

## Pattern Categories
Columns, Gallery, Text.

## Screenshots

![Short text surrounded with round images](https://user-images.githubusercontent.

[2021-06-17 15:49] webmandesign opened #194 "Pattern Submission: Skewed background feature"
Highlights features with skewed background, leading viewer's eyes from one feature to another.

---

## Pattern Title

Skewed background feature

## Pattern Categories

Buttons, Text.

## Screenshots

![Skewed background feature](https://user-images.githubusercontent.com/2456735/122430902-45e9ed00-cf94-11eb-844c-05f180a119eb.jpg)

## Image Credits

https://jam-icons.com/

## Block Markup

https://

[2021-06-17 17:03] 0aveRyan opened #195 "Pattern Submission: Stacked Media & Text with alternating alignment"
This is a pattern I've used regularly across multiple sites since the Block Editor's launch as a way to create more-visual lists and weave stories that intermix visuals and words.

---

## Pattern Title
Stacked Media & Text with alternating alignment

## Pattern Categories
Images, Text

## Screenshots
![Screenshot of Stacked Media & Text with alternating alignment pattern showing three Media & Tex

[2021-06-17 17:31] kjellr opened #196 "Pattern Submission: Simple call to action pattern"
Remarkably, we don't have a simple CTA like this yet. [This one is similar](https://wordpress.org/patterns/pattern/call-to-action/), but I think there's room for this simpler version.

---

## Pattern Title

Simple call to action

## Pattern Categories

Buttons

## Screenshots

<img width="1158" alt="Screen Shot 2021-06-17 at 1 28 36 PM" src="https://user-images.githubusercontent.com/1202812/12244

[2021-06-17 17:51] kjellr opened #197 "Pattern Submission: Two images with text and buttons"
Props to @melchoyce for this one.

---

## Pattern Title

Pattern Submission: Two images with text and buttons

## Pattern Categories

Images, Buttons

## Screenshots

<img width="1227" alt="Screen Shot 2021-06-17 at 1 49 51 PM" src="https://user-images.githubusercontent.com/1202812/122448645-f9da8080-cf72-11eb-8b31-a01f6a34c0e4.png">

## Image Credits

Insects and Flowers by Ju Lian. Public Domai

[2021-06-17 17:56] kjellr commented on #173
Yeah, I think we should leave this one out for now, and pursue more varied patterns for this initial collection. I'm going to close this for now.

Thanks!

[2021-06-17 17:56] #173 closed, assigned to nobody

[2021-06-17 18:13] webmandesign opened #198 "Pattern Submission: Large call to action"
Title says it all :)

---

## Pattern Title

Large call to action

## Pattern Categories

Buttons

## Screenshots

![Large call to action](https://user-images.githubusercontent.com/2456735/122451125-1513b300-cfa8-11eb-9ca0-eb916178a41a.jpg)

## Image Credits

https://www.rawpixel.com/image/3286706/free-photo-image-plant-free-nature-leaves-photo-plants

## Block Markup

https://gist.github.com/webm

[2021-06-17 18:16] 0aveRyan commented on #195
Noted [the comment](https://github.com/WordPress/pattern-directory/issues/179#issuecomment-862326462) on #179 and I've removed borders from this submission:
https://gist.github.com/0aveRyan/6ff7e968091a8ca14a24d64ce155010d

[2021-06-17 18:18] kjellr commented on #184
Thanks for the submission! I think this one feels a little too complicated for this set. That neat boxed shape of it is also likely to fall apart when folks change the content and images.

For those reasons, I don't think we should include it in this pre-release collection. I'm going to close the issue for now, but feel free to submit it to the library post-launch, and to submit other patterns in

[2021-06-17 18:18] #184 closed, assigned to nobody

[2021-06-17 18:26] webmandesign opened #199 "Pattern Submission: Call to action with testimony"
Title says it all :)

---

## Pattern Title

Call to action with testimony

## Pattern Categories

Buttons

## Screenshots

![Call to action with testimony](https://user-images.githubusercontent.com/2456735/122453063-39708f00-cfaa-11eb-811a-b5923f66f107.jpg)

## Image Credits

n/a

## Block Markup

https://gist.github.com/webmandesign/87ba358704b15641a6decbda3d4710c2

[2021-06-17 18:43] webmandesign opened #200 "Pattern Submission: Call to action with images"
Call to action with button surrounded with images.

---

## Pattern Title

Call to action with images

## Pattern Categories

Buttons

## Screenshots

![Call to action with images](https://user-images.githubusercontent.com/2456735/122455322-8e150980-cfac-11eb-8b95-40326be3a745.jpg)

## Image Credits

- https://www.rawpixel.com/image/3064491/free-illustration-image-japanese-japan-japanese-art
- htt

[2021-06-17 18:59] kjellr commented on #183
I was looking at this a little more, and what would you folks think of adding a little color and perhaps an image to this pattern? I think it could really help make this fit in with the other patterns in the pre-release collection a little better. Here's a quick pass:

<img width="887" alt="Screen Shot 2021-06-17 at 2 54 23 PM" src="https://user-images.githubusercontent.com/1202812/122456773-eaac0

[2021-06-17 19:13] melchoyce commented on #183
Looks great!

[2021-06-17 19:20] kjellr commented on #183
Added here:

https://wordpress.org/patterns/pattern/call-to-action-with-columns-of-text/

(The buttons in particular look really bad in the preview, but that isn't an issue with the pattern itself)

[2021-06-17 19:20] #183 closed, assigned to nobody

[2021-06-17 19:56] 0aveRyan opened #201 "Pattern Submission: Modern about grid"
A three-column layout with wider center column to highlight a media or embed block.

---

## Pattern Title
Modern about grid

## Pattern Categories
Buttons, Columns

## Screenshots
![Screenshot 2021-06-17 at 12 52 02](https://user-images.githubusercontent.com/9565066/122463792-e75c4900-cf6a-11eb-808e-421b7348f6ed.jpg)

## Image Credits
https://search.creativecommons.org/photos/c4635ec3-7dba-416f-b

[2021-06-17 20:10] #107 closed, assigned to coreymckrill

[2021-06-18 00:40] chrislema opened #202 "Three Column (How It Works) Panel"
---

## Pattern Title
Three column (How It Works) Panel

## Pattern Categories
Columns, Images, Text

## Screenshots
<img width="791" alt="Lema-Pattern-How-It-Works" src="https://user-images.githubusercontent.com/581204/122488800-125a9300-cf93-11eb-936e-d9d16c7666ae.png">

## Image Credits
https://unsplash.com/photos/bXfQLglc81U
https://unsplash.com/photos/XJXWbfSo2f0
https://unsplash.com/photos/6

[2021-06-18 05:52] webmandesign commented on #202
Hey Chris!

Great to see a pattern from you here! :)
This is just a friendly reminder, not a review, as I'm just browsing by and noticed you are using images from Unsplash. Pattern images should be CC0 licence compatible and as far as I know [Unsplash images are not](https://make.wordpress.org/themes/handbook/review/resources/#restricted-websites), unfortunately.
My tip is to use images from rawpi

[2021-06-18 06:31] webmandesign opened #203 "Pattern Submission: Food menu"
Simple text-only food menu, or food menu section/category.

---

## Pattern Title

Food menu

## Pattern Categories

Columns, Text

## Screenshots

![Food menu](https://user-images.githubusercontent.com/2456735/122516751-702cc080-d00f-11eb-80a1-9862741d5694.jpg)

## Image Credits

n/a

## Block Markup

https://gist.github.com/webmandesign/4b146be5309702b98f1077d07e6e0a28

[2021-06-18 06:51] webmandesign opened #204 "Pattern Submission: Major quote with parallax background"
Title says it all.

---

## Pattern Title

Major quote with parallax background

## Pattern Categories

Text

## Screenshots

![Major quote with parallax background](https://user-images.githubusercontent.com/2456735/122519043-4a54eb00-d012-11eb-9749-99fab4d35330.jpg)

## Image Credits

- https://www.rawpixel.com/image/3285639/free-photo-image-architecture-cityscape-people-and-landscape
- https://w

[2021-06-18 07:20] webmandesign opened #205 "Pattern Submission: Text column on parallax background"
Title says it all.

---

## Pattern Title

Text column on parallax background

## Pattern Categories

Columns, Text

## Screenshots

![Text column on parallax background](https://user-images.githubusercontent.com/2456735/122522477-4d51da80-d016-11eb-88eb-536429c94577.jpg)

## Image Credits

- https://www.rawpixel.com/image/3282993/free-photo-image-forest-astronaut-jungle
- https://jam-icons.com/

[2021-06-18 07:33] webmandesign opened #206 "Pattern Submission: Contact information with image"
Title says it all.

---

## Pattern Title

Contact information with image

## Pattern Categories

Columns, Text

## Screenshots

![Contact information with image](https://user-images.githubusercontent.com/2456735/122524170-1f6d9580-d018-11eb-966a-35b9bc34bb01.jpg)

## Image Credits

https://www.rawpixel.com/image/3064476/free-illustration-image-japanese-art-waterfall-graphic-japanese-design

## Bl

[2021-06-18 07:45] webmandesign opened #207 "Pattern Submission: Partners logos"
Title says it all.

---

## Pattern Title

Partners logos

## Pattern Categories

Gallery

## Screenshots

![Partners logos](https://user-images.githubusercontent.com/2456735/122525806-e8987f00-d019-11eb-855e-c55795a7480e.jpg)

## Image Credits

- https://www.rawpixel.com/image/556745/vintage-typewriter-illustration
- https://www.rawpixel.com/image/556608/vintage-turtle-illustration
- https://www.

[2021-06-18 08:11] webmandesign opened #208 "Pattern Submission: Large text with quote and signature"
Title says it all.

---

## Pattern Title

Large text with quote and signature

## Pattern Categories

Columns, Text

## Screenshots

![Large text with quote and signature](https://user-images.githubusercontent.com/2456735/122529237-88a3d780-d01d-11eb-9c51-cf9037ce6d12.jpg)

## Image Credits

https://pic.webmandesign.eu/PATTERNS/CC0/custom/signature-jane-doe-black.png
License: https://github.com/w

[2021-06-18 08:33] webmandesign opened #209 "Pattern Submission: Partners logos – alternative layout"
Title says it all.

---

## Pattern Title

Partners logos – alternative layout

## Pattern Categories

Gallery

## Screenshots

![Partners logos – alternative layout](https://user-images.githubusercontent.com/2456735/122532256-9f97f900-d020-11eb-9bbb-0a65eb850acd.jpg)

## Image Credits

- https://www.rawpixel.com/image/556745/vintage-typewriter-illustration
- https://www.rawpixel.com/image/556608/

[2021-06-18 14:11] webmandesign opened #210 "Pattern Submission: Parallax products"
3 promotion sections with parallax background. Great for displaying features or products.

---

## Pattern Title

Parallax products

## Pattern Categories

Columns, Buttons

## Screenshots

![Parallax products](https://user-images.githubusercontent.com/2456735/122574287-ca4d7600-d04f-11eb-880c-360e8dfeba55.jpg)

## Image Credits

https://www.rawpixel.com/image/2049905/japanese-woodcut-print-kamisa

[2021-06-18 14:34] webmandesign opened #211 "Pattern Submission: Services"
List of 3 services with icons.

---

## Pattern Title

Services

## Pattern Categories

Columns, Buttons

## Screenshots

![Services](https://user-images.githubusercontent.com/2456735/122577390-046c4700-d053-11eb-8d71-e6c3b1663b69.jpg)

## Image Credits

Icons from https://jam-icons.com/

## Block Markup

https://gist.github.com/webmandesign/122d4bf34c53fe115d86d2478e5a76aa

[2021-06-18 14:53] webmandesign opened #212 "Pattern Submission: Team – founders"
Information about 2 team members, suited the best for information about company founders.

---

## Pattern Title

Team – founders

## Pattern Categories

Gallery, Columns, Text

## Screenshots

![Team – founders](https://user-images.githubusercontent.com/2456735/122579832-98d7a900-d055-11eb-8fa2-648f2aca9009.jpg)

## Image Credits

- https://www.rawpixel.com/image/3339305/free-photo-image-god-gree

[2021-06-18 14:59] beafialho commented on #207
Thank you @webmandesign, I think this one is perfect comparing to the other similar Partners pattern. If you agree, I'll close the other one.

Do you have any idea of fake content to replace the lorem ipsum text? I can also help with that if you want.

[2021-06-18 15:04] webmandesign opened #213 "Pattern Submission: Page intro with on-page navigation"
Full screen page title section with links to on-page sections (anchors).

---

## Pattern Title

Page intro with on-page navigation

## Pattern Categories

Header

## Screenshots

![Page intro with on-page navigation](https://user-images.githubusercontent.com/2456735/122581314-354e7b00-d057-11eb-9034-1426198d56c6.jpg)

## Image Credits

https://www.rawpixel.com/image/3282506/free-photo-image-flora

[2021-06-18 15:15] webmandesign opened #214 "Pattern Submission: Page intro with large image"
Full width page title section with large presentation image.

---

## Pattern Title

Page intro with large image

## Pattern Categories

Header

## Screenshots

![Page intro with large image](https://user-images.githubusercontent.com/2456735/122582661-ae020700-d058-11eb-9bc8-3351418e7ac9.jpg)

## Image Credits

https://www.rawpixel.com/image/2776944/free-illustration-image-flower-japanese-hydrange

[2021-06-18 15:22] webmandesign commented on #207
@beafialho Hi Beatriz,

Thank you for your feedback. If you mean my alternative partners logos pattern (#209), I personally prefer that one as it is more unique than this "standard" one :) But surely, feel free whatever suits the WP patterns directory. Is there any reason why both could not be added to the directory please?

As for "lorem ipsum" text, I indeed struggle with those, so any help woul

[2021-06-18 15:31] webmandesign opened #215 "Pattern Submission: Page intro with background and presentation image"
Title says it all.

---

## Pattern Title

Page intro with background and presentation image

## Pattern Categories

Header

## Screenshots

![Page intro with background and presentation image](https://user-images.githubusercontent.com/2456735/122584678-eb679400-d05a-11eb-879f-acb859a2548e.jpg)

## Image Credits

- https://www.rawpixel.com/image/3286706/free-photo-image-plant-free-nature-leaves-ph

[2021-06-18 15:43] kjellr commented on #207
I prefer this one too — we have [a very similar pattern](https://wordpress.org/patterns/pattern/social-gallery/) to #209 already in the repository.

I think the fact that this one is more "standard" is actually a good thing for now — it means more people will probably find it useful. 🙂

I have a small suggestion: Let's add captions so that it's clear these are companies and not just pictures. Here

[2021-06-18 15:44] shaunandrews commented on #189
I like infinite scrolling, especially as the number of patterns grows — it removes all friction from the browsing experience. Its very possible I'm alone here, though.

The current page refreshing is pretty jarring. A load more button would be a much better experience, and would likely necessitate a sticky filter list. Here's a quick prototype I made to see how it could feel: https://cdpn.io/shaun

[2021-06-18 15:44] beafialho commented on #207
@kjellr thanks, this looks great to me!

[2021-06-18 15:47] webmandesign opened #216 "Pattern Submission: Fullscreen image with features"
Fullscreen image with 3 features or services with icons at the bottom.

---

## Pattern Title

Fullscreen image with features

## Pattern Categories

Buttons, Columns

## Screenshots

![Fullscreen image with features](https://user-images.githubusercontent.com/2456735/122586636-35ea1000-d05d-11eb-936c-ca8085b4162d.jpg)

## Image Credits

- https://www.rawpixel.com/image/3305387/free-photo-image-fla

[2021-06-18 15:49] shaunandrews commented on #192
I'm fine with hiding/removing the Tools and Preferences. Maybe we can look at a way to add/update the keyboard shortcuts, a11y options, and help sometime after 5.8?

[2021-06-18 15:55] webmandesign commented on #207
@kjellr @beafialho Thanks guys. I went ahead and updated my gist code accordingly. It's pity though that we can not use Gallery block for such captions. I think adding logos with Gallery block is more manageable for users.

[2021-06-18 15:56] kjellr commented on #207
I agree! The way the gallery block displays captions doesn't work nicely for things like this. 😞

I've added this pattern to the directory:

https://wordpress.org/patterns/pattern/partner-logos/

I'll close https://github.com/WordPress/pattern-directory/issues/209 for now as well. Thanks for the submission!

[2021-06-18 15:56] #207 closed, assigned to nobody

[2021-06-18 15:56] kjellr commented on #209
Closing in favor of #207.

[2021-06-18 15:56] #209 closed, assigned to nobody

[2021-06-18 15:57] webmandesign commented on #207
Thank you!

[2021-06-18 16:07] webmandesign opened #217 "Pattern Submission: Team"
Gallery of 4 team members with information about the team.

---

## Pattern Title

Team

## Pattern Categories

Columns, Gallery

## Screenshots

![Team](https://user-images.githubusercontent.com/2456735/122588993-038de200-d060-11eb-8d6f-80aacaec9a83.jpg)

## Image Credits

- https://www.rawpixel.com/image/2545031/free-illustration-image-statue-man-face
- https://www.rawpixel.com/image/2751330/fre

[2021-06-18 16:15] webmandesign opened #218 "Pattern Submission: Page intro with 2 images and description"
Title says it all.

---

## Pattern Title

Page intro with 2 images and description

## Pattern Categories

Header

## Screenshots

![Page intro with 2 images and description](https://user-images.githubusercontent.com/2456735/122589861-12c15f80-d061-11eb-8486-9ff44eea28e4.jpg)

## Image Credits

- https://www.rawpixel.com/image/3063917/free-illustration-image-japan-vintage-japanese
- https://www.r

[2021-06-18 19:34] circlecube opened #219 "Simple columns of multiple calls to action"
This is a simple pattern to display three columns of images paired with centered simple text and a button. The columns will stack on mobile too. It is a familiar design pattern found on many sites.

---

## Pattern Title
Columns of Call to Actions

## Pattern Categories
Buttons, Columns, Text, Images

## Screenshots
Desktop:
<img width="720" alt="desktop screenshot for block pattern" src="https://

[2021-06-18 20:23] jcasabona opened #220 "Podcast Subscription Box"
With more people getting into podcasting, there should be an easy way to add a podcast subscription box to posts and pages. This block group includes a header, Spotify embed, and 5 common buttons for podcast subscription links, including RSS.

---

## Pattern Title

Podcast Subscription Box

## Pattern Categories

Buttons

## Screenshots

<img width="1333" alt="Screen Shot 2021-06-23 at 9 29 29 AM

[2021-06-19 09:34] carolinan commented on #220
What are the requirements for embeds like the Spotify link above?
Can it use an existing item like above, or does it have to be a placeholder?

[2021-06-19 09:46] carolinan commented on #194
Here is the feedback you did not ask for =D
I like the use of gradients to create a skewed look like this (similar to Seedlet ).

I wonder if it would be more impactful without the icons and with larger text.

[2021-06-19 10:12] carolinan opened #221 "Unable to report pattern"
**Describe the bug**

I tried to report a pattern in the .org pattern directory.
When I click on the link "report pattern", the modal is showing, and I can enter text.

But nothing happens when I click on the report button.
If the report is submitted, then there is no feedback about this action visible to the reporter.

-------------

### The report:

https://wordpress.org/patterns/pattern/call-to

[2021-06-19 10:17] webmandesign commented on #194
@carolinan Hey Carolina! Thanks for your feedback :)

I just recently found out it is now possible to create hard-stop gradients when seeing a [pattern in directory](https://wordpress.org/patterns/pattern/two-images-with-shared-colored-strip/). Though I can imagine editing this type of gradient may prove difficult for users, I tried to test it by creating this block pattern.

I went ahead and test

[2021-06-19 10:33] jcasabona commented on #220
Hi @carolinan! For the Spotify link, you can copy any link to a Spotify episode and change it with the pencil icon. I chose Spotify because it's seemingly the more universal embed, though any embed (Audio, YouTube, etc) could go there. I'm open to suggestions on what can/should be used!

(as an aside, I did it for this tutorial, if that helps provide context: https://www.youtube.com/watch?v=0shZtN

[2021-06-20 02:28] carolinan commented on #194
Yeah they are almost impossible to do with just dragging the handles in the gradient color tool, easier when editing the actual code.

[2021-06-20 15:22] cavalierlife opened #222 "Pattern Submission: Sharp Angled Cover Block Overlay"
This pattern makes use of the cover block's background gradient overlay in a way that many users might not be familiar with. By setting the location of the two points to approximately 50% with one being nearly opaque, and one being completely transparent, a sharp angular dividing line can be created. This is a style that many beginners would like to achieve but don't know how.

---

## Pattern Tit

[2021-06-21 12:18] kjellr commented on #156
Adding another bug to the list here:

- [ ] **Buttons & social links frequently show the wrong text/icon color**

Examples:

https://wordpress.org/patterns/pattern/introduction-with-image-on-the-left/
https://wordpress.org/patterns/pattern/contact-and-social-links/

Editor|Frontend Preview
---|---
<img width="1105" alt="Screen Shot 2021-06-21 at 8 17 17 AM" src="https://user-images.githubuserconte

[2021-06-21 13:32] beafialho commented on #197
Added to the directory! https://wordpress.org/patterns/pattern/two-images-with-text-and-buttons/

[2021-06-21 13:32] #197 closed, assigned to nobody

[2021-06-21 14:47] kjellr commented on #219
Hey there! Thanks for the submission.

We already have a few patterns in this collection that aren't exactly the same as this one, but are similar "three column" layouts:

https://wordpress.org/patterns/pattern/about-me-cards/
https://wordpress.org/patterns/pattern/three-columns-of-text-with-buttons/
https://wordpress.org/patterns/pattern/team-social-cards/
https://wordpress.org/patterns/pattern/t

[2021-06-21 14:47] #219 closed, assigned to nobody

[2021-06-21 14:51] beafialho commented on #196
Let's add this one :+1:

[2021-06-21 14:52] kjellr commented on #196
Thanks! Added:

https://wordpress.org/patterns/pattern/simple-call-to-action/

[2021-06-21 14:52] #196 closed, assigned to nobody

[2021-06-21 15:08] kjellr commented on #211
Thanks for the submission!

We're figuring out things about requirements for this pre-release collection as we go, and as part of that I have some thoughts on icons: In general, I think we should avoid patterns that use icons for now. Mostly because the experience for adding or changing icons right now isn't great — since they are static images, users can't change the icon color, and they won't be

[2021-06-21 15:16] beafialho commented on #198
Lovely call to action pattern @webmandesign! My only suggestion is removing the icon to avoid having icons from a whole bunch of different icon sets in the directory. Also it may not show up correctly with some fonts.

Here's how it looks with some fake text:

<img width="1498" alt="Captura de ecrã 2021-06-21, às 16 11 17" src="https://user-images.githubusercontent.com/65220155/122785947-b2722e00-

[2021-06-21 15:30] kjellr commented on #198
I think it might make sense to remove the word "Eco" from the headline so we don't have a short word all alone on its own line here:

<img width="577" alt="Screen Shot 2021-06-21 at 11 29 51 AM" src="https://user-images.githubusercontent.com/1202812/122788128-0701b300-d284-11eb-8b1e-882c6e8817c1.png">

[2021-06-21 15:35] beafialho commented on #198
Good catch @kjellr. I think it looks way better:

<img width="585" alt="Captura de ecrã 2021-06-21, às 16 34 40" src="https://user-images.githubusercontent.com/65220155/122788828-a3d94600-d2ae-11eb-9641-6fae0693cb32.png">
<img width="1502" alt="Captura de ecrã 2021-06-21, às 16 34 28" src="https://user-images.githubusercontent.com/65220155/122788845-a76ccd00-d2ae-11eb-98c5-ac97612cee61.png">

[2021-06-21 15:45] beafialho commented on #202
Thank you for the submission @chrislema!

We already have a few patterns in this collection that aren't exactly the same as this one, but are very similar "three column" layouts:

https://wordpress.org/patterns/pattern/about-me-cards/
https://wordpress.org/patterns/pattern/three-columns-of-text-with-buttons/
https://wordpress.org/patterns/pattern/team-social-cards/
https://wordpress.org/patterns/p

[2021-06-21 15:45] #202 closed, assigned to nobody

[2021-06-21 17:07] kjellr commented on #198
Cool! My only other piece of feedback is that I think the line height for the headline seems a little tall — It might make sense to tighten that up a little bit. (I know that's supposed to correspond to the height of the text/buttons on the right, so it might be necessary to trim the copy down a little to make things line up better.)

I'm curious how this works on smaller screens too — in the mark

[2021-06-21 19:23] circlecube commented on #219
Yea, I can see how this is similar to these other 3 col layouts. It seemed distinct enough to be unique and useful. It keeps the pattern simple with centered images, text and buttons. No background colors or text styled links or social links, this seemed to be the most generic use case and still be useful.

[2021-06-21 19:25] aaroncampbell commented on #220
@jcasabona I edited the issue to add some backticks around your block markup so you can see it (I thought it was missing until I watched your YouTube video and saw that you had pasted it there). Since a lot of the markup is inside html comments, it doesn't show in the issue without the backticks around it.

[2021-06-21 20:16] coreymckrill commented on #221
I was able to replicate the issue and then discovered it's because we hadn't set up any taxonomy terms yet for the possible reasons for the flag. The idea was to have reasons like "inappropriate", "trademark violation", etc. but I'm not sure what the exact wording should be for them. In the mean time, I added just the term "Other" and now submitting the report is working for me. @carolinan can you

[2021-06-22 02:37] carolinan commented on #220
I was trying not to be rude. I will be less subtle.
I am not asking how the block works. I am asking if self-promotion is allowed in the block pattern directory.

[2021-06-22 11:04] jcasabona commented on #220
Thanks @aaroncampbell!

@carolinan I don't think asking if the block is too self-promotional is rude, especially since that was not my intention.

If the problem is the podcast is my personal podcast, I can change it to use a different one, perhaps from Matt's or Josepha's (I recon Josepha's would be most appropriate).

The block, as far as I can tell, will not render properly without a valid link

[2021-06-22 18:00] webmandesign commented on #198
Hi guys,

Thanks for the feedback. I've updated the gist and here is changelog:

1. Removed "ECO" text and "♺" entity.
2. Applied copy text.
3. Applied `1.1` line height on the heading.

Result:
![large-call-to-action-2](https://user-images.githubusercontent.com/2456735/122974875-13286600-d393-11eb-8429-347c337cce1b.jpg)

The line height and font size are very much theme controlled, in my opinion.

[2021-06-22 18:07] webmandesign commented on #211
In my pattern submissions I use SVG code inside "Custom HTML" block. I also provide source for the icons there. I understand this is not ideal and requires some explanation on how to change the icon and its color. Will there be some "Pattern description" field maybe when patterns directory is lounched?

If this is not acceptable still, can I replace those SVGs with images in my patterns?

I didn't

[2021-06-22 19:46] melchoyce commented on #203
Thanks @webmandesign! There is a similar pattern already (#168), but the brevity of your version is nice, so the original has been updated to match your layout a little more: https://wordpress.org/patterns/pattern/restaurant-menu/

[2021-06-22 19:47] #203 closed, assigned to nobody

[2021-06-22 20:50] webmandesign commented on #203
Hi @melchoyce Thanks for the info.
Wow, I'm really perplexed how I missed that one and how similar it looks! I always check the current patterns in the directory before submitting new one not to duplicate, but this one really made my evening a mysterious session 😃

[2021-06-22 20:53] melchoyce commented on #203
Haha, there's a lot of patterns to sort through now! We're going to launch with a pretty big set 🎉

[2021-06-23 00:26] tellyworth opened #223 "Core pattern translation mechanism"
Here's a proposal for supporting translation of **core** patterns in the pattern directory:

Canonical versions of WordPress core patterns should live in code, in a GitHub repo. A separate repo from WP core, so it can be updated and new patterns added outside of the core release cycle.

Those canonical patterns should be translated as usual with GlotPress. We'll use the same project name etc so th

[2021-06-23 00:41] tellyworth opened #224 "Translation mechanism for submitted patterns"
Here's a proposal for handling translation of third-party user-submitted patterns in the directory.

Some of the pieces of the core pattern translation mechanism would be used, except GlotPress would not be involved at all.

When creating and submitting a new pattern, the user will choose a locale for their pattern. That will be stored in a taxonomy as described in #223.

Translating a pattern to

[2021-06-23 01:23] coreymckrill commented on #223
Some locale thoughts/questions, also relevant to #224:

* Would we want the full list of locales from `GP_Locale`, or only top level ones? (E.g. `es_ES`, `es_MX`, `es_PE` vs. simply `es`)
  * If we made the full list available, we could still have the search prioritize results based on the top level locale, like we do for workshops on WP Learn
* If we use a taxonomy, we have to store the terms in

[2021-06-23 10:55] beafialho commented on #168
Just to give an update we've adapted this pattern to be a little shorter and work better as a portion of an entire webpage: https://wordpress.org/patterns/pattern/restaurant-menu/

[2021-06-23 13:24] aaroncampbell commented on #220
Ultimately I think this is something that will need to be addressed clearly in the documentation for submitting patterns - along with what kinds of images are acceptable, etc - but for now I would 100% advocate that embeds be something that is project-owned. In this case that would be [WP Briefing](https://wordpress.org/news/feed/podcast).

It's not that I have any problem with promoting quality w

[2021-06-23 13:32] jcasabona commented on #220
@aaroncampbell Totally understand! A clear policy is key and I definitely wouldn't want this to be an example of how people can use the Block Pattern directory to promote their own work in some way.

I've updated the markup and the screenshot to reflect using the first episode from WP Briefing instead.

[2021-06-23 14:21] ryelle commented on #223
The concept of core patterns is going away - once the pattern directory is launched, and after it’s integrated into Gutenberg, the core patterns will be no different than any other patterns. Would this just be temporary, until we have a functional editor/remix flow?

[2021-06-23 14:24] ryelle commented on #34
A method for remixing patterns to translate content has been described in #224.

[2021-06-23 14:34] melchoyce commented on #220
I think it should be okay to use WP Briefing, since WordPress "owns" that content. I took a stab at updating the pattern to match the podcast branding:

<img width="1292" alt="Screen Shot 2021-06-23 at 10 28 22 AM" src="https://user-images.githubusercontent.com/2846578/123115551-2fb5b400-d40e-11eb-8c44-2ec8621d82eb.png">

[code]

One question I have, though, is that this particular pattern doesn't

[2021-06-23 14:50] melchoyce commented on #206
Hey! Thanks for the submission.

We have a similar pattern in this collection that displays contact information on the left and an image on the right:

https://wordpress.org/patterns/pattern/contact-and-social-links/

At this time, I don't think it makes sense to add more of this type in this initial pre-release collection. I'm going to close the ticket for now, but feel free to submit your patter

[2021-06-23 14:50] #206 closed, assigned to nobody

[2021-06-23 14:56] kjellr commented on #220
I think using this podcast is perhaps our only real option if we want to use a spotify podcast embed block in one of the core patterns. I do share the concern about the aesthetics not really matching the rest of the patterns though. A couple small suggestions:

- Maybe remove the title and separator, to keep this simpler.
- Maybe try adding some sort of art pattern in the background to help this r

[2021-06-23 18:59] melchoyce commented on #220
Maybe something like this, then?

![image](https://user-images.githubusercontent.com/2846578/123153220-6eaa3080-d433-11eb-8119-f62f6fc32af0.png)

[code]

Decorative Paper from page 49 of Four Picturesque Views in North Wales, engraved in aquatinta by Alken, from drawings made on the spot, by the Rev. B. Broughton (1801). CC0.
https://www.rawpixel.com/image/2369452/free-illustration-image-pattern-t

[2021-06-23 19:09] jcasabona commented on #220
Hey @melchoyce! I just want to say this looks absolutely fantastic - much better than my design skills would allow. I'd be happy if this made it into the directory as shown.

I would like to state my reasoning for multicolor buttons: the colors for the buttons I chose (more or less) match the brand colors for each podcast service (Purple for Apple Podcasts, Green for Spotify, etc). I felt this was

[2021-06-23 19:21] kjellr commented on #220
Thanks both of you! I think that revised version looks great. Let's add that to the collection. One small final note — let's embed the first episode of the podcast, since that's a better introduction than this episode.

Thanks again!

[2021-06-23 19:28] melchoyce commented on #220
Yeah, my concern here was contrast — making sure all those brand colors have AA contrast against white or black text is a challenge, and I also feel a little weird about referencing the brand colors while using off-brand shades.

Done, and added! https://wordpress.org/patterns/pattern/podcast-subscription-box/

Thanks for your contribution, @jcasabona.

[2021-06-23 19:28] #220 closed, assigned to nobody

[2021-06-23 19:30] jcasabona commented on #220
Ah I hadn't considered that - makes sense! Thanks all. Happy to see this in the directory. I'll keep all of this in mind for my next pattern 😄

[2021-06-23 20:45] melchoyce commented on #211
Thanks for your patience @webmandesign! @kjellr published some additional clarifications on the Make/Design blog today: https://make.wordpress.org/design/2021/06/23/update-initial-patterns-for-the-patterns-directory/

[2021-06-23 21:07] webmandesign commented on #211
Thanks for the update @melchoyce! I'll definitely check it out and update my submissions accordingly.

[2021-06-24 00:03] tellyworth commented on #223
Oh! Well that puts a new spin on it. In that case, we can probably abandon most of the ideas in this ticket in favour of #224. Perhaps do a one-time thing where we translate the patterns through GlotPress and import the translated versions.

[2021-06-24 00:08] tellyworth commented on #223
Let's get some input on that from Polyglots folks. It's possible that the expected use cases of patterns is different enough that the list of locales doesn't need to match GlotPress.

It seems like that ought to be a core feature, if it isn't already.

Good point. I think the main issue with postmeta is that the table tends to be pretty big because it's used for all sorts of things.

[2021-06-24 13:16] beafialho commented on #201
Hi @0aveRyan, thank you for your submission!

@kjellr posted [a few guidelines on the Make WordPress Design blog](https://make.wordpress.org/design/2021/06/23/update-initial-patterns-for-the-patterns-directory/) and, for this initial set pre-release, we've been trying to upload patterns that draw inspiration from history, art, and nature, like the patterns that are currently bundled with Gutenberg

[2021-06-24 13:16] #201 closed, assigned to nobody

[2021-06-24 13:27] critterverse opened #225 "Image + Calendar Pattern"
I thought that this could be a fun play on a traditional hanging calendar layout and that it could be nice to have something timely that coincides with the release of the amazing new pattern directory 🔥

Hopefully users will be comfortable changing the image, colors, etc to represent different months/seasons, the image is also using the Duotone feature to make the colors easy to customize. One thi

[2021-06-24 13:27] critterverse opened #226 "Two Column 404 Pattern"
This design was created for one of the previous [FSE calls for testing](https://make.wordpress.org/test/2021/03/30/fse-program-custom-404-page-testing-summary/) and could potentially work as a 404 pattern in the directory. Here's a slightly simplified version.

Note: This pattern was originally shared in https://github.com/WordPress/gutenberg/issues/28921#issuecomment-849900911

---

## Pattern Ca

[2021-06-24 13:27] critterverse opened #227 "Cover with Audio Pattern"
This pattern could be a stylish way to present an Audio block. I imagine the Audio block could be easily swapped for all different kinds of media and embedded content!

---

## Pattern Categories
Images, Media

## Screenshots
![mountain-screenshot](https://user-images.githubusercontent.com/77359364/123264685-44568280-d4c8-11eb-8c7c-1c59458a7605.jpg)

## Image Credits

- https://www.rawpixel.com/im

[2021-06-24 14:30] melchoyce commented on #226
This is fun. What would you think about tinting the image to fit better with that blue background color?

[2021-06-24 14:51] critterverse commented on #226
Oh good call, that looks way better. Thanks for the suggestion @melchoyce!

Edit: Replaced below with a slightly cleaner, slightly brighter version.

![ship-404_v3](https://user-images.githubusercontent.com/77359364/123310843-85648c00-d4f4-11eb-8d86-fd9da1bb02f3.jpg)

<details>
  <summary>Here's the revised image asset</summary>

![ship-linocut-v3](https://user-images.githubusercontent.com/7735936

[2021-06-24 16:06] #103 closed, assigned to ryelle

[2021-06-24 17:41] kjellr opened #228 "Revise existing patterns to better fit the pre-release collection"
In the interest of [curating the current set of pre-release patterns into more of a collection](https://make.wordpress.org/design/2021/06/23/update-initial-patterns-for-the-patterns-directory/), I'd like to use this issue as a place to record some intended revisions for patterns the team has previously added to the directory:

- [x] **[Call to action with columns of text](https://wordpress.org/pat

[2021-06-24 18:27] kjellr commented on #222
Thanks for the submission, @cavalierlife! I've made an attempt to revise this a bit with imagery and copy that fits more closely with the rest of the images in this pre-release collection of patterns. I also added a sharp edge to the gradient, for a more graphic effect:

<img width="1123" alt="Screen Shot 2021-06-24 at 2 24 04 PM" src="https://user-images.githubusercontent.com/1202812/123314051-1e

[2021-06-24 18:28] cavalierlife commented on #222
I love it! Thanks!

[2021-06-24 18:33] kjellr commented on #222
This has been added to the directory! Thank you for the submission!

https://wordpress.org/patterns/pattern/image-with-angled-overlay-and-text/

[2021-06-24 18:33] #222 closed, assigned to nobody

[2021-06-24 18:50] coreymckrill commented on #223
Looking into `register_taxonomy()`, there's a parameter for defining capabilities, so presumably we could set some custom capes and then use `map_meta_cap` to restrict editing of terms.

But... thinking about this more, I think even with some potential for slightly lower performance, I would prefer to go with postmeta instead of taxonomy terms. That way we can define and control the list of locale

[2021-06-24 19:00] psmits1567 commented on #223
As those patterns will grow in counts, where are the translations going to be stored. I hope not in core or Gutenberg. I think a new Meta project ?
Then you can decide if you want to translate them, or leave them alone based on locale decisions

[2021-06-24 19:09] kjellr commented on #193
I like this one because I think users will wonder how it's built.

Here's a slightly simplified version for consideration. In addition to some adjustments to the way the columns work, I took out the background color to lighten it up and simplified the text:

<img width="699" alt="Screen Shot 2021-06-24 at 3 07 16 PM" src="https://user-images.githubusercontent.com/1202812/123319150-0d02c880-d4fe-11

[2021-06-24 20:54] ryelle commented on #228
@kjellr Do you think these will be updated before the release of 5.8?

[2021-06-24 20:58] ryelle commented on #223
That sounds like a good approach, but it might be moot - sounds like the core patterns will be updated (text too). See #228 - I'm assuming the plan is for that to happen before 5.8, but I left a comment to check.

[2021-06-24 21:10] melchoyce commented on #204
Hey @webmandesign! Thanks for this submission.

We have a similar pattern featuring a parallax background, quote, and images: https://wordpress.org/patterns/pattern/offset-gallery-with-fixed-background-and-quote/

To avoid too many similar patterns in the release collection, I'm closing this issue for now, but please feel free to re-submit your pattern once the directory launches!

[2021-06-24 21:10] #204 closed, assigned to nobody

[2021-06-25 00:57] coreymckrill commented on #223
Proof of concept for setting a locale on a pattern using postmeta: #229

[2021-06-25 05:31] naokomc commented on #223
After seeing additional comments, especially the above, I have a different idea now than my initial thoughts.

First - from a translator's standpoint, keeping the “core patterns” concept and applying #224 process for third-party is better than relying on the #224 process for everything.

Reasons:
- We can make use of common translations
- GlotPress can provide glossary term suggestions, error disp

[2021-06-25 06:18] tellyworth commented on #223
Thanks Naoko, that's very helpful!

I guess if we think of them as "official" or "featured" patterns, then it might well make sense to handle translation of those patterns differently even if the old sense of "core" pattern is going away.

Another data point that you mentioned to me privately but I think bears repeating here is that WordPress.com uses (its own) GlotPress for translating text conte

[2021-06-25 10:28] beafialho commented on #193
I like this one too, let's add it!

[2021-06-25 10:36] beafialho commented on #193
This pattern works nicely with these specific images but I'm not sure it would hold up with others. It's also not the best layout on mobile. However, if everyone thinks it's a good addition to the directory, I do not object.

[2021-06-25 12:09] kjellr commented on #228
@ryelle definitely.

[2021-06-25 14:20] #60 closed, assigned to StevenDufresne

[2021-06-25 15:05] melchoyce commented on #205
Thanks @webmandesign! I took a stab at updating this to match the [topic recommendations](https://make.wordpress.org/design/2021/06/23/update-initial-patterns-for-the-patterns-directory/):

![image](https://user-images.githubusercontent.com/2846578/123444560-067b5c00-d5a5-11eb-8860-bcbe7c64e598.png)

[code]

The Lunar Roving Vehicle (LRV) was designed to transport astronauts and materials on the M